235	1	Présidentielle 2022 : l’embargo européen sur le pétrole russe repoussé après l’élection pour ne pas favoriser Marine Le Pen ?
235	3	L’Union européenne serait sur le point de décréter un embargo sur le pétrole russe, mais attendrait l’issue de l’élection présidentielle française, afin de ne pas favoriser la candidature de Marine Le Pen. 
235	4	La guerre en Ukraine se poursuit, au 51e jour de l’offensive russe. Selon les informations du New York Times, dont Le Figaro s’est fait l’écho vendredi 15 avril, l’Union européenne serait sur le point de décréter un embargo sur le pétrole russe. Toutefois, d’après le quotidien américain, les négociations concernant les modalités de cet embargo ne devraient débuter qu’après le second tour de l’élection présidentielle française, qui se tiendra le 24 avril. Et cela, pour éviter de favoriser la candidature de Marine Le Pen. 
235	5	L’objectif de cette démarche serait donc de s’assurer que l’impact d’une telle mesure sur la hausse du prix de l’énergie ne puisse pas favoriser la candidate du Rassemblement national. Et anéantir ainsi les chances du président-candidat Emmanuel Macron. C’est du moins ce qu’avance le journal new-yorkais, qui s’appuie sur des sources officielles et diplomatiques.
235	7	L’embargo sur le pétrole russe est une mesure vis-à-vis de laquelle un certain nombre de gouvernements se disent réticents et pourrait traîner. La mesure est « complexe » et va prendre « plusieurs mois », a indiqué une source citée par Le Figaro. « L’adoption de mesures sur le pétrole impose de déboucler les contrats existants, de trouver des alternatives et d’éviter leur contournement. Cela ne va pas se faire du jour au lendemain. Il faudra au moins plusieurs mois », a expliqué un responsable européen.
