23206	1	Pelosi à Taïwan : des Chinois nationalistes fustigent la réaction «trop timorée» de leur gouvernement
23206	3	Fait assez rare en Chine, des internautes ont ouvertement critiqué la réaction de leur gouvernement auquel ils reprochent de ne pas avoir interdit l'atterrissage de Nancy Pelosi à Taïwan.
23206	5	Il est assez inhabituel de voir des Chinois nationalistes critiquer publiquement leur gouvernement. Pourtant, après la visite surprise de Nancy Pelosi à Taïwan, certains n'y sont pas allés de main morte. Dans un article publié le jeudi 4 août, le New York Times a rapporté plusieurs témoignages de Chinois mécontents de l'absence de réaction directe du gouvernement chinois lorsque l'avion de la cheffe des députés américains a atterri à Taïpei le 3 août dernier.
23206	7	«Ne faites pas une démonstration de pouvoir si vous n'avez pas le pouvoir», a lancé un utilisateur sur le réseau Weibo, par exemple. «Quelle humiliation», a encore écrit un autre. Certains ont comparé l'armée populaire de libération à l'équipe de foot chinoise, considérée comme la risée du pays, ne s'étant jamais qualifiée une seule fois pour la coupe du monde. D'autres réactions ont aussi été plus sulfureuses : quelques membres du Parti communiste ont déclaré sur We Chat qu'ils aimeraient démissionner par honte de leur gouvernement et un vétéran de l'armée a affirmé ne plus vouloir évoquer son expérience militaire pour les mêmes raisons, rapporte le New York Times.
23206	9	L'origine de leur colère ? La Chine, qui avait promis des répercussions à la suite de la visite de Pelosi, ne les aurait pas mises à exécution selon eux. Lorsque la présidente de la Chambre des représentants des États-Unis avait évoqué sa visite à Taïwan, bien qu'elle ait précisé «venir en paix», la Chine, furieuse, s'était empressée d'évoquer une potentielle escalade militaire si la visite de la speaker était maintenue. Quelques minutes après l'atterrissage de cette dernière, la Chine avait annoncé des «actions militaires ciblées» autour de l'île et de sa volonté d'instaurer des sanctions économiques à l'égard de son voisin. Mais l'absence d'actions militaires concrète à l'arrivée de Nancy Pelosi a déçu certains nationalistes chinois. Mercredi après-midi, une porte-parole du ministère des Affaires étrangères, Hua Chunying, a répondu en affirmant penser que le peuple chinois était un peuple rationnel et qu'il avait confiance en son pays et son gouvernement.
23206	11	Le gouvernement chinois est passé à l'action
23206	12	Toutefois, jeudi 4 août, la Chine a entamé une série de manœuvres militaires autour de Taïwan. Cinq missiles se sont écrasés dans les eaux territoriales du ­Japon, selon Tokyo. Au moins 11 autres auraient frappé les eaux au nord, au sud puis à l'est de l'île. En tout, 27 avions de l'armée populaire de libération se sont introduits dans les zones avoisinantes. Des missiles auraient survolé les îles Matsu, à quelques kilomètres des côtes chinoises.
23206	14	Ce vendredi,des avions et des navires de guerre chinois ont franchi la «ligne médiane» du détroit de Taïwan, a annoncé le gouvernement taïwanais. «À partir de 11 heures, de multiples groupes d'avions de guerre et de navires de guerre chinois ont effectué des exercices autour du détroit de Taïwan et ont franchi la ligne médiane du détroit», a indiqué le gouvernement dans un communiqué. «Cet exercice militaire chinois, qu'il s'agisse du lancement de missiles balistiques ou du franchissement délibéré de la ligne médiane du détroit, est un acte hautement provocateur», a-t-il protesté. Ce qui épongera, peut être, la déception des nationalistes chinois.