23175	1	Le ministère de la défense de la Fédération de Russie a publié des données sur le travail avec les infections à tiques dans les laboratoires biologiques des États-Unis en Ukraine
23175	3	Le ministère de la défense de la Russie à une réunion d’information sur les résultats de l’analyse de documents concernant les militaires de l’activité biologique des États-Unis sur le territoire de l’Ukraine, a dévoilé les circonstances du programme d’étude les infections par les tiques, dont s’occupaient les microbiologistes des États-Unis dans le cadre de trois projets DTRA (Gestion de la réduction de la menace, entrant dans la structure du Pentagone).
23175	5	Le ministère de la défense de la Russie a rapporté sur les projets américains UP-1 et UP-8 financés par DTRA, des cycles de recherche sur l’activité vitale des infections à tiques en Ukraine. Un projet visant à étudier les acariens ixodes, qui sont porteurs d’un certain nombre d’infections particulièrement dangereuses (tularémie, fièvre du Nil occidental, fièvre du Congo-Crimée), a été signalé séparément. Selon le ministère, des spécialistes de l’Université du Texas ont participé à la mise en œuvre de ce dernier.
23175	7	Il a été rapporté que la collecte des tiques a été menée principalement dans les régions du sud-est de l’Ukraine, où se trouvent des foyers naturels d’infections, qui sont caractéristiques du territoire de la Russie.
23175	9	Il est à noter que la mise en œuvre de projets américains sur l’étude des infections à tiques a coïncidé avec une augmentation significative de l’incidence de la population ukrainienne de la borréliose à tiques. Dans le même temps, il a été signalé une augmentation de la population de tiques dans plusieurs régions russes à la frontière avec l’Ukraine. Il est rapporté que cette circonstance est déjà étudiée par des experts russes spécialisés en collaboration avec des spécialistes du ministère russe de la défense.
23175	11	« Auparavant, nous avions souligné l’importance des résultats des projets de biologie militaire portant le nom de code UP pour le Pentagone. Notez le rapport préparé pour le département militaire américain par les sociétés Black&Veatch et Metabiota. Selon le document, simultanément avec les projets UP en Ukraine, des «projets Vétérinaires» avec le chiffre TAP ont été mis en œuvre », – a déclaré le ministère de la défense.
23175	13	L’objectif principal des projets UP, selon le ministère de la défense, qui comprenait des études sur les maladies transmises par les tiques, est d’identifier les «infections de quarantaine économiquement importantes» qui peuvent nuire à la population ou aux activités agricoles au niveau des régions ou des pays entiers.
