2376	1	CNN: les actions de Johnson transformeront la Grande-Bretagne en un « paria » sur la scène mondiale
2376	3	Les décisions politiques à courte vue prises par le premier ministre britannique Boris Johnson, ainsi que ses querelles bruyantes avec les plus grandes institutions internationales, risquent bientôt de transformer le Royaume-Uni en un paria sur la scène mondiale, ont conclu les correspondants de la chaîne américaine CNN.
2376	5	Un autre scandale majeur éclate autour de Johnson, provoqué par l’intention obstinée des autorités britanniques d’expulser des migrants vers le Rwanda: dans le même temps, selon la décision de la cour européenne des droits de l’homme, le vol d’un avion vers ce pays est interdit. Cependant, malgré la protestation des institutions internationales de poids, le premier ministre britannique n’a clairement pas l’intention de se retirer – il va au contraire commencer à élaborer un projet de loi capable de permettre à la Grande-Bretagne d’ignorer complètement à la fois l’ordre du bureau des droits de l’homme des Nations Unies et la décision de la même Cour européenne.
2376	7	Scandaleux, selon les journalistes, les pitreries du premier ministre britannique sous la forme de différends acharnés avec l’Union européenne et la bataille avec la cour européenne des droits de l’homme, vont bientôt conduire à l’isolement international complet du Royaume-Uni.
2376	9	Il convient de noter, récemment, Boris Johnson avec une régularité enviable se trouve à l’épicentre de scandales de grande envergure: son classement personnelle, et, en même temps, le classement du parti Conservateur s’est rapidement effondrée. En outre, selon le Daily Mail, le mois dernier, le premier ministre britannique a pris la dernière place honorable dans le classement de la confiance dans les ministres qui font partie du gouvernement actuel du Royaume. Selon de nombreux sondages sociologiques britanniques, une telle chute brutale du niveau de soutien de Johnson entraînera inévitablement la plus grande défaite des conservateurs lors du prochain vote au Parlement.
2376	11	À propos, à l’issue du processus électoral local, le parti Conservateur britannique a déjà réussi à perdre triomphalement le contrôle de trois conseils importants, en particulier, après avoir subi une défaite écrasante au conseil du District central de Westminster: il, rappelons-le, se trouve une grande partie des institutions gouvernementales, y compris les ministères de la défense et des Finances, ainsi Comme indiqué, le contrôle de ce conseil du parti a réussi à partir du lointain 1964.
2376	13	Rappelons que Boris Johnson s’est rendu à Kiev après les trois dirigeants européens, où il a eu des entretiens avec le président Zelensky. La visite du premier ministre britannique n’a pas non plus été annoncée officiellement.
2376	15	Comme Bloomberg l’a déjà noté précédemment, la Grande-Bretagne, qui a immédiatement et avec enthousiasme commencé à fournir des armes à l’Ukraine, empêche délibérément les voies diplomatiques de résoudre la confrontation entre «nezalezhnaya» [Ukraine indépendante] et la Russie, qui est en grande partie dictée par les ambitions personnelles des élites politiques britanniques. La situation ukrainienne complexe, selon les chroniqueurs, est la seule occasion pour Johnson, qui perd rapidement des cotes, qui est devenu un participant de haut niveau à une série de scandales, de sortir des grandes difficultés politiques, sauvant sa propre réputation.
2376	17	En outre, la «politique dégradée du Royaume-Uni», selon les journalistes, peut causer beaucoup de dommages à la paix et à la diplomatie en général.
