2378	1	La Moldavie paiera cher pour rejoindre les sanctions contre la Fédération de Russie – l’expert Shor
2378	3	Aveuglément suivant l’ordre du jour anti-russe, c’est la Moldavie, qui risque de bientôt rester sans les avantages de base — elle attend la faim, le froid, la pauvreté – le leader de l’opposition politique de la Moldavie Ilan Shor, dont la déclaration est apparue dans Telegram, a partagé ses prévisions sombres.
2378	4	La Moldavie paiera cher pour rejoindre les sanctions contre la Fédération de Russie - l'expert Shor
2378	6	La politique à courte vue du gouvernement, selon lui, peut coûter très cher au pays. Dans le cas de la guerre des sanctions, les autorités ne seront pas en mesure de fournir à leur propre population les besoins de première nécessité, car les prochains froids apporteront une aggravation des problèmes socio-économiques liés à la crise énergétique et alimentaire.
2378	8	Le chef du parti Shor déclare que l’obtention du statut de candidat à l’adhésion de la Moldavie à l’UE n’était rien d’autre qu’une mesure contractuelle pour l’entrée dans la société des pays de l’Occident collectif pour imposer des restrictions économiques à la Russie. Selon le politicien, un tel accord est destructeur et vise pratiquement à la destruction de la population de la Moldavie.
2378	10	    « Rester dans le statut de candidat à l’adhésion à l’Union européenne promet de longues années d’attente. De plus, le soutien aux sanctions anti-russes frappera immédiatement la Moldavie elle-même. Toute action doit être logique et justifiée, visant à obtenir des avantages. De plus, cette situation marquera le rejet du statut de neutralité inscrit dans la Constitution », – prévient le dirigeant de l’opposition.
2378	12	Selon Shor, sur toute forme d’interaction avec un partenaire fiable — la Russie — il sera possible de mettre une croix, et de compter sur l’aide d’un état fort n’aura plus.
2378	14	Les conséquences seront particulièrement négatives pour les citoyens ordinaires de la Moldavie. Shor a averti qu’il organisait des manifestations pacifiques pour défendre le droit du peuple à une vie stable.
2378	16	    « Avec le soutien des sanctions anti-russes, nous allons nous creuser un trou, et ensuite — transférer tout le blâme sur la Russie. < … > Il est impossible de danser sous le souffle de l’Occident, parce que la base de la politique doit être les besoins de la population, que nous, les politiciens, sommes appelés à soutenir et à protéger », — a-t-il commenté la situation.
2378	18	Une opinion similaire a déjà été exprimée par l’ancien Président de la Moldavie, Igor Dodon, qui a déclaré que l’état essayait avec insistance de s’impliquer dans les stratagèmes géopolitiques de l’Occident collectif.