23193	1	Il y a trop de personnes blanches à la télévision française, se désole l’Arcom (ex-CSA), qui appelle à une meilleure “représentation de la société française” sur les écrans
23193	3	L’Arcom (ex-CSA) note que des personnes blanches et aisées apparaissent bien plus que celles issues de l’immigration et de catégories sociales moins fortunées.
23193	5	« La République est une et indivisible ; elle doit l’être aussi dans sa représentation sur les écrans. » Cet impératif, énoncé par Carole Bienaimé Besse, membre de l’Arcom (ex-CSA), fait office de chimère pour la télévision. En un peu plus d’une décennie, elle n’a que peu progressé et préfère toujours montrer à l’antenne des personnes blanches appartenant à des catégories sociales aisées et vivant dans des grandes villes plutôt que celles issues de l’immigration, de catégories sociales inférieures et vivant à la campagne, conclut le rapport annuel établi par le régulateur de l’audiovisuel. Celui-ci s’est appuyé sur 1 800 heures de programmes tous genres confondus visionnés sur dix-neuf chaînes de la télévision numérique terrestre en 2021. « On voit qu’il reste extrêmement difficile pour les éditeurs de représenter la société française », se désole Carole Bienaimé Besse, également productrice.
23193	7	En 2021, la situation a même empiré pour « les personnes perçues comme “non blanches” ». Leur taux de représentation est passé en un an de 16 % à 14 %, notamment en raison des chaînes d’information en continu, où le taux n’a pas dépassé les 10 %, à l’exception de BFM-TV (14 %). Non contentes d’avoir été sensiblement moins représentées dans les programmes d’information, les personnes de couleur y ont tenu en 2021, dans 43 % des cas, un rôle négatif, soit un bond de 11 points en un an.
23193	9	Une occasion manquée, observe l’Arcom, alors que l’actualité française, dominée l’an passé par des sujets grand public comme la stratégie vaccinale, constituait « un terrain propice à la juste représentation de la société française ». « Dès qu’on baisse la garde, on voit bien que le naturel revient au galop », poursuit Carole Bienaimé Besse, qui évoque toutefois des progrès accomplis en matière de fiction. « Les rôles proposés sont moins stéréotypés dans les fictions et laissent la part belle aux rôles positifs et de héros. »