238	1	Biden qualifie l’idéologie MAGA d' »extrême »
238	3	Alors que son programme est au point mort, que l’inflation est hors de contrôle et que la plupart des Américains refusent de croire le discours de la Maison Blanche selon lequel tout est de la faute de Poutine, le président Joe Biden s’en prend maintenant au soi-disant « programme MAGA » (Make America Great Again).
238	5	Dans les remarques qu’il a faites mercredi avant la décision de la Fed sur les taux, Biden a suggéré que les propositions du Parti Républicain sont en grande partie conformes à la philosophie de Donald Trump « Make America Great Again », qui prône une baisse des impôts, des politiques commerciales « America first » et la sécurité des frontières.
238	7	Au cours de son discours, Biden a cherché à distancer son propre programme économique de celui de M. Trump, en disant : « C’est un programme MAGA. Pendant ce temps, les millionnaires, les milliardaires et les entreprises s’en tirent à bon compte », faisant référence à une proposition du sénateur Rick Scott, qui préside l’organisation de campagne du parti républicain au Sénat.
238	9	« Imaginez ça. Imaginez simplement cela. Je pense que c’est vraiment scandaleux », a poursuivi Biden, ajoutant : « C’est extrême, comme la plupart des choses MAGA le sont. »
238	11	« Pour ce qui est de l’avenir, j’ai un plan pour réduire encore plus le déficit, ce qui contribuera à réduire les pressions inflationnistes et à diminuer les coûts pour tous », a déclaré Biden, citant des éléments du plan « Build Back Better » de son parti, qui est au point mort et qui a été rejeté par les sénateurs démocrates Joe Manchin (WV) et Kyrsten Sinema (AZ).
238	13	L’inflation étant dans tous les esprits avant la réunion de la Fed, Biden s’est accroché à sa promesse de réduire le déficit, ce que M. Manchin et d’autres démocrates modérés soutiennent, tout en accusant l’invasion de l’Ukraine par le président russe Vladimir Poutine d’être responsable de la flambée des factures d’épicerie et de la douleur à la pompe.
238	15	Selon Biden, il peut réduire le déficit de plus de 1 500 milliards de dollars cette année. Dans le même temps, il demande au Congrès 33 milliards de dollars d’aide supplémentaire à l’Ukraine, en plus des 22,5 milliards qu’il avait déjà demandés.
238	17	Cela fait beaucoup de procureurs virés pour une aide !