23137	1	La Hongrie déclare la guerre à l'Union Européenne : "personne ne nous imposera un embargo sur le gaz russe"
23137	3	Plus de trois mois après le début de la guerre en Ukraine et les sanctions prononcées par l’Occident contre la Russie, la Hongrie maintient son bras de fer avec l’Union Européenne et refuse catégoriquement tout embargo sur le gaz russe
23137	5	Plus de trois mois après les lourdes sanctions économiques infligées à la Russie, la Hongrie ne décolère pas. Ce pays dont l’économie est très dépendante du gaz russe avait déjà fait savoir qu’elle n’avait aucunement l’intention de se passer du gaz russe. Et trois mois plus tard, Budapest maintient son bras de fer avec l’UE.
23137	7	En effet, d’après le média hongrois BudapestTimes.hu, le ministre hongrois des Affaires étrangères, Peter Szijjarto, a fait savoir que l’Etat hongrois, dirigé par Viktor Orban, n’envisage même pas de discuter de l’embargo sur le gaz russe avec les autorités européennes. Pour le chef de la Diplomatie hongroise, il est hors de question que l’UE impose cet embargo à tous les Etats membres.
23137	9	“Nous n’avons pas de problème à l’idée que l’Union Européenne cherche de nouvelles sources d’approvisionnement en gaz, mais la participation doit être volontaire. Aucune obligation relative au ravitaillement (en gaz, ndlr) ne peut être imposée aux Etats membres”, prévient-il.
23137	11	Il convient de rappeler que ce n’est pas la première fois que le gouvernement de Viktor Orban affiche publiquement son désaccord d’imposer un embargo sur le gaz russe. En effet, d’après le média américain Bloomberg qui citait un haut responsable du gouvernement hongrois, Budapest est totalement opposé à cette mesure, allant jusqu’à évoquer l’hypothèse de mettre son véto.
23137	13	“De telles décisions exigent l’unanimité, cela n’a aucun sens que la Commission impose des sanctions affectant le gaz et le pétrole russe et qui mettraient en danger l’approvisionnement de la Hongrie”, avait dénoncé le ministre Gergely Gulyas lors de son passage sur la chaîne HirTV.
23137	15	Face à une éventuelle coupure du gaz russe en Occident, ce qui aurait des conséquences désastreuses pour la Hongrie, le premier ministre hongrois, Viktor Orban, n’avait pas manqué de tirer la sonnette d’alarme en mars dernier. “Nous devons prendre en compte le fait que la plupart de nos importations en pétrole et gaz proviennent de la Russie. 90% des foyers en Hongrie se réchauffent avec du gaz russe”, avait-il alerté, ajoutant que sans ce précieux gaz russe, l’économie hongroise s’arrêterait du jour au lendemain.
