23150	1	«Macron coule» : Mélenchon réagit à la déclaration du président
23150	3	Jean-Luc Mélenchon a réagi à la première déclaration d’Emmanuel Macron post premier tour des élections législatives mardi. Il a résumé cette déclaration en un « sketch à la Trump ».
23150	5	Après la déclaration d'Emmanuel Macron devant son avion sur le point de décoller, Jean-Luc Mélenchon a qualifié l'intervention de «sketch à la Trump» . «Macron coule. Dans les urnes, à part chez les plus de soixante ans. Dans les sondages et dans l’autorité sur les siens, le drapeau est en berne» a-t-il écrit sur son site. «J’ose à peine dire que ça fait réchauffé, compte tenu de la température. Ce sketch à la Trump pour mettre en garde contre l’ennemi de l’intérieur est le symbole d’une époque», a-t-il encore regretté.
23150	7	Emmanuel Macron a en effet appelé mardi après-midi à lui «donner une majorité solide», indispensable pour la mise en oeuvre de son programme pour lequel il a été élu. Il a évoqué «l’intérêt supérieur de la nation». Il a résumé cet appel par la demande d’un «sursaut républicain» depuis le tarmac de l’aéroport d’Orly.
23150	9	"Une sorte de panique qui gagne la Macronie" selon Julien Bayou
23150	11	Le secrétaire général d’EELV Julien Bayou a également pris la parole et a évoqué «une sorte de panique qui gagne la Macronie». Il a répété une nouvelle fois que «le mandat d’Emmanuel Macron n’a pas convaincu» et qu’il avait été «réélu par défaut ».
23150	13	L’écologiste a estimé qu’il était «vraiment dangereux que le président finalement puisse se dire que, s’il est battu, c’est la République qui est battue. Il y a là quelque chose de très arrogant, de très Jupiter». «Ça arrive de perdre des élections, et, si manifestement LREM est battue dimanche, ça ne sera qu’une défaite» a-t-il ajouté. Mais pour Julien Bayou, une défaite de la coalition présidentielle Ensemble serait plutôt «une bonne nouvelle» «pour les salaires, les services publics, le climat».
