2355	1	Leur dernière intox : Poutine serait l’homme le plus riche du monde
2355	3	Shooté au biotox et aux liftings, bouffi de cortisone, misanthrope, irrationnel  gay, autiste, cancéreux, brutal, obsessionnel, ayant très peur des chamans, parkinsonnien, totalement fou, atteint du syndrome de la démarche du flingueur… Au cours des décennies, l’on a prêté à Vladimir Poutine, tous les travers, toutes les maladies physiques et mentales et plus encore, depuis le conflit Otan/Russie… Et dans la grisaille ambiante, c’est Voici qui vient nous réjouir.
2355	4	 « Elon Musk estime qu’il n’est pas l’homme le plus riche du monde. C’est auprès du site Insider le 26 mars dernier, qu’il a expliqué cela. Alors que le journaliste lui demandait « Comment vous sentez-vous en tant que personne la plus riche du monde ?», sa réponse a pu étonner : « Je pense que Poutine est nettement plus riche que moi », a-t-il assuré. Au jour du 3 avril 2022, le patrimoine de l’homme d’affaires est estimé à 287,6 milliards (260 milliards d’euros), d’après le magazine Forbes. »
2355	6	« Le maître du Kremlin perçoit un salaire annuel de 140 000 dollars (127 000 euros), a rapporté le Site Fortune le 26 mars dernier. « Mais beaucoup pensent que ce n’est que la partie immergée de l’iceberg… C’est le cas de Bill Browder, qui a témoigné auprès de The Atlantic en 2017. Il estime que Vladimir Poutine « a accumulé 200 milliards de dollars (181 milliards d’euros) de gains mal acquis ». De nombreux biens sont attribués à Vladimir Poutine : un palais de 1,4 milliard de dollars sur la mer Noire, un appartement de 4 millions de dollars à Monaco et, un yacht de 100 millions de dollars, 19 maisons, 700 voitures, 58 avions et hélicoptères, et parmi eux un avion de 716 millions de dollars. Mais Vladimir Poutine nie tout cela : les propriétés ne sont pas à son nom, mais à diverses sociétés ou à des oligarques russes. »
2355	8	En l’occurrence, il a raison de nier. Disposant du parc automobile du Kremlin et des avions de l’Etat russe, posséder en plus 700 voitures et 58 avions relèverait vraiment d’un problème psychiatrique. Ce n’est donc pas un hasard si cette « info » délirante vient de tomber. Depuis le début du conflit Otan/Russie,  Américains et Européens tentent sans relâche de faire passer Poutine pour un dingue et le pitre Zelenski, déguisé en militaire télévisuel, pour un héros.
2355	9	Dans le genre qui ne tourne pas rond du tout et le prouve à chaque intervention, il faudrait parler du très inquiétant Biden. Voilà un cas de sénilité avéré. Si la santé mentale de Poutine ne met pas la Russie en péril, celle de Joe fait des ravages en Europe!