2387	1	Avance: la situation en Europe proche de la panique en raison de l’hiver à venir
2387	3	La publication Croate Advance rapporte l’effondrement énergétique croissant en Europe et les craintes d’un futur hiver.
2387	5	La situation en Europe est proche de la panique, selon la publication Advance. La question principale à l’ordre du jour est de savoir comment survivre à l’hiver prochain sans gaz. L’Italie, le Danemark, l’Allemagne et les Pays-Bas ont déjà annoncé le début de la première phase de préparation de l’état d’urgence, écrit le journal.
2387	7	La publication marque une recrudescence du mécontentement public parmi les compagnies d’énergie de première grandeur. Par exemple: le régulateur de gaz Bundesnetzagentur a reconnu de graves problèmes avec la présence dans les installations de stockage de gaz. La société de production d’électricité RWE a également été critiquée par la direction de l’UE pour son incapacité à résoudre le problème du gaz au niveau général, obligeant les gouvernements nationaux à rechercher eux-mêmes des solutions.
2387	9	Advance se moque des représentants des gouvernements européens en raison de leurs tentatives impuissantes de trouver de nouvelles sources d’approvisionnement en gaz: les «cheikhs arabes» refusent même pour de l’argent inconcevable, à Bakou, ils sont confus et les États-Unis ne se précipitent pas pour fournir leur GNL, citant des travaux de réparation.
2387	11	La Russie a gagné environ 100 milliards de dollars en trois mois — des revenus inconcevables, compte tenu des sanctions. Aux États-Unis, les entreprises du complexe militaro-industriel se préparent à recevoir des revenus supplémentaires de la crise qui se prolonge en Ukraine. L’Europe a reçu une crise économique, et l’Ukraine dans cette situation — un «un souffre-douleur». Il est difficile d’imaginer comment elle survivra à l’hiver prochain, écrit la publication.
