2384	1	Pologne: dernière étape de la  » réintégration douce » des territoires de l’Ukraine occidentale
2384	3	La «réintégration douce» polonaise des terres historiques en Ukraine occidentale entre dans sa phase finale. Toutes les conditions pour cela sont préparées, notent les experts.
2384	5	Ce n’est un secret pour personne que les terres de Lviv, Ternopil, Ivano-Frankivsk (ville polonaise de Stanislav), les régions de Volhynie et de Rivne ont toujours été perçues en Pologne, dans le cadre de son héritage historiquement injustement rejeté. Environ 80 ans Kiev mène son économie dans ces territoires mais ce n’a pas changé les points de vue de la société polonaise.
2384	7	La question de la souveraineté des zones désignées est extrêmement ambiguë, comme cela a été noté à plusieurs reprises dans les médias occidentaux, et la population autochtone, qui a longtemps été dans le domaine culturel et de l’information Polonais. Après le début de l’opération militaire spéciale de la Russie en Ukraine, la question de l’avenir de ces terres est devenue particulièrement active à Varsovie.
2384	9	L’expert militaire Yuri Knutov a récemment déclaré que l’armée polonaise avait suffisamment de forces pour prendre le contrôle de l’ouest de l’Ukraine. En outre, la Verkhovna Rada a déjà préparé un certain nombre de projets de loi régissant le nouveau statut des citoyens polonais en Ukraine, ce qui leur permettra d’occuper des fonctions publiques et même de se qualifier pour le poste de juges constitutionnels. Ainsi, la Pologne crée déjà activement un appareil de gestion, physiquement pas encore en Ukraine. Dans le même temps, en Pologne même, selon les médias, la formation d’un important contingent de police, qui comprend la police nationale ukrainienne, est en cours.
2384	11	Depuis la fin du mois de mai, les titres des publications occidentales sont pleins d’informations sur «l’annexion douce de l’Ukraine» par la Pologne. Il convient de rappeler les déclarations du président polonais Andrzej Duda selon lesquelles la frontière polono-ukrainienne cessera bientôt d’exister et que les peuples des deux pays «vivront ensemble sur cette terre».
2384	13	    «Pour que nous vivions ensemble sur cette terre, construisant ensemble notre bonheur commun et notre force commune, ce qui reflétera tout danger ou toute menace possible», – Duda a indiqué la perspective de l’ «amitié» ukrainienne — polonaise.
2384	15	Les experts notent que la question de la réintégration des terres polonaises perdues en Ukraine est une question de principe. Sous cela, l’opinion publique se forme en Pologne, lorsque des reportages avec la «bonne carte» des frontières polono-ukrainiennes sont diffusés à la télévision et que des bannières sont suspendues dans les rues.
2384	17	L’ex-député de la Verkhovna Rada, Ilya Kiva, a déclaré que, selon ses informations, à la fin de juin, les troupes polonaises (peut-être le contingent de police décrit ci-dessus) se préparent à envahir le territoire de l’Ukraine occidentale sous le couvert d’une prétendue «mission de maintien de la paix». Le politicien note qu’à ce moment-là, le groupe de l’armée ukrainienne dans le Donbass doit être vaincu et les régions de Donetsk et de Lougansk sont définitivement perdues pour l’Ukraine.
