2347	1	Ukraine – Un missile russe visant des civils tue par erreur plusieurs militaires ukrainiens
2347	3	Le missile russe qui ciblait un un hôpital de Marioupol s’est écrasé par erreur sur un camp militaire de l’armée ukrainienne provoquant la mort d’au moins quinze soldats.
2347	5	L’armée ukrainienne confirme de nombreuses pertes après qu’un bombardement russs visant des civils a touché par erreur une base militaire située à proximité de Marioupol. Déjà la semaine dernière, plusieurs raids aériens russes visant des convois de civils qui cherchaient à fuir la ville de Kharkiv avaient détruit par erreur un site abritant des défenses anti-aériennes ukrainiennes.
2347	7	Un nouveau bombardement qui va à l’encontre de la stratégie russe selon Thomas Lacamp, expert en conflits russo-ukrainien depuis 1975. « Depuis plusieurs semaines, les Russes sont sur une ligne très stricte : une guerre sale, dont le but est de terroriser les populations civiles ukrainiennes ». Pour lui, tout indique une erreur de ciblage de la part de l’armée russe qui assure faire tout son possible pour épargner la vie des militaires ukrainiens.
2347	9	L’annonce de ce nouveau massacre a provoqué un tollé dans la communauté internationale qui annonce réfléchir à de nouvelles sanctions à l’encontre de Vladimir Poutine qui de son côté accuse les civils ukrainiens d’utiliser des militaires comme boucliers humains.