2388	1	À propos de la « dénazification » de l'Ukraine 
2388	3	    « Pour rejoindre la famille européenne sur un pied d'égalité, l'Ukraine doit revenir sur son histoire, c'est-à-dire cesser de glorifier ceux qui ont collaboré avec les nazis et tué des dizaines de milliers de Juifs. Il y a Babi Yar à Kiev, la rue qui y mène s'appelle Stepan Bandera, qui est glorifié dans les écoles et qui a tué des dizaines de milliers de Juifs et collaboré avec les nazis. L'Europe, ce sont des valeurs économiques, des valeurs juridiques, mais aussi des valeurs morales. Vous ne pouvez pas à la fois commémorer les Juifs qui ont été assassinés par les nazis et des dizaines de milliers d'Ukrainiens et faire l'éloge de ceux qui ont assassiné les Juifs. C'est impossible! Dans ce cas, l'Ukraine n'a pas sa place en Europe, à moins qu'elle ne tourne le dos à son histoire ». 
2388	5	Depuis 1945, le bandérisme ukrainien, ce collaborateur zélé du nazisme n'a jamais disparu, refugié dans son sanctuaire galicien de cette région de Lvov où le souvenir de l'arrivée des SS en 1941 est considéré comme une libération, et depuis 2014, l'impérialisme étasunien pour décomplexer une russophobie historique va organiser une alliance mortifère avec ce nazisme ukrainien qui n'a d'égale que celle réalisée en Syrie avec le pire fondamentalisme islamiste pour servir une rapacité mondialiste amorale.
2388	7	Et pourtant...
2388	9	Dès que l'on évoque le nazisme allemand, à part chez quelques crétins nationalistes, l'opinion qui dispose d'une mémoire historique européenne n'a pas besoin d'une propagande idéologique quelconque pour condamner et rejeter cette page criminelle de l'Histoire européenne,
2388	11	Mais dès que l'on évoque le nazisme ukrainien, dans cette partie occidentale de l'Europe où il n'a laissé aucune cicatrice, les épaules se haussent, les regards se détournent et si les langues officielles se délient, c'est pour répéter stupidement les sermons cathodiques de la bien pensance mondialiste qui parraine sa résurgence aux frontières d'une Russie diabolisée par sa ploutocratie aux abois.
2388	13	Si nous autres, les pro-russes dénonçant la résurgence factuelle du nazisme en Ukraine, aussitôt on nous accuse d'être les thuriféraires d'une propagande mensongère du Kremlin quand ce n'est pas de pratiquer une inversion accusatoire contre la sainte démocratie occidentale droitdelhommiste.
2388	15	Je voudrais voir la tronche de tous ces crétins mondialistes lorsque Arno Klarsfeld qui est l'avocat de l'Association des fils et filles de déportés juifs de France et coqueluche des chaires médiatiques de la Bien Pensance déclare clairement que l'idéologie nazie est institutionalisée en Ukraine, et demande, à sa manière une dénazification du pays, je me dis que la Russie est en train d'exaucer ses voeux, au moins sur ce sujet précis mais fondamental pour une compréhension de la tectonique géopolitique entrée en éruption depuis le 24 février. 
