23130	1	Trump : Poutine "devrait publier" toute information sur Hunter Biden
23130	3	Depuis Mar-a-Lago, les accusations continuent. Dans une interview accordée à l’émission conservatrice Just The News , Donald Trump a de nouveau accusé Hunter Biden, qui fait l’objet d’une enquête, au Delaware, sur ses « affaires fiscales », d’avoir touché de l’argent de la veuve de l’ancien maire de Moscou, appelant Vladimir Poutine à « publier » toute information sur le sujet : « Elle a donné aux Biden, les deux, 3,5 millions de dollars, c’est beaucoup d’argent. Elle lui a donné 3,5 millions de dollars, donc je pense que Poutine connaît la réponse à cette question. Je pense qu’il devrait la publier. »
23130	5	Il répète ainsi une information tirée d’une enquête des sénateurs républicains, publiée en septembre 2020, qui s’intéressait notamment au rôle joué par Hunter Biden au sein du groupe gazier ukrainien Burisma Holdings, dont il a rejoint le conseil d’administration en 2014 avant de démissionner en avril 2019, et les potentielles conséquences des affaires à l’étranger de Hunter Biden sur les politiques de son père, alors vice-président. L’enquête avait révélé qu’Elena Baturina, femme d’affaires et veuve de Iouri Loujkov – avec lequel Donald Trump a lui-même tenté, sans succès, de faire affaire dans les années 1990 –, aurait versé 3,5 millions de dollars à la société Rosemont Seneca Thornton en 2014 pour des prestations de conseil. L’avocat de Hunter Biden avait nié tout lien avec son client : selon lui, le fils du président américain est cofondateur d’une société de placement baptisée Rosemont Seneca Advisors, mais qui n’aurait aucun lien avec l’entreprise citée précédemment.
23130	7	L’appel du pied de l’ancien président américain à Vladimir Poutine survient un mois après que Donald Trump avait salué sa stratégie face à l’Ukraine : « J’ai vu hier un écran de télé et j’ai dit : "C’est du génie". Poutine déclare indépendante une grande partie de l’Ukraine. Oh, c’est merveilleux », avait-il déclaré lors du podcast enregistré avec les deux animateurs conservateurs Clay Travis et Buck Sexton, évoquant la reconnaissance par Moscou de l’indépendance des républiques autoproclamées de Lougansk et Donetsk. Le milliardaire avait poursuivi ses louanges de la stratégie de Vladimir Poutine, « un type qui est très malin » qu’il connaît « très, très bien » : « J’ai dit : "Que c’est brillant". Il va y aller et y maintenir la paix… »
23130	9	Lire la suite de l’article sur parismatch.com
