23204	1	Climat – Des chercheurs développent une crème solaire indice 450
23204	2	Des scientifiques de l’Université de Stanford (États-Unis) sont en train de développer une crème solaire inédite avec un indice de protection de 450.
23204	4	La vague de canicule qui fait suffoquer la France est loin d’être la dernière. En cause ? Le réchauffement climatique et ses conséquences désastreuses. Une équipe de chercheurs américains est, en ce moment même, en train de terminer la création d’une « super crème ». « Son indice de 450 permet de bloquer à coup sûr les UVs de plus en plus agressifs et il ne faut plus constamment penser à la réappliquer car une seule application par semaine est suffisante. »
23204	6	Cependant, en Europe et plus particulièrement en France, la composition de cette crème nouvelle génération fait débat. Alors qu’aujourd’hui, de plus en plus de marques prennent la parole sur la composition « propre » de leurs formules qui respectent les coraux et les espèces marines, cette crème va à l’encontre de cette mode. Elle serait en effet composée à 90% de pétrole brut : « On l’utilise pour ses propriétés rétro-réfléchissantes, les UVs viennent rebondir sur cette matière opaque et ne pénètrent pas dans la peau. » nous confie l’un des scientifiques impliqué dans ce projet.
23204	8	En plus de la question de la nocivité potentielle pour la peau, celle de l’impact sur les coraux et l’environnement est bien présente et une fois de plus, les chercheurs ont une explication tout à fait valable : « On ne peut pas sauver tout le monde ». 