2380	1	Emmanuel Macron s’était fait le garant du front républicain contre l’extrême droite. Un quinquennat plus tard, le RN est plus fort que jamais. Alors le gouvernement et les députés LREM lui tendent la main. Toute honte bue.
2380	3	« Si la gauche faisait barrage comme la droite, Marine Le Pen serait Présidente. » Voilà la phrase qui résume la séquence politique de cette année 2022. Que n’a-t-on entendu les macronistes à l’entre-deux-tours de la présidentielle faire la morale à qui veut bien l’entendre ? À l’époque, la gauche partageait avec eux des « valeurs communes », celles de la République et de la démocratie, des valeurs nobles qu’ils fallaient défendre contre le danger que représentait Marine Le Pen. L’électorat de gauche ne s’est pas trompé. Quand bien même le barrage se fait de plus en plus mince, d’élection en élection, il n’a pas encore cédé et Emmanuel Macron a été réélu.
2380	5	Deux mois plus tard, bienvenue dans le nouveau monde. Après avoir soudainement mené une campagne législative contre la gauche – allant jusqu’à traiter des membres du PS d’« anarchistes d’extrême gauche », poussant encore un peu plus loin la dédiabolisation du RN –, la Macronie a peur. Peur de la NUPES qui pèse plus de 30% des suffrages. Peur d’avoir face à elle une réelle opposition durant tout un quinquennat. Alors, faute de mieux, les macronistes se tournent vers l’alternative : l’extrême droite. Voyez par vous-même…
2380	7	Barbara Pompili, députée LREM et ex-ministre de la Transition écologique, évoque elle aussi la possibilité de « discuter » avec l’extrême droite.
2380	9	L’extrême droite est tellement normalisée dans la vie politique française que la Macronie, la droite dans son ensemble, ne compte rien faire pour lutter contre elle. Car en fait, avoir pour opposant le RN est moins encombrant que d’avoir la NUPES. Ou, comme le tweete Antoine Rondel, journaliste à Libé : « S’il fallait rappeler que le RN n’a jamais représenté la moindre menace pour la préservation des intérêts du capital, on est servi ».
