2395	1	Pour Marine Le Pen, “les migrants, c’est comme les éoliennes”
2395	3	Invitée dans "Le Grand Jury" sur RTL, Marine Le Pen a comparé les migrants aux éoliennes, affirmant que "tout le monde est d’accord pour qu’il y en ait mais personne ne veut que ce soit à côté de chez lui".
2395	5	Pour Marine Le Pen, Matteo Salvini prend de bonnes décisions en matière d’immigration. « Je considère avec Matteo Salvini qu’il faut arrêter l’immigration », a-t-elle déclaré dans l’émission Le Grand Jury de RTL-Le Figaro-LCI ce dimanche 14 avril. « Les migrants, c’est comme les éoliennes. Tout le monde est d’accord pour qu’il y en ait, mais personne ne veut que ce soit à côté de chez lui », a ajouté la présidente du Rassemblement national. Elle a notamment rappelé le besoin, selon elle, de « maîtriser nos frontières nationales ». 
2395	6	« Il faut que les migrants soient sécurisés et ramenés dans leur pays »
2395	8	Evoquant Matteo Salvini, Marine Le Pen a affirmé que « depuis qu’il n’accepte plus de migrants en Italie, le nombre de débarquements a chuté de manière spectaculaire […] Il a réussi à obtenir quelque chose qui devrait réjouir tous les humanistes : la baisse du nombre de morts en Méditerranée au large de l’Italie ». Selon la présidente du Rassemblement national, « c’est la politique qu’il faut mettre en œuvre. Il faut que […] les migrants soient sécurisés et ramenés dans leur pays et non pas sur les rives de l’Europe ». Elle s’est également dit « parfaitement opposée […] à la relocalisation forcée des migrants dans des pays qui ne souhaitent pas les accueillir ». 
2395	10	La comparaison de Marine Le Pen entre les migrants et les éoliennes a rapidement fait réagir sur les réseaux sociaux. Pourtant, comme le rappelle Le Point, elle a été attribuée à Damien Rieu, personnalité du mouvement identitaire, qui avait tweeté une phrase similaire le 8 avril dernier, affirmant que « les éoliennes c’est comme les migrants, que ceux qui en veulent les prennent chez eux ». 
