23132	1	Marine Le Pen et Eric Zemmour dénoncent « la repentance » de la France envers l’Algérie
23132	3	Emmanuel Macron commémore le 60e anniversaire des accords d’Evian à l’Elysée, en présence de témoins de l’époque (appelés, combattants indépendantistes, harkis), ce samedi 19 mars 2022. Mais la date du 19 mars 1962 est contestée notamment par Marine Le Pen.
23132	5	A LIREOuverture avancée des archives sur la guerre d’Algérie : une mémoire hémiplégique
23132	7	« Une vraie réconciliation des mémoires si l’Algérie demande pardon aux harkis »
23132	9	Invitée vendredi 18 mars sur France Inter, la candidate du Rassemblement national à l’élection présidentielle a rappelé que « nous contestons depuis longtemps cette date choisie, qui a été imposée comme la fin de la guerre d’Algérie ». « Il y a des dizaines de milliers de harkis qui ont été sauvagement assassinés après cette date. Et je tiens à leur rendre hommage à eux, parce qu’eux ont été particulièrement mal traités par le gouvernement de l’époque, ils ont été mis dans des camps, parfois ils sont morts, ont été mis dans des charniers, leurs enfants n’ont pas été scolarisés », a-t-elle affirmé.
23132	11	La députée du Pas-de-Calais a également dénoncé la position de l’ancienne colonie française sur son historique avec la France. « S’il s’agit de réconcilier les mémoires en se flagellant devant l’Algérie qui ne cesse de demander des actes de repentance, en ce qui me concerne ce sera non. Sauf si peut-être l’Algérie demande elle-même pardon aux harkis sur la manière dont ils se sont comportés à leur égard, alors là il y aura une vraie réconciliation des mémoires », a-t-elle déclaré.
23132	13	Eric Zemmour veut “mettre fin à la repentance” de la France en Algérie
23132	15	Après Marine Le Pen, c’est Éric Zemmour qui s’est exprimé dans une tribune au Figaro publiée ce samedi, pour livrer sa vision des liens que doivent entretenir la France et l’Algérie. Il dénonce l’attitude des politiques français qui ont battu « la coulpe » face à des dirigeants algériens « souvent arrogants ». Une situation qui a permis de « faciliter l’immigration massive » des Algériens en France. Ainsi, le candidat de Reconquête! affirme vouloir établir une relation « de respect et non de repentance » avec l’Algérie.
23132	17	Parmi les propositions issues de son programme, l’ancien journaliste souhaite conditionner les aides financières et l’octroi de visas « à la coopération contre l’émigration clandestine, à la réadmission des immigrés illégaux expulsés de France et à des accords permettant que les petites peines de prison puissent être effectuées dans les pays d’origine des délinquants étrangers. »
