2371	1	Coronavirus : Bolsonaro menace de quitter l’OMS à son tour
2371	3	Comme son homologue américain Donald Trump, le président brésilien accuse l’institution de “parti pris idéologique”.
2371	5	La défiance autour de l’OMS s’accentue. Il y a une semaine, Donald Trump annonçait que les Etats-Unis mettaient officiellement fin à leur relation avec l’Organisation mondiale de la santé, après avoir suspendu temporairement son financement. Ce samedi 6 juin, c’est Jair Bolsonaro qui menace à son tour de quitter l’institution, rapporte notamment franceinfo. Comme son homologue américain Donald Trump, le président brésilien accuse l’OMS de « parti pris idéologique ». Les deux hommes critiquent depuis longtemps la mauvaise gestion de l’épidémie de coronavirus de la part de l’agence, et son indulgence avec la Chine.
2371	6	« La chloroquine est de retour »
2371	8	« Je vous le dis ici, les Etats-Unis sont partis de l’OMS, nous y songeons à l’avenir », a déclaré Jair Bolsonaro à la presse. « Soit l’OMS travaille sans parti pris idéologique, soit nous la quittons aussi. Nous n’avons pas besoin de gens de l’extérieur pour donner leur sentiment sur la santé ici », a-t-il aussi jugé. Grand défenseur de l’hydroxychloroquine, comme Donald Trump, le président brésilien ne s’est montré guère surpris qu’une étude dans la revue médicale The Lancet, qui concluait à l’inutilité du traitement, ait été fortement remise en cause puis retirée. Ni que l’OMS, qui avait demandé l’arrêt de tous les essais cliniques sur la molécule, ait relancé les recherches. « Trump leur a retiré l’argent et ils sont revenus sur tout », a estimé Jair Bolsonaro, se félicitant que « la chloroquine [soit] de retour ».
2371	10	Malgré le fait que le Brésil soit devenu le troisième pays du monde le plus touché par le coronavirus, avec 35 026 morts et plus de 645 000 cas, le chef de l’Etat continue de demander une levée rapide des mesures d’isolement, affirmant que le coût économique de l’épidémie est supérieur aux risques sanitaires. L’OMS fait régulièrement la leçon au Brésil sur ce sujet, les mettant en garde contre une levée des mesures de confinement avant que l’épidémie ne soit un minimum endiguée.
