23177	1	[Ukraine] Pourquoi la Russie n’est pas isolée du reste du monde ?
23177	3	Fin mars, #Macron nous assurait de l’isolement croissant de la #Russie. 4 mois plus tard la Russie continue d’entretenir des relations avec la plupart des pays du monde, à l’exception des pays occidentaux qui lui tournait déjà le dos avant « l’opération spéciale ». Il semblerait que l’invasion de l’#Ukraine n’ait pas eu de grande conséquence sur les relations diplomatiques de la Russie, malgré les efforts de la « communauté internationale » pour provoquer son isolement. #ukrainewar