728153988	1	Illegal alien wanted for attempted murder in NC arrested at US-Mexico border
728153988	3	TUCSON, Ariz. – While patrolling east of Nogales, Border Patrol agents assigned to the Nogales Station arrested Francisco Lopez-Loyola, a 38-year-old Mexican national for being illegally present in the United States Thursday.
728153988	4	During processing, a records check indicated Lopez had an extraditable warrant from Catawba County, North Carolina for attempted first degree murder. He was processed for immigration violations and turned over to Santa Cruz County Sheriff’s Office for extradition to North Carolina.
728153988	5	All persons apprehended by the Border Patrol undergo criminal history checks using biometrics to ensure illegal immigrants with criminal histories are positively identified.
