787759779	1	Kavanaugh Accuser's Lawyer is Vice Chair of Soros Funded Org Opposing Kavanaugh
787759779	3	Kavanaugh's accuser is being represented by Debra Katz, a Washington D.C. lawyer and the vice chair of the board of the Project On Government Oversight.
787759779	4	POGO co-signed a letter to Senator Dianne Feinstein and Senator Grassley along with a variety of lefty groups demanding Kavanaugh records. This was the obstruction tactic of choice of the left for trying to secure the Court seat before they fastened on to this latest smear.
787759779	5	Where does PGO gets its funding?
787759779	6	From, among other sources, George Soros and his Open Society Foundation tentacles.
787759779	7	And, to no one's surprise, she's allegedly a Dem donor.
787759779	8	What a surprise! Debra Katz, the lawyer representing the woman accusing Brett Kavanaugh of sexual assault, has donated thousands of dollars to Obama, Hillary and the DNC! pic.twitter.com/WK5XYTlcqL — Jacob Wohl (@JacobAWohl) September 17, 2018
787759779	9	UPDATE: I've received a message from POGO stating that they wish to be described as a non-partisan watchdog and that they have a Republican board member.
