735815503	1	How Many Child Rapists Did a Sanctuary City Mayor Tip Off?
735815503	3	The price of a sanctuary city for illegal aliens is paid in abused children. Just ask the abused children of Oakland.
735815503	4	A sweep of Northern California by federal immigration officials this week, which was partly thwarted when the Oakland mayor sounded the alarm, nabbed a number of illegal immigrants convicted of a variety of serious and violent crimes.
735815503	5	Immigrations and Customs Enforcement (ICE) officials announced this week that the four-day raid led to the arrest of 232 illegal immigrants in the San Francisco Bay Area.
735815503	6	Of those 232, 180 “were either convicted criminals, had been issued a final order of removal and failed to depart the United States, or had been previously removed” from the country and had come back illegally.
735815503	7	The arrests included 115 who "had prior felony convictions for serious or violent offenses, such as child sex crimes, weapons charges and assault, or had past convictions for significant or multiple misdemeanors."
735815503	8	The numbers might have been greater, but for the intervention of Oakland Mayor Libby Schaaf, who tweeted out a warning of the impending raid, tipping off others who might have been caught...
735815503	9	"I did what I believe was right for my community as well as to protect public safety," Schaaf said Friday, according to NBC Bay Area. "People should be able to live without fear or panic and know their rights and responsibilities as well as their recourses."
