727174208	1	Lawyer: Ammo dealer saw nothing suspicious in Vegas gunman
727174208	3	An Arizona man who sold ammunition to the gunman in the deadliest mass shooting in modern U.S. history was disturbed that he didn't spot any suspicious signs about his one-time customer, the man's lawyer said Wednesday.
727174208	4	Douglas Haig had no reason to believe Stephen Paddock would launch the Oct. 1 shooting in Las Vegas that killed 58 people, attorney Marc Victor said.
727174208	5	He said Haig wishes he could have figured out the intentions of Paddock but defends the sale of ammunition as legal.
727174208	6	"He wishes there was some clue that could have identified him," Victor said. "There was just nothing."
727174208	7	Meanwhile, the coroner in Las Vegas started releasing redacted autopsy records about the 58 people killed in the mass shooting at an outdoor concert. Records relating to Paddock were not being provided.
727174208	8	The records were released Wednesday in response to a public records lawsuit filed by The Associated Press and Las Vegas Review-Journal.
727174208	9	Haig was named as a "person of interest" in the investigation by mistake Tuesday when court documents were released nearly four months after the shooting.
727174208	10	The documents did not disclose why authorities considered Haig a person of interest, and officials haven't said whether he has since been cleared of that designation.
727174208	11	Victor said his client sold ammunition to Paddock once and doesn't believe they have communicated since.
727174208	12	"He is as connected (to Paddock) as the guy who sold him a hamburger for lunch," Victor said.
727174208	13	Las Vegas police and officials with the FBI, U.S. attorney's office in Nevada and the federal Bureau of Alcohol, Tobacco, Firearms and Explosives each declined Wednesday to comment about Haig or the investigation.
727174208	14	A law enforcement official told The Associated Press in October that Paddock bought 1,000 rounds of tracer ammunition from a private seller he met at a Phoenix gun show three weeks before the shooting. The official spoke anonymously because they weren't authorized to disclose case information.
727174208	15	Tracer bullets contain a pyrotechnic charge that illuminates the path of fired bullets so shooters can see whether their aim is correct.
727174208	16	Haig told the AP on Tuesday that he sold unspecified ammunition to Paddock.
727174208	17	He also told "CBS This Morning" on Wednesday that he sold more than 700 rounds of ammunition to Paddock.
727174208	18	"I couldn't detect anything wrong with this guy," he said of Paddock.
727174208	19	The ammunition sale took place at Haig's home in Mesa, because he didn't have all the ammunition on hand that Paddock wanted while at the gun show.
727174208	20	Victor said a box that Paddock used to carry ammunition out of Haig's house and bore his client's name was later found in the Las Vegas hotel where the attack was launched.
727174208	21	It's unknown whether the ammunition Haig sold to Paddock was used in the attack.
727174208	22	The lawyer said the type and quantity of ammunition Paddock bought from his client wasn't unusual.
727174208	23	Robert Spitzer, an expert on firearms and the Second Amendment, said by and large there are no restrictions on the amount of ammunition a person can buy, but a large sale of tracer ammunition would certainly be unusual.
727174208	24	Only six states in the U.S. have laws requiring that ammunition buyers pass a background check. Arizona and Nevada do not have such a requirement, nor do they mandate that dealers keep a record of ammunition transactions.
727174208	25	"If you are in the business of selling anything, you are usually happy to make the sale, and there's nothing that says you need to write down this person's name or report the sale," said Spitzer, who is the chairman of political science at the State University of New York at Cortland.
727174208	26	Victor said his client has cooperated with investigators who contacted him within 24 hours of the shooting and has spoken to them probably four or five times, though he hasn't talked to them in months.
727174208	27	Haig describes himself as a senior engineer for Honeywell Aerospace in his biography on the professional and social media platform LinkedIn.
727174208	28	Records show Haig also owns Specialized Military Ammunition LLC. The company's website says it sold tracer and incendiary ammunition but is now "closed indefinitely."
727174208	29	Haig's name was blacked out in the more than 270 pages of search warrant records released by a Nevada judge to the AP, but remained on one page of documents provided to the Las Vegas Review-Journal.
727174208	30	The newspaper published the name online. Clark County District Court Judge Elissa Cadish later ordered the full document not be published without redactions, but she acknowledged she couldn't order the newspaper to retract the name.
727174208	31	Haig plans to hold a news conference Friday to discuss his interaction with Paddock.
727174208	32	Garcia Cano reported from Las Vegas. Associated Press writers Ken Ritter in Las Vegas and Anita Snow in Phoenix contributed to this report. Billeaud reported from Phoenix.
