999000565	1	Watch: Campus Commie Has Profanity-Laden Hissy Fit, Pours Beverage on FSU Republicans
999000565	3	Extreme leftists have been resorting to hysterical profanity-laden melodramatic hissy fits when they encounter people they disagree with. These incidents tend to occur on college campuses.
999000565	4	It doesn’t take much to trigger these people.
999000565	5	The latest comes from an admitted supporter of communism at Florida State University.
999000565	6	Watch this leftist loon pour her beverage on FSU Republicans as she states they are “normalizing and enabling Nazis” by supporting Rick Scott and Ron DeSantis.
999000565	7	WATCH: Angry leftist pours her beverage on FSU Republicans and says they are “normalizing and enabling Nazis” by supporting Rick Scott and Ron DeSantis. pic.twitter.com/1UDRxSZXE1 — Kyle Morris (@RealKyleMorris) November 1, 2018
999000565	8	By the way…where are her pants?
