757171650	1	“We Now Have Urban Ebola” In Congo, WHO Warns Of “Potentially Explosive Increase” In Cases
757171650	3	This report was originally published by Tyler Durden at Zero Hedge
757171650	4	Experts fear an “explosive increase” in Ebola cases after an outbreak in Congo entered a “new phase” and spread from the countryside to a city.
757171650	5	The BBC reports that Health Minister Oly Ilunga Kalenga confirmed a case in Mbandaka, a city of a million people about 130km (80 miles) from the area where the first cases were confirmed earlier this month.
757171650	6	The city is a major transportation hub with routes to the capital Kinshasa.
757171650	7	Forty-four people have been infected and 23 people are known to have died.
757171650	8	Senior World Health Organization (WHO) official Peter Salama said the spread to Mbandaka meant there was the potential for an “explosive increase” in cases.
757171650	9	“This is a major development in the outbreak,” he told the BBC. “We have urban Ebola, which is a very different animal from rural Ebola. The potential for an explosive increase in cases is now there.” Mr Salama, the WHO’s deputy director-general for emergency preparedness and response, said Mbandaka’s location on the Congo river, widely used for transportation, raised the prospect of Ebola spreading to surrounding countries such as Congo-Brazzaville and the Central African Republic as well as downstream to Kinshasa, a city of 10 million people. “This puts a whole different lens on this outbreak and gives us increased urgency to move very quickly into Mbandaka to stop this new first sign of transmission,” he said.
757171650	10	The BBC adds that the WHO said it was not recommending any trade or travel restrictions either within DR Congo, for example between Mbandaka and Kinshasa, or internationally.
757171650	11	But Mr Salama said that 13 countries in the region were boosting border screening measures and said DR Congo itself was increasing exit screening measures.
757171650	12	“The good news is that the DR Congo population is very used to Ebola outbreaks,” he added. “They know to protect themselves by avoiding mass gatherings and mass funerals. They know as well that traditional healers can amplify the outbreak.”
757171650	13	As The Daily Mail notes, it is the ninth time Ebola has been recorded in Congo since the disease made its first known appearance near its northern Ebola river in the 1970s.
757171650	14	Ebola is most feared for the internal and external bleeding it can cause in victims owing to damage done to blood vessels.
757171650	15	The Mail reports that health workers have recorded confirmed, probable and suspected cases of Ebola in three health zones of Congo’s Equateur province, and have identified 432 people who may have had contact with the disease, the WHO said.
757171650	16	Supplies sent to Congo included more than 300 body bags for safe burials in affected communities. The vaccine will be reserved for people suspected of coming into contact with the disease, as well as health workers.
757171650	17	The vaccine requires storage at a temperature between -60 and -80 degrees C, tricky in a country with unreliable electricity.
