733754480	1	Brazilian arms dealer arrested in the United States
733754480	3	RIO DE JANEIRO — Brazilian police say the man considered to be the country’s largest arms dealer has been arrested in the United States by Immigration and Customs Enforcement agents.
733754480	4	Inspector Fabricio Oliveira of Rio de Janeiro’s police department says Frederik Barbieri was arrested Saturday morning at his home in Florida. He did not know the specific location of Barbieri’s house and said that American authorities will provide details on the arrest next week.
733754480	5	Oliveira said that police seized 60 AK-47, AR-10 and G3 rifles Barbieri had sent to Rio’s international airport last May to supply drug traffickers operating in Rio de Janeiro slums.
733754480	6	He also said that the arms trafficking operation had been dismantled with Barbieri’s arrest.
733754480	7	The Justice Ministry said in a brief statement issued Saturday that Barbieri’s extradition has been requested.
