730269378	1	America's Immigration Voice.
730269378	3	Thanks for publicizing the race of Quentin Lamar Smith. I tried for 24 hours before I discovered the mugshot that you published. VDARE.com was the first news organization to make his race known, even though he was well known to law enforcement. It took about 10 hours for law enforcement to release his name.
730269378	4	Quentin is a convicted felon who is not allowed to have a gun, even though he carried one everywhere. [ Police shooting suspect’s past and police history at the Westerville home, by Tara Morgan, ABC6onyourside.com,February 11th 2018]
730269378	5	I have been unable to determine the race of Quentin’s wife--the domestic violence victim. The fact that there was a wedding makes me think she’s white. Also, she kind of sounds white in the 911 calls, but it’s hard to tell.
730269378	6	Please keep up your great work.
