26229	1	l’inflazione fa godere solo lo stato! - grazie alla crescita dei prezzi, l'erario brinda
26229	3	L'inflazione pesa sulle famiglie e sulle imprese italiane, ma fa sorridere il Fisco. Lo dice un'analisi di Unimpres, secondo cui la fiammata dei prezzi ha assicurato alle casse dello Stato più di 10 miliardi di euro di gettito aggiuntivo nei primi cinque mesi del 2022, con un incremento del 19,8%. Da gennaio a maggio, le entrate relative all'Iva, che è arrivata all'8% e viaggia verso il 10%, hanno raggiunto quota 61,6 miliardi, in aumento di 10,2 rispetto ai primi cinque mesi del 2021.
26229	5	Molto più contenuto l'incremento del gettito Irpef, che ha subito una variazione positiva del 2,3%, con una crescita di quasi 2 miliardi a quota 81,5 miliardi. Secondo Unimpresa, l'incasso tributario complessivo nei primi cinque mesi del 2022 è salito di 18,5 miliardi (a 188,6 miliardi): più della metà del gettito fiscale aggiuntivo è dunque riconducibile all'aumento delle entrate legate all'Iva: +10,2 miliardi.
26229	7	Questo è dovuto al vertiginoso incremento dei prezzi, a seguito del quale il gettito dell'imposta sul valore aggiunto è passato da 51,4 miliardi a 61,6 miliardi. Più nel dettaglio, dei 10,2 miliardi aggiuntivi di Iva 6,9 miliardi sono per consumi e scambi interni (+15,1%) mentre 3,3 miliardi sono per la maggiore imposizione sulle importazioni (+59,9%).
26229	9	Lo Stato guadagna di più anche grazie all'incremento dei prodotti energetici, e in particolare del gas, con i prezzi rapidamente saliti a motivo della guerra tra Russia e Ucraina: i proventi fiscali sul metano sono cresciuti di 453 milioni (+35,7%) a 1,7 miliardi. Tutto il comparto energia, in generale, ha subito una crescita dei prezzi: l'accisa sui prodotti energetici è cresciuta di 130 milioni (+1,7%), l'accisa e l'imposta erariale sui gas incondensabili è aumentata di 20 milioni (+9,5%), e l'accisa sull'energia elettrica e le relative addizionali sono cresciute di 220 milioni (+20,9%). -
