26250	1	Energia: Aie, prima crisi globale, accelerare la transizione
26250	3	La crescita della domanda mondiale di elettricità sta rallentando "drasticamente" nel 2022 quando è attesa crescere del 2,4% dopo il 6% dell'anno precedente, a causa dell'indebolimento della crescita economica e dell'aumento dei prezzi dell'energia in seguito all'invasione russa dell'Ucraina.
26250	5	Un aumento analogo, in linea con quelli degli ultimi 5 anni pre-Covid, è previsto per il 2023.
26250	7	Una crescita superiore a quella della domanda di elettricità sta contraddistinguendo le fonti rinnovabili che, grazie alla nuova capacità installata, potrebbero vedere una crescita della produzione oltre il 10% nel 2022 e sostituire parte della produzione di combustibili fossili.
26250	9	Nonostante l'aumento del consumo di carbone in alcuni Paesi europei per rimpiazzare il gas russo, le emissioni di anidride carbonica del settore sono attese diminuire nel 2022, dal massimo storico raggiunto nel 2021, con un lieve calo dello 0,5% circa nel 2022 e dell'1% nel 2023. Solo in Europa le emissioni salirebbero del 3% quest'anno per poi calare dell'8% l'anno prossimo grazie alla crescita delle rinnovabili.
26250	11	Per quanto riguarda i prezzi, l'Aie sottolinea che nella prima metà del 2022, il prezzo medio del gas naturale in Europa era quattro volte più alti rispetto allo stesso periodo del 2021, mentre il prezzo del carbone era più del triplo. L'indice dei prezzi dell'Iea per i principali mercati all'ingrosso di elettricità a livello mondiale ha raggiunto livelli doppi rispetto alla media del primo semestre del periodo 2016-2021.
