26163	1	Vaiolo delle scimmie, l'Oms avverte l'Europa: "Casi triplicati". Il virus dilaga
26163	3	L’Organizzazione mondiale della sanità lancia un allarme sul vaiolo delle scimmie. Il direttore regionale dell'Oms per l'Europa, Hans Henri Kluge, ha invitato i Paesi a prendere misure "urgenti e coordinate" per "invertire" la diffusione in corso del vaiolo delle scimmie nel continente.
26163	5	Vaiolo scimmie: Dg Oms, 'oltre 3.200 casi confermati e un decesso'
26163	7	L’avvertimento dell’Oms arriva perché nelle ultime due settimane i casi di vaiolo delle scimmie in Europa sono triplicati. Kluge ha affermato che il numero di infezioni in Europa rappresenta circa il 90% del totale nel mondo, osservando che 31 paesi europei hanno già identificato dei casi. A breve, secondo il responsabile, l'Oms potrebbe rivedere la posizione per cui sinora la diffusione della malattia non è stata considerata un'emergenza.
26163	9	Vaiolo scimmie, domani possibile decisione Oms su dichiarazione emergenza
26163	11	"La maggior parte dei casi" di VAIOLO delle scimmie "riportati finora hanno interessato persone tra i 21 ei 40 anni di età e il 99%" dei contagiati "sono uomini, con la maggior parte, fra coloro per i quali abbiamo informazioni in merito", rappresentata da "uomini che hanno rapporti sessuali con uomini. Tuttavia - precisa Kluge - sono stati segnalati piccoli numeri di casi anche tra familiari, contatti eterosessuali e contatti non sessuali, nonché tra i bambini".
26163	13	Vaiolo delle scimmie, Rezza “71 casi confermati finora in Italia”
26163	15	"Laddove le informazioni sono disponibili - continua il numero uno di Oms Europa - quasi il 10% dei pazienti è stato ricoverato in ospedale per terapie o isolamento, e un paziente è stato ricoverato in terapia intensiva. Fortunatamente, finora non risultano morti. La stragrande maggioranza dei casi" di infezione "si è presentata con un'eruzione cutanea e circa 3 quarti hanno riportato sintomi sistemici come febbre, affaticamento, dolore muscolare, vomito, diarrea, brividi, mal di gola o mal di testa".
