26294	1	Coinvolgere i boomerIl movimento per il clima non può rimanere solo una storia di ragazzini
26294	2	75 milioni: è il numero di over 60 negli Stati Uniti. Sono più di tutta la popolazione italiana, votano in grandi numeri e possiedono i due terzi delle risorse finanziarie del Paese. È per questo che Bill McKibben ha fondato un nuovo movimento, chiamato Third Act, rivolto alla mobilitazione degli anziani
26294	4	Ok, boomer? L’idea potremmo tradurla così: ribaltare la frase meme più abusata nella storia dei social, perché la lotta ai cambiamenti climatici ha bisogno anche degli anziani, della generazione dei baby boomer e quella successiva, la «generazione silenziosa». L’ideologo e l’organizzatore di questo allargamento anagrafico è un sessantunenne che ha attraversato ogni fase dell’ambientalismo americano: il fondatore di 350.org – organizzazione ambientalista internazionale con sede a New York – Bill McKibben. 
26294	6	«Sono abbastanza anziano da ricordarmi il primo Earth day, nel 1970, la richiesta pubblica di un cambiamento che portò alle prime leggi di protezione ecologica negli Stati Uniti e la creazione dell’Environmental protection agency. Poi, ciclicamente, il movimento si è espanso e ristretto a seconda del contesto e ha conservato la sua tendenza a rilassarsi dopo un ciclo positivo. Quando il clima è diventato la questione centrale, l’ambientalismo di base non esisteva di fatto più, è stato ricreato daccapo da una nuova generazione, in Europa e negli Usa: Sunrise movement, Extinction rebellion, Fridays for future. Ma ora non basta, perché la struttura delle resistenze allo status quo è troppo potente». 
26294	8	È per questo che McKibben, scrittore, giornalista e attivista, ha fondato un nuovo movimento, chiamato Third Act, terzo atto, rivolto esplicitamente alla mobilitazione delle persone over 60. Third Act cerca i canali e i linguaggi giusti per parlare con loro, per portarli alle manifestazioni, per rendere visibile la loro attenzione al clima e all’ambiente, adattando l’attivismo ai ritmi dell’età. 
26294	10	«Terzo atto» perché il primo furono le grandi battaglie per i diritti civili negli Stati Uniti, ma in Italia potremmo parlare del ’68, o delle vittorie ai referendum che hanno cambiato la società negli Anni ’70: un momento storico in cui era comune per le persone partecipare alla vita pubblica intorno a loro. Il secondo atto è stato il ritorno al privato, la resa alla società dei consumi degli Anni ’80 e ’90, la fine della storia tradotta su scala individuale. Il terzo, per quella generazione boomer o silenziosa, deve essere il momento del lascito politico, secondo McKibben: fare fronte insieme ai nipoti per creare la massa critica sociale ed elettorale necessaria alla lotta contro i cambiamenti climatici. 
26294	12	Il numero chiave, secondo McKibben, è 75 milioni. Tanti sono gli over 60 negli Stati Uniti. «Sono più di tutta la popolazione della Francia. E votano in grandi numeri: nel 2020 erano il 44% di tutti quelli che sono andati ai seggi. Inoltre possiedono i due terzi delle risorse finanziarie di questo Paese, contro il cinque per cento dei millennial. Vuol dire che sono un pezzo di società che sia Washington che Wall Street è costretta ad ascoltare nel momento in cui si mobilita: hanno le risorse, hanno le forze, hanno il tempo per farlo e molto spesso hanno anche dei nipoti, e sono sempre più preoccupati per loro». 
26294	14	Insomma, il movimento per il clima deve smettere di essere solo una storia di ragazzini, anche perché, come dice McKibben, «è moralmente inaccettabile lasciare solo sulle loro spalle il peso di una battaglia così importante». 
26294	16	L’America viaggia verso le elezioni di midterm, l’azione climatica è bloccata al Congresso dalla non-maggioranza dei democratici sulle questioni ambientali, perché il senatore Joe Manchin vota con i repubblicani su questo tema, ed è anche ferma anche sul piano esecutivo dalla sentenza della Corte Suprema, che ha dato un’interpretazione molto limitata sui poteri dell’Environmental protection agency. 
26294	18	È in questo scenario che le sfide per i singoli seggi elettorali saranno decisive, e saranno il primo banco di prova per il movimento Third Act, che Bill McKibben ha fondato un anno fa esattamente pensando ad appuntamenti del genere: spingere i 70 milioni di anziani d’America a votare candidati non sostenuti dall’industria dei combustibili fossili e con la voglia di ripristinare la decarbonizzazione negli Stati Uniti, messa in stallo da guerra, inflazione e debolezza politica del presidente.