26281	1	Per le famiglie italiane l'aumento dei prezzi è una stangata da 9 miliardi
26281	3	Analisi di Coldiretti su dati Istat: "A guidare la classifica dei rincari c'è la verdura che quest'anno costerà complessivamente alle famiglie italiane 1,97 miliardi in più"
26281	5	L'aumento dei prezzi scatenato dalla guerra in Ucraina costerà nel 2022 alle famiglie italiane quasi 9 miliardi di euro soltanto per la spesa alimentare, a causa dell'effetto dell'inflazione che colpisce soprattutto le categorie più deboli.
26281	7	È quanto emerge dall'analisi della Coldiretti, sulla base dei dati Istat sui consumi degli italiani e dell'andamento dell'inflazione nei primi sei mesi dell'anno, diffusa in occasione dell'Assemblea nazionale a Palazzo Rospigliosi, a Roma.
26281	9	A guidare la classifica dei rincari c'è la verdura che quest'anno costerà complessivamente alle famiglie italiane 1,97 miliardi in più - sottolinea Coldiretti - e precede sul podio pane, pasta e riso, con un aggravio di 1,65 miliardi, e carne e salumi, per i quali si stima una spesa superiore di 1,54 miliardi rispetto al 2021.
26281	11	Al quarto posto la frutta - continua Coldiretti - con 0,92 miliardi, precede latte, formaggi e uova (0,78 miliardi), pesce (0,77 miliardi) e olio, burro e grassi (0,59 miliardi) che è però la categoria che nei primi sei mesi del 2022 ha visto correre maggiormente i prezzi.
26281	13	Seguono con esborsi aggiuntivi più ridotti le categorie "acque minerali, bevande analcoliche e succhi", "zucchero, confetture, miele, cioccolato e dolci", "caffé, tè e cacao" e "sale, condimenti e alimenti per bambini".
