26130	1	Governo della Repubblica tra legittimità e legittimazione (perduta)
26130	3	Il Movimento 5 Stelle, con la sua squadra di Ministri, si sta dissolvendo come neve al sole pur costituendo il partito di maggioranza relativa a seguito del risultato delle elezioni politiche del 04 marzo 2018. Ora, al di lá del rispetto delle norme costituzionali in occasione della formazione dei Governi Conte II (2019) e Draghi (2021) e, dunque, della loro legittimitá (ricordiamo che, per Costituzione, il Governo della Repubblica non é eletto, ma nominato), é innegabile, dopo diverse tornate elettorali (europee, regionali ed amministrative), che l’Esecutivo attualmente in carica si sta reggendo su un movimento politico delegittimato in seno al corpo elettorale e, piú in generale, all’interno dell’opinione pubblica.
26130	5	Visto questo “enorme fossato” che separa rappresentanza politica e rappresentatività, ci chiediamo con quale coraggio questo Governo continui ad operare. Beninteso: non si tratta di un problema giuridico, ma politico e ci pare che nessuno (volontariamente e con piena coscienza) intenda affrontarlo.
26130	7	Eppure, sulla base di questa delegittimazione, si sono adottate tutte le misure che conosciamo in merito all’emergenza sanitaria di rilievo nazionale (vaccinazione, certificazione verde Covid-19 etc.), si é deciso l’invio di armi alla Repubblica di Ucraina, portando di fatto il nostro Paese ad essere un co-belligerante quando poteva svolgere un ruolo di mediazione come sta facendo la Turchia etc.
26130	9	Nella situazione descritta il Presidente della Repubblica (é un’ipotesi di scuola) potrebbe anche sciogliere anticipatamente le Camere, sentiti i loro Presidenti, ex art. 88 del Testo costituzionale vigente, ma certamente non opterá per tale soluzione. Questo dovrebbe farci riflettere, nonostante la questione sempre aperta della legge elettorale, sia sulla possibile modifica della nostra forma di Governo (siamo fautori del modello presidenziale), sia sulla necessitá di costruire una valida alternativa politica di fronte al fallimento conclamato del quinquennio di legislatura (2018-2023).
