26289	1	Giorgia Meloni, lezione alla sinistra: "Chi ci vota un analfabeta?"
26289	3	Infuria la campagna elettorale, brevissima e fumantina. Da sinistra piovono attacchi incrociati, scomposti e violenti, contro il centrodestra. Bersagli preferiti sono Giorgia Meloni e Matteo Salvini. I ritornelli? Fascismo, Russia, onda nera, pericolo democratico e tutto l'assortimento che ben conosciamo. Il timore è che presto possa anche muoversi la magistratura, sempre molto "attenta" alle elezioni in Italia. Un pensiero che accomuna Alessandro Sallusti, direttore di Libero, e Paolo Mieli, firma del Corsera: entrambi, infatti, hanno profetizzato un "botto giudiziario" per la fine di agosto. E in tal senso, dalle procure, iniziano a filtrare le prime indiscrezioni. Staremo a vedere.
26289	5	Nel frattempo, la Meloni replica alle accuse della sinistra. Non tanto a quelle che hanno colpito lei e il partito di cui è leader, Fratelli d'Italia, ma a quelle che colpiscono gli elettori di centrodestra. Già, spesso dipinti come degli ignoranti, denigrati, sminuiti: l'eterno, insopprimibile e insopportabile complesso di superiorità della sinistra. Quel complesso che, va detto, condanna la sinistra alla perenne sconfitta: come dice Matteo Renzi, per pescare un nome dal mazzo, fare le campagne elettorali non sui contenuti ma su quanto sia "cattivo" l'avversario è una strategia perdente.
26289	7	Ma, si diceva: la Meloni. La leader di FdI ha rilanciato sul Twitter un breve estratto video che la mostra alla Versiliana, a Marina di Pietrasanta, in Versilia. Nel corso di un incontro, si scaglia proprio contro l'egemonia di potere della sinistra, ben diversa dell'egemonia culturale. "Io non accetto il racconto che chi non è di sinistra non vale niente e chi vota centrodestra è analfabeta. Non serve una tessera di partito per meritare qualcosa e io voglio restituire orgoglio a tutte le persone che, per anni, si sono dovute nascondere per arrivare dove volevano", tuona Giorgia Meloni rilanciando le immagini che potete vedere qui in calce.
