2620	1	Ecr, Fitto: Ue-Nato cooperino sempre di più per garantire la scelta dei Paesi di aderire all’alleanza
2620	3	In giorni di guerra come questi che stiamo vivendo. Con l’allarme che il conflitto possa estendere il suo raggio d’azione e incrudelire ulteriormente la sua minaccia. E con  Finlandia e Svezia che hanno rilanciato l’allarme con la richiesta di adesione alla Nato, l’invasione russa dell’Ucraina – ritenuta dal Cremlino «un’operazione militare speciale necessaria» per difendersi dall’alleanza Atlantica – continua a spingere i Paesi neutrali verso l’alleanza militare guidata dagli Stati Uniti. Una decisione adottata e ufficializzata, nonostante le dure ritorsioni annunciate da Mosca. Accompagnate da veri e propri avvertimenti militari
2620	5	Sul punto, allora, Raffaele Fitto (copresidente del gruppo Ecr- FdI), intervenendo durante la Conferenza dei Presidenti nello scambio di opinioni con il Segretario generale delle Nato Stoltemberg, sottolinea come «le relazioni transatlantiche e la cooperazione Ue-Nato, nel pieno rispetto dei principi stabiliti nei trattati e di quelli concordati dal Consiglio europeo, sono elementi essenziali per affrontare con successo le sfide geopolitiche e di sicurezza comune dei prossimi anni». «La Nato – ha quindi proseguito Fitto nella sua disamina – rappresenta il vero garante della sicurezza euro-atlantica. E in quest’ottica bisogna intraprendere tutte le azioni necessarie per rafforzare le nostre capacità di difesa. Ma anche per affrontare le sfide future, non solo dal punto vista militare, ma anche quelle ibride come la cybersicurezza. Il rafforzamento delle capacità d’intelligence. E il contrasto al terrorismo».
2620	7	«Al tempo stesso – ha poi continuato Fitto – credo che sia fondamentale continuare l’azione di sostegno a favore dell’Ucraina, contro la barbara aggressione di Mosca. E garantire la libera scelta di altri Paesi di aderire all’alleanza atlantica. Liberandoli dalle pressioni e dalle minacce russe. In tal senso – ha anche aggiunto – condividiamo le parole del Segretario Stoltenberg sull’ingresso di Finlandia e Svezia come chiaro e forte messaggio politico. E auspichiamo che questo possa essere fatto nel più breve tempo possibile. Il ritorno della guerra nel nostro continente – ha quindi concluso il copresidente del gruppo Ecr-FdI – richiede da parte dell’Ue un cambiamento rispetto al passato. Attraverso impegni e scelte concrete dal punto di vista finanziario. Politico. E militare, che troppi hanno ampiamente evitato di fare dalla fine della guerra fredda».