26302	1	Estonia: il governo decide di rimuovere tutti i monumenti sovietici dagli spazi pubblici
26302	2	Il capo del governo ha precisato che "il loro numero è compreso tra 200 e 400"
26302	4	Il governo dell’Estonia ha deciso a favore della rimozione di tutti i monumenti sovietici dagli spazi pubblici del Paese. Lo ha detto la premier, Kaja Kallas, precisando che il loro numero è compreso tra 200 e 400. “La decisione più importante è stata presa. I monumenti sovietici devono essere rimossi dagli spazi pubblici e lo faremo il prima possibile”, ha dichiarato il capo del governo. La tempistica della rimozione “dipende dalla prontezza e dai piani logistici delle amministrazioni locali”, ha continuato. “E’ importante precisare che la commemorazione dei defunti non è proibita in nessun modo né lo sarà. Tuttavia, dovrebbe essere fatta nel luogo giusto, ovvero un cimitero”, ha detto Kallas.