26193	1	Guerra Russia-Ucraina: il Brasile di Bolsonaro rimane neutrale. Ma il presidente è filo russo
26193	3	“Vogliamo la pace e non vogliamo attirare conseguenze negative per noi. Per questo motivo, nel conflitto tra Ucraina e Russia aiuteremo secondo le nostre possibilità alla ricerca di una soluzione“.
26193	5	Queste le parole del presidente del Brasile, Jair Bolsonaro che dichiara la proprio posizione neutrale a nome del Paese. Il capo di Stato di estrema destra ha sottolineato anche che il Brasile “dipende molto” dai fertilizzanti russi.
26193	7	Interrogato nel corso di una conferenza stampa a Guaruja, nello stato sudorientale di San Paolo, ha riferito di una sua conversazione con Putin durata più di due ore . “Ho parlato di recente con il presidente Putin in merito a molte cose. Certo che ha detto qualcosa sull’Ucraina, che però tengo per me senza entrare in dettagli“, ha detto.
26193	9	I rapporti con la Russia sono quindi da tutelare. Solo tre giorni fa Bolsonaro ha rivendicato per sé il diritto esclusivo di esprimere la posizione del Paese rispetto alla crisi in Ucraina. La dichiaraizone era arrivata in seguito alle critiche del suo vice, Hamilton Mourao, nei confronti di Mosca.
26193	11	“Chi parla di queste questioni è solo il presidente, e il presidente si chiama Jair Messias Bolsonaro – ha detto il capo dello Stato – . Non è di sua competenza”.
26193	13	La precisazione di Bolsonaro, ripetuta più volte durante la diretta, accentua le distanze con Mourao, già escluso da una sua ricandidatura nel ruolo di vicepresidente alle elezioni di ottobre.
26193	15	Foibe, la storia della famiglia “Ghizzi” costretta a scappare da Fiume a causa dei partigiani titini
