26275	1	“Ambientalisti radical chic”: Rampini stronca i gretini e la De Gregorio si irrita (Video)
26275	3	Staffilate agli ambientalisti radical chic e pronta risposta per Concita De Gregorio, irritata per la definizione, come se fosse stata punta nel vivo. Federico Rampini, ospita a In Onda su La7, stronca i gretini, con un’analisi difficilmente contestabile.
26275	5	Ambientalisti radical chic, Rampini asfalta De Gregorio
26275	7	“Parliamo di giustizia sociale. Lo Sri Lanka in questo momento è alla fame, letteralmente alla fame. Ci sono state rivolte di massa che hanno costretto alla fuga il presidente. Qualche anno fa – tuona Rampini – i loro governanti ebbero la buona idea di seguire i consigli di ambientalisti occidentali radical chic che gli consigliavano di convertire l’agricoltura ai metodi agrobiologici. Sono crollati i raccolti e non c’è più da mangiare nello Sri Lanka. Questo il movimento ambientale occidentale radical chic ce l’ha sulla coscienza, ma non ne parla. Non fa i conti con i propri errori, con le proprie visioni dissennate ispirate da una ideologia apocalittica e da slogan che non hanno nulla a che vedere con la realtà”.
26275	9	Preferisce ambiental snob? “Come quando Greta…”
26275	11	A quel punto la De Gregorio, visibilmente seccata, replica da maestrina: “Io prendo le distanze soltanto dalla definizione radical chic a prescindere, scusami. Io la trovo una formula ormai che ha superato la saturazione e il limite dell’accettabilità”. Rampini però non si scompone e corregge il tiro con un’altra bordata: “Diciamo snob? Ambiental snob? Come quando Greta attraversa l’Atlantico in barca a vela, è il culmine dello snobismo”.
26275	13	Considerata la provenienza politica e lo stile, qualcuno potrebbe facilmente dare del “radical chic” o dello “snob” proprio a Federico Rampini. Tuttavia da anni il giornalista del Corriere della Sera scrive articoli e libri che stroncano la deriva della sinistra, non solo italiana. Eccellente, in tal senso, il suo saggio La notte della sinistra.
