2634	1	Immigrazione: in Gran Bretagna Johnson schiera la marina, smentite le bugie della sinistra sul blocco navale
2634	3	Il premier britannico conservatore Boris Johnson ha annunciato di aver dato ordini alla marina militare di pattugliare il Canale della Manica per frenare l’impennata di sbarchi di immigrati illegali. 
2634	5	Una scelta che conferma, se ci fossero dubbi, la effettiva applicabilità del blocco navale. Una soluzione più volte invocata da Fratelli d’Italia: “L’annuncio del premier conservatore Boris Johnson – ha commentato Giorgia Meloni – smentisce ancora una volta la bugia della sinistra secondo la quale l’immigrazione illegale sarebbe impossibile da fermare. Come sempre sostenuto da Fratelli d’Italia, bloccare le partenze e l’immigrazione clandestina è possibile: basta solo volerlo. Lo capiranno mai Lamorgese e company?”.
2634	7	“Se lo propone FdI è un atto di guerra, se invece lo fa la Gran Bretagna è un atto legittimo. – ha incalzato il senatore FdI Alberto Balboni – Ora cosa diranno le anime belle della sinistra immigrazionista? Se lo fa Johnson lo può fare anche l’Italia”.
2634	9	Nei giorni scorsi lo stesso leader di FdI era tornata a chiedere le dimissioni di Lamorgese: “In tutti questi anni – ha sottolineato – non abbiamo mai visto una sua singola iniziativa per tentare di fermare l’immigrazione clandestina verso l’Italia, con sbarchi che aumentano di giorno in giorno. Caro Ministro, se non ha l’intenzione (o la capacità) di difendere i nostri confini, ricordi che nessuno la obbliga a rimanere al Viminale”.
2634	11	Proprio mercoledì i deputati di Fratelli d’Italia erano tornati ad incalzare alla Camera il Ministro Lamorgese sul tema degli sbarchi: “Lamorgese è la perfetta caricatura del governo dei migliori”.