26129	1	Cina, app di tracciamento Covid utilizzata per impedire le proteste
26129	3	Decine di persone provenienti da tutta la Cina erano partite verso la città di Zhengzhou per protestare contro il congelamento dei loro risparmi in quattro banche rurali cinesi. Questi istituti sono controllati dalla Banca commerciale “Xuchangm”, al momento sotto inchiesta per presunta corruzione dei manager. Arrivati nel capoluogo della regione di Henan Zhengzhou, per protestare contro il blocco dei loro conti, hanno visto il codice sanitario dell’app cinese di contact tracing Covid-19 diventare rosso, nonostante non avessero avuto alcun contatto con un positivo.
26129	5	Per i manifestanti è scattato l’isolamento immediato per 14 giorni. Il sospetto è che le autorità di Henan abbiano abusato del sistema di tracciamento covid per evitare potenziali disordini. Lo scandalo infatti ha coinvolto centinaia di migliaia di persone: si ritiene che siano stati congelati più di 39 miliardi di yuan, circa sei miliardi di dollari.
26129	7	Il caso del mancato manifestante Tom Zhang- Proprietario di un’azienda tessile nella provincia orientale dello Zhejiang, Tom Zhang è stato fermato dalla polizia di Zhengzhou e trattenuto in una biblioteca locale per circa 12 ore. Ha visto il codice della sua app diventare rossa mentre era su un treno proveniente da una città dove non c’erano stati casi di positività. “Il codice rosso è stato sicuramente utilizzato per limitare noi correntisti”, ha detto il signor Zhang in un’intervista. Lui e altri centinaia di risparmiatori avevano pianificato di presentare un reclamo all’autorità di regolamentazione bancaria della provincia di Henan lunedì 13 giugno, dopo essere stati incapaci di ritirare i loro soldi per mesi. Mentre si dirigeva verso l’aeroporto, il suo codice sanitario è diventato improvvisamente verde.
26129	8	App di tracciamento Covid, vittime anche i parenti dei correntisti
26129	10	– Non si sa quanti siano stati coinvolti, ma i rapporti cinesi indicano che il problema si è verificato in diverse città e villaggi della stessa regione. Tra le persone colpite, molte sembrano essere parenti dei clienti delle banche. “Non sono una cliente, è mio padre che ha depositato dei soldi in una banca e ora non riesce a tirarli fuori”, ha dichiarato una donna residente a Zhumadian, una città a 200 km da Zhengzhou, portata in hotel per la quarantena obbligatoria una volta che il suo status è diventato rosso. “Al momento coloro che hanno visto diventare rosso il loro codice, possono solo contattare i loro community manager per cambiare il loro status. Dopo aver effettuato due test Covid nell’arco di tre giorni, il loro status potrà essere cambiato di nuovo“, ha dichiarato il funzionario della commissione sanitaria cinese.
26129	12	Violazione delle leggi – La questione ha fatto scalpore nei social media cinesi, dove in molti hanno sottolineato il possibile abuso di potere da parte dell’autorità. “I codici sanitari dovrebbero essere utilizzati solo per scopi di prevenzione della pandemia” ha dichiarato Hu Xijin, popolare commentatore cinese ed ex direttore di giornale. Utilizzare i codici sanitari per limitare la libertà di circolazione delle persone rappresenterebbe chiaramente una violazione delle leggi sulla prevenzione della pandemia.
