2673	1	Immigrati: “Veniamo in Italia perché ci date tutto”
2673	3	Per comprendere l’invasione in atto, è bene ricordare quanto dissero tempo fa, richiedenti asilo ospitati a Roma, ad un gruppo di cittadini.
2673	5	Nel quartiere Aurelio aveva preso vita da poco tempo l’iniziativa delle ‘sentinelle civiche’, composte da cittadini residenti che di notte, organizzandosi in gruppi, volevano riprendere pacificamente possesso del loro quartiere.
2673	7	“Siamo solidali con i cittadini di Goro – disse l’organizzatore delle ‘ronde’, Giannini, si era al tempo dei fatti di Goro – Questa accoglienza ormai è un business senza fine, gestito nella fase del transito verso le coste e dell’imbarco sui barconi da mafie locali e poi una volta in Italia la gestione dei profitti passa alle cooperative. Questo traffico arriva a calpestare i diritti degli italiani pur di continuare a guadagnare. Bisogna fermare questa invasione e pensare ad aiutarli nei loro paesi”.
2673	9	Durante i controlli, le ‘Sentinelle civiche’ incontrarono i migranti ospiti dell’hotel per profughi nel loro quartiere: “La loro età media è di 20 anni, sono maschi, provenienti da Gambia, Senegal e Nigeria, tutti paesi dove non c’è nessun conflitto. Le loro richieste: vestiti migliori e soldi in contanti da poter spendere”.
2673	11	Alla domanda di uno dei cittadini che voleva sapere come mai abbiano deciso di venire in Italia, “ci hanno risposto ‘nel nostro paese si sa che in Italia ci viene dato tutto‘”.
2673	13	Lo facevano quando il Pd era al governo. E stanno tornando a farlo ora che il Pd è tornato, per la quarta volta in sei anni senza mandato popolare, al governo.
