26167	1	L’inchino di Draghi al Sultano
26167	3	Tutto si risolve con un inchino al Sultano. «Con i dittatori bisogna essere franchi ma cooperare», disse l’anno scorso Draghi riferendosi a Erdogan e aprendo un caso diplomatico. Dal 2021, con in mezzo la guerra in Ucraina, il caos libico e le tensioni nel Mediterraneo orientale, il presidente del consiglio italiano ha fatto un passo avanti: adesso con il dittatore non solo cooperiamo, ne siamo diventati «amici» come ha detto Draghi ieri a Ankara. Quindi anche complici.
26167	5	L’Italia e la Nato, pur di fare entrare Svezia e Finlandia nell’Alleanza, hanno svenduto il destino dei curdi a Erdogan, e ieri Draghi è andato ad Ankara, in compagnia di cinque ministri, con il cappello in mano per chiedere appoggio sul gas (Tap e Tanap), sulle concessioni offshore a Cipro (ostacolate dalla Turchia) e sulla Libia, dove in Tripolitania Erdogan conduce le danze tra le fazioni e l’Italia con l’Eni non estrae il petrolio e il gas di cui avrebbe bisogno.
26167	7	In cambio alla Turchia offriamo armamenti – questo significava la presenza ad Ankara del ministro della difesa Guerini _ un aumento dell’interscambio (attualmente a 20 miliardi euro) e ci prepariamo quindi a chiudere gli occhi sulle malefatte di Erdogan contro i curdi e gli oppositori interni. Sarebbe quindi ora di smettere di vaneggiare sui «valori occidentali», visto che forniamo a Erdogan gli elicotteri Agusta per colpire i curdi sia in Siria che in Iraq. Draghi in Turchia ha dimostrato l’ipocrisia occidentale sulla democrazia e i diritti umani e la sua visita, preceduta dall’accordo di Madrid, rafforza il regime nella sua guerra contro i curdi: un drone turco qualche giorno fa ha ammazzato a Raqqa la comandante del Forze democratiche siriane anti-Isis Mizgin Kobane. Tutto questo nel silenzio di quell’Occidente che appena qualche anno fa acclamava i curdi come i «nostri eroi» contro il Califfato e postava sui social le foto delle combattenti curde.
26167	9	È sullo sfondo di questi eventi e della guerra in Ucraina che Draghi è stato accolto al palazzo presidenziale di Ankara in pompa magna per l’incontro con il presidente turco Erdogan. Il premier italiano è stato preceduto da un corteo a cavallo mentre suonavano gli inni nazionali. Insieme al presidente turco Draghi ha sfilato su un tappeto azzurro scortato dalla guardia presidenziale in alta uniforme fino all’ingresso del palazzo. Ad attendere Draghi ed Erdogan una delegazione nei costumi degli eserciti dei 16 stati turchi fondati prima della repubblica: insomma una grande occasione per uno show improntato alle ambizioni neo-ottomane del leader turco.
26167	11	Questo apparato scenografico, definito da Draghi in conferenza stampa, un’«accoglienza calorosa e splendida», non è stato certo casuale. Serviva a Erdogan per ribadire il suo ruolo di Sultano della Nato davanti a un interlocutore con cui aveva avuto un’acuta frizione diplomatica che nel corso dell’ultimo anno ha avuto modo di appianare grazie agli interessi comuni dei due Paesi e soprattutto alla remissività dell’Italia. Ecco un esempio di come abbiamo già ceduto alle richieste turche: recentemente abbiamo chiesto il permesso ad Ankara per esercitare con le navi dell’Eni il diritto acquisito di trivellare nella zona greca di Cipro, cosa che naturalmente ha fatto infuriare gli ellenici. E ieri Erdogan non ha perso l’occasione per bollare «la Grecia come una minaccia anche per l’Italia», riferendosi tra l’altro anche al contezioso sui migranti. Affermazione rimasta senza replica da parte italiana.
26167	13	Figuriamoci quando ci toccherà discutere sulla zona economica esclusiva tracciata tra Turchia e Libia da Erdogan nel 2019, che allora salvò il governo di Tripoli dalle truppe del generale Khalifa Haftar alle porte della capitale. Quella Libia dove le proteste esplose lo scorso «venerdì di rabbia» hanno messo drammaticamente sullo scacchiere internazionale il rischio che il Paese sprofondi nel caos e nell’anarchia mentre riemergono i gheddafiani.
26167	15	E non è certo un caso che la Turchia sia sempre in mezzo a mediare tra le fazioni di Tripoli, Misurata, Bengasi e Tobruk, dove ormai l’Italia da tempo non tocca palla. Come siamo in balìa dei turchi in questa parte del Mediterraneo che loro considerano la Patria Blu, un concetto strategico che dal Mare Egeo, dove i turchi si scontrano con la Grecia, vogliono ampliare al Nordafrica e ancora più in là, al Golfo, dove hanno i loro militari di stanza in Qatar. Troppe ambizioni? Sì, forse, per un Paese che vive anche una forte crisi economica, ma Erdogan sta giocando una duplice partita anche nella guerra in Ucraina, come mediatore con Putin e sostenitore del governo di Zelenski.
26167	17	L’Italia al confronto appare assai evanescente anche se andiamo a vedere in concreto cosa è stato firmato ad Ankara: accordi sulle piccole e medie imprese e la protezione reciproca dei dati industriali. E se c’è qualche cosa di strategico – armi, gas e confini marittimi – è stato lasciato nelle pieghe dei protocolli d’intesa. Probabilmente avremo maggiori informazioni nei prossimi giorni ma una cosa è certa: di rimproveri al Sultano della Nato l’Italia di Draghi non ne fa e quell’appellativo di «dittatore» che gli riservò l’anno scorso resterà come una nota ininfluente a piè di pagina.
