26168	1	Il massacratore di ebrei e polacchi diventa «eroe»
26168	3	Il giornalista tedesco Tilo Jung non ha dovuto spingere granché per ottenere dall’ambasciatore ucraino Andrij Melnyk una versione dettagliata del suo pensiero su Stepan Bandera, il leader nazionalista e filo nazista che eliminò con le sue milizie decine di migliaia di ebrei e di polacchi nella Seconda guerra mondiale. La scorsa settimana, quando gli ha domandato come mai tutto il mondo riconosca i crimini di Bandera fatta eccezione per l’Ucraina,
26168	4	Melnyk ha risposto candidamente: «Non c’è alcuna prova che gli uomini di Bandera abbiano ucciso centinaia di migliaia di ebrei. Zero prove. Si tratta di una narrazione avanzata dalla Russia e sostenuta da Germania, Polonia e Israele. Non so dove abbiano preso quei dati, ma sono pronto a confrontarmi obiettivamente con la comunità ebraica, sempre che non si limitino a ripetere quel che è stato detto per decenni».
26168	6	A quel punto il giornalista gli ha fatto presente la difficoltà che si dovrebbe provare a chiamare «eroe» un assassino di ebrei e polacchi. In effetti, solamente sulla base di una infantile forma di relativismo Bandera si può considerare «eroe» e i suoi seguaci «partigiani». Ma Melnyk un’altra volta ha risposto senza esitare: «Bandera non era un assassino di ebrei e polacchi». L’intervista, trasmessa sul popolarissimo canale YouTube di Jung, sta sollevando come si immagina violente proteste ben oltre la Germania, il paese in cui Melnyk rappresenta l’Ucraina dal 2014.
26168	7	L’ambasciata di Israele a Berlino ha definito le disgraziate parole di Melnyk «una distorsione di fatti storici, una modo per banalizzare l’Olocausto e un insulto a coloro che sono stati uccisi da Bandera». Per di più, sempre secondo l’ambasciata di Israele, quelle dichiarazioni «minano valori che tutti amiamo, e anche la coraggiosa lotta che il popolo ucraino affronta per vivere in pace». Il riferimento al confronto con la Russia è evidente ed è significativo in questa fase. Alla nota Melnyk ha risposto in modo quasi grottesco. Sul suo profilo Twitter ha pubblicato due foto in cui sorride al fianco di rappresentanti della comunità ebraica, con un messaggio che dice: «Chi mi conosce lo sa, ho sempre condannato l’Olocausto nei termini più forti».
26168	9	Duro è stato anche il governo polacco, che ha chiesto al ministero degli Esteri ucraino di prendere formalmente le distanze dal suo ambasciatore. Un resoconto realistico dei pensieri che attraversano Varsavia lo ha fornito il notista Jerzi Haszczynski sul quotidiano polacco Rzeczpospolita. «Dopo l’invasione russa ci siamo sforzati di mettere da parte questioni storiche che avrebbero potuto danneggiare i rapporti con l’Ucraina», ha scritto Haszczynski, secondo il quale «le parole di Melnyk non si possono cancellare come se niente fosse: sono una ferita per l’Ucraina in un momento di estrema sofferenza per il suo l’esercito e di forti pressioni dell’occidente per mettere fine a questa guerra».
26168	10	Melnyk, stando alle fonti della stampa tedesca, potrebbe essere presto richiamato in patria. Per lui sarebbe pronto un incarico di rilievo al ministero. Non è chiaro in casi come questo se si tratti di una promozione o piuttosto di un sistema per limitare il suo territorio. Vero è che l’approccio aggressivo con cui Melnyk ha condotto le relazioni in Germania, in particolare sulla fornitura di armi all’esercito ucraino, gli hanno portato estrema popolarità a Kiev. Non è da escludere che valga lo stesso con le ultime e farneticanti affermazioni sulla Seconda guerra mondiale.
26168	12	In Ucraina il culto di Bandera è uscito definitivamente dagli ambienti ultranazionalisti dopo la rivoluzione del 2014. Tanto che persino Melnyk, raffinato diplomatico in servizio nella più importante capitale europea, si sente oggi in dovere di difendere la sua oscura eredità. Questo processo è senza dubbio amplificato dall’invasione militare che il capo del Cremlino, Vladimir Putin, ha ordinato a febbraio proprio con il pretesto di «denazificare» l’Ucraina. Sarebbe folle, è evidente, pensare che la guerra rappresenti una risposta alle posizioni espresse da Melnyk e condivise da una parte consistente della classe politica ucraina. Ma una risposta a quelle posizioni l’Europa sarà prima o poi comunque costretta a
