2699	1	Immigrati, lo schiaffo in faccia della Ue all’Italia: tenetevi i clandestini per tre anni
2699	3	È l’ultimo schiaffo dell’Europa all’Italia: tenetevi gli immigrati clandestini per 3 anni. Come se l’Italia – Paese di primo arrivo dell’ondata migratoria – debba essere considerata la discarica dell’Europa. Un gigantesco hotspot dove parcheggiare – per tre anni – tutti gli immigrati che le Ong scaricano sulle nostre coste.
2699	5	La sfacciata e gravissima decisione dell’Europa l’ha svelata il viceministro degli Affari europei della Francia, Clement Beaune. Che in un’intervista al Corriere della Sera a proposito del ‘mini-summit’ sulla lotta al terrorismo al quale hanno partecipato Francia, Austria, Germania, Paesi Bassi e Ue e a cui l’Italia non è stata invitata – come ha evidenziato Giorgia Meloni – ha spiegato cosa sta preparando la Ue alle spalle degli italiani.
2699	7	“Abbiamo discusso a lungo su quanto tempo un Paese di primo arrivo dovesse occuparsi di un migrante prima che la responsabilità passasse allo Stato di seconda accoglienza – ha rivelato Clement Beaune. – La Commissione propone tre anni. Credo che siamo vicini a trovare un equilibrio”.
2699	9	Significherebbe, appunto, che l’Italia diventerà una sorta di gigantesco hotspot obbligato a tenersi gli immigrati per tre anni prima dobbiamo ottenere dagli altri Paesi europei la redistribuzione. Ammesso che, al termine di questi tre anni gli altri Paesi accettino di prendersi gli immigrati. Cosa per nulla scontata visti i precedenti.
2699	11	“Per avere chiarezza sul futuro dell’Italia – dice Galeazzo Bignami, responsabile immigrazione di FdI – siamo costretti ad aspettare cosa dice il governo francese. Che, candidamente, afferma come l’Italia non solo non è un paese attivo sul tema migranti, diversamente da altri Paesi tra cui l’Olanda, ma anche che il destino della nostra Nazione è quella di divenire un vero e proprio hub europeo in cui i migranti potranno restare per tre anni”.
2699	13	”Se avessimo un governo dotato di un minimo di spina dorsale ci sarebbe da fare ben più di una protesta formale – s’indigna Bignami. – Invece abbiamo un ministro degli Esteri del tutto impalpabile. E un ministro dell’Interno la cui credibilità è ai minimi storici”.
2699	15	”Non solo non ci consultano su temi fondamentali per la nostra Nazione, ma prendono, addirittura, anche decisioni che graveranno su di noi”, accusa il responsabile Immigrazione di Fratelli d’Italia.
