26240	1	Più soldi a immigrati che ai pensionati: 72% ha pensione inferiore alla paghetta dei profughi
26240	3	Nel 2021,il 32% dei pensionati risulta
26240	5	avere una pensione inferiore ai 1.000 euro.Emerge dal rapporto annuale Inps in cui si precisa che il dato considera gli importi lordi maggiorati delle integrazioni al minimo associate alle prestazioni,di varie forme di indennità. Sono però il 40% quelli con meno di 12mila euro annui,se si considerano solo gli importi delle prestazioni al lordo dell’imposta personale su reddito
26240	7	Questo significa, che un clandestino che sbarca incassa più del 70% dei pensionati. Basta moltiplicare i 35 euro giornalieri degli adulti per un mese. E non parliamo dei minorenni, che possono arrivare a costare 140 euro al giorno.
26240	9	Insomma, lo Stato destina ad un invasore almeno 35 euro al giorno in vitto e alloggio, quindi quasi 1.100 euro al mese. Mentre la maggior parte degli anziani italiani devono mangiare, pagare l’affitto e le bollette con meno di 1.000 euro al mese. Razzismo?
26240	11	E il modo migliore di finanziare gli italiani sarebbe proprio attraverso le pensioni. Non solo i pensionati, ma anche i loro figli e nipoti: è l’unico modo certo con il quale si è certi che, nel 99 per cento dei casi (purtroppo il PD ha inquinato anche le pensioni) a italiani.
26240	13	Tutti gli altri modi (reddito di cittadinanza compreso) rischiano di finire in troppi casi agli immigrati. Finiscono in troppi casi agli immigrati.
26240	15	Prendiamo il caso del bonus bebè. A Vicenza, il Tribunale ha obbligato l’Inps a concedere il bonus bebè ad una signora del Burkina Faso arrivata da poco in Italia. A Brescia e Mantova sono state emesse sentenze identiche e secondo i sindacati, che sostengono le straniere, sono in arrivo altri ricorsi. E dove non riescono i giudici nazionali, ci pensano quelli Ue.
26240	17	A Brescia, per esempio, il primo grado aveva dato ragione all’Inps ma i giudici di appello hanno deciso di rivolgersi alla corte Ue per un consulto. Risultato: “I cittadini dei Paesi non Ue ammessi in uno Stato membro a fini lavorativi, a norma del diritto dell’ Unione e del diritto nazionale – hanno sentenziato i togati europei – devono beneficiare della parità di trattamento rispetto ai cittadini di detto Stato”. Insomma: l’Italia deve pagare.
