26259	1	Zelensky: non accetteremo le intimidazioni di Medvedev
26259	3	Alcuni politici ucraini stanno “cercando di minacciare” la Federazione Russa. Lo ha detto il vicepresidente del Consiglio di sicurezza di Mosca, Dmitri Medvedev, che ipotizza un attacco alla Crimea. Ma se succederà qualcosa del genere, “per tutti loro arriverà immediatamente il giorno del giudizio”
26259	5	Zelensky: l’Ucraina non accetterà le intimidazioni di Medvedev.
26259	7	Il presidente ucraino Volodymyr Zelenskyy ha affermato che l’Ucraina non accetterà le intimidazioni del vicepresidente del Consiglio di sicurezza della Federazione Russa Dmytro Medvedev, che ha minacciato l’Ucraina di “giorno del giudizio” in caso di attacco alla Crimea.
