2682	1	Germania, la lady verde sulla graticola, Si allontana il sogno della cancelleria 
2682	3	Il partito ecologista è in caduta libera, passato dal 28% al 19% Colpa delle gaffe della leader Baerbock, che perde il tocco magico
2682	5	Bruciare undici punti di consenso nelle prime settimane di campagna elettorale non è un risultato esaltante. E oggi in molti si chiedono se sceglierla come candidata cancelliera sia stata la scelta giusta: Annalena Baerbock è sulla graticola. Lo scorso 19 aprile i Grünen le affidarono il ruolo di testa d'ariete verso le elezioni del 26 settembre: una scelta non facilissima. Per alcune settimane gli ecologisti avevano valutato di mettere in campo l'altro co-presidente del partito, quel 56enne Robert Habeck che almeno un po' d'esperienza pregressa quale ministro dell'Ambiente in un Land ce l'aveva. La scelta cadde sulla più giovane (40 anni), sorridente e inesperta Annalena che, anzi, rivendicò orgogliosa il proprio cv da tecnocrate di partito, da sempre lontana da ogni stanza dei bottoni, «tanto noi vogliamo innovare il modo di fare politica in Germania».
2682	7	A poco più di due mesi dalla chiamata alle urne appare evidente che l'inesperienza non paga. Un po' perché Angela Merkel resta la personalità politica più amata dai tedeschi. E se è vero che in mesi recenti alcuni esponenti del suo partito (la Cdu) sono rimasti invischiati in alcune non edificanti storie di tangenti su commesse di mascherine antivirali, a condensare il risentimento dell'antipolitica basta e avanza il partito sovranista Alternative für Deutschland.
2682	9	Un po' perché Annalena dal volto pulito ha infilzato una serie di gaffe che hanno trasformato l'iniziale entusiasmo per la scelta di un candidato donna in un fuoco di paglia.
2682	11	Il giorno dopo la sua candidatura, i Grünen veleggiavano attorno al 29% dei consensi, superando addirittura la Cdu guidata dal poco carismatico Armin Laschet, oggi gli ecologisti sono precipitati al 18%, tallonati addirittura dai socialdemocratici, un partito in crisi storica di consensi. Peggio ancora, il 1 luglio Infratest Dimap ha chiesto a un campione di tedeschi chi vorrebbero quale prossimo cancelliere: Baerbock è arrivata solo quarta con il 18% delle preferenze dopo il 29% assegnate al socialdemocratico Olaf Scholz, il 28% al moderato Armin Laschet e il 25% che ha risposto «non so».
2682	13	Annalena, in altre parole, non attira un singolo elettore indeciso o di un altro partito, attestandosi solo sullo zoccolo duro dei Verdi. Le sue colpe non sono gravi ma i suoi errori, ripetuti, hanno aperto gli occhi a tanti tedeschi. Il suo curriculum, in primo luogo, è risultato «abbellito» nelle sezioni studi accademici e appartenenza a organizzazioni internazionali, «sviste» di cui la candidata cancelliera si è scusata con gli elettori. Poi è stato il turno di alcune sue dichiarazione tardive al fisco tedesco riguardo alcuni bonus ricevuti dal partito: niente di illegale ma non un buon biglietto da visita.
2682	15	L'ultima novità riguarda il suo libro «Adesso: come rinnoveremo il nostro paese», con numerose citazioni prove riferimenti agli autori originali. Un altro errore che ha permesso alla popolare Bild di mettere l'autrice alla berlina, obbligando un partito distratto ad assumere avvocati per difenderla dall'accusa di plagio. L'editore ha annunciato che pubblicherà una nuova versione del libro includendo i riferimenti «persi» nella prima edizione.
2682	17	Se a questo si aggiunge unacampagna di fake news circolate online e attribuite a fonti russe intenzionate a punire una Baerbock sempre critica con il presidente russo Putin, si capisce come Annalena non stia vivendo un momento d'oro: se resterà in sella, sarà la politica tedesca a cambiare lei.