26150	1	"Diventati zombie con la propaganda": l'attacco della giornalista no war alla Russia
26150	3	Marina Ovsyannikova è la giornalista russa no war che si è presentata davanti alle telecamere del tg serale della tv di stato russa Channel One alcuni giorni fa con un cartello contro la guerra in Ucraina. Per questo suo gesto è stata arrestata ma il suo caso ha sollevato un enorme caso internazionale, tanto che la giornalista è stata preso rilasciata dopo il processo e obbligata però a pagare una multa di 30mila rubli, circa 220 euro. Questa sera si è presentata davanti alle telecamere di Che tempo che fa per un'intervista in collegamento con Fabio Fazio, durante la quale non si è risparmiata e ha espresso le sue preoccupazioni per quanto sta accadendo in Russia.
26150	5	"Certamente che ho paura, sono una persona normale, una abitante di Mosca e ho due figli che tiro su da sola e ho più paura per loro che per me stessa. Temo che possano essere oggetto di una aggressione a scuola, o per strada, ci sono persone che la pensano diversamente e ho paura", ha rivelato su Rai 3, sottolineando che dopo quanto è successo è stata isolata e ora si trova completamente sola. "Dopo questo incidente alla televisione nessuno mi ha chiamato, mi ha scritto una sola persona e mi ha mandato una parola di sostegno, ma tra persone più vicine a me nessuno mi ha chiamato", ha detto Marina Ovsyannikova. La paura in Russia è tanta, il dissenso è punito con pene molto severe e sono pochi quelli che hanno il coraggio di esporsi.
26150	7	Effettivamente la situazione in Russia è molto complessa. Il Paese sta vivendo uno dei suoi momenti più neri da 30 anni a questa parte e l'isolamento dal resto del mondo contribuisce a plagiare la mente degli abitanti che non riescono ad avere accesso ad altre fonti di comunicazione. I risultati sono quelli esposti da Marina Ovsyannikova: "Secondo le ultime indagini sociologiche il 50% della popolazione russa sostiene questa guerra e il 50% è contro, e queste sono delle indagini indipendenti. Ma se vediamo le indagini fatte dai centri nazionali il quadro è diverso e si parla del 70% a favore di questo intervento, ma dobbiamo ricordare che sono persone che hanno ricevuto il lavaggio cervello dalla propaganda nazionale". La giornalista ha quindi aggiunto: "Adesso dalla mattina alla sera abbiamo degli show politici dove si parla male dell'Ucraina e dove si dice che questo Paese deve scomparire. Le persone sono 'zombizzate' da questa propaganda"
26150	9	Nei giorni scorsi, Marina Ovsyannikova ha annunciato di aver lasciato il suo lavoro ma ha pubblicamente dichiarato di non voler lasciare la Russia, tanto da aver declinato l'offerta di asilo dalla Francia. Inevitabile la macchina del fango contro di lei da parte della disinformazione russa, che ora la accusa di essere una "spia" al soldo dei britannici. Fattispecie che il governo di Londra respinge fermamente.
