2624	1	È allarme sui nostri giovani: dopo averli rintronati con il Covid, la propaganda di guerra dei media di regime ha dato loro il colpo di grazia: stanno rovinando intere generazioni
2624	3	L’indagine su 5mila studenti italiani realizzata dal Laboratorio Adolescenza e dall’Istituto Iard: tra i motivi di ansia anche le ripercussioni economiche, ma non l’arrivo dei profughi.
2624	5	La guerra in Ucraina spaventa i ragazzi, che già avevano il loro fardello di paure legate alla pandemia. Otto su dieci fra i 13 e i 19 anni temono il coinvolgimento dell’Italia nel conflitto o addirittura lo scoppio della Terza guerra mondiale, ma fra i motivi di ansia ci sono anche le ripercussioni economiche che potremo avere. Non sono preoccupati invece dall’arrivo in Italia di decine di migliaia di profughi provenienti dalle zone di guerra e hanno grande empatia per la sofferenza del popolo ucraino. Le risposte si riferiscono all’indagine nazionale sugli stili di vita degli adolescenti che vivono in Italia realizzata annualmente dalla associazione milanese “Laboratorio Adolescenza” e dall’Istituto di ricerca IARD. L’indagine si effettua normalmente su un campione nazionale di 3.500 studenti di età compresa tra 13 e 19 anni, ma quest’anno il campione è stato di 5.000 studenti.
2624	7	Dunque, tanta paura e sofferenza per le stragi dei civili a Bucha e negli altri centri attorno a Kiev. Ma questo non basta ad alleviare il panico per i rischi annunciati a più riprese di una terza guerra mondiale, come anche l’orrore per il coinvolgimento dei civili nella guerra, Il tentativo di occupazione di uno stato da parte di un altro stato. “La rilevazione per questa ricerca annuale si chiude il 30 maggio, ma considerando il numero raggiunto e, soprattutto, la stabilità del dato – spiega Carlo Buzzi, sociologo dell’Università di Trento e Direttore scientifico del lavoro – abbiamo ritenuto di poter fare già alcune anticipazioni”.
2624	9	L’indagine è partita qualche giorno dopo lo scoppio della guerra in Ucraina, per cui è stato possibile fare alcune domande finalizzate a capire se e quanto alcuni aspetti inerenti la guerra potessero creare allarme e preoccupazione tra gli adolescenti.
2624	11	Il timore che l’Italia entri in guerra ce l’hanno tre su quattro mentre otto ragazzi su dieci hanno paura proprio di una terza guerra mondiale. Poi ci sono le preoccupazioni economiche, otto su dieci sanno che in famiglia si deve risparmiare perché i costi aumentano. Solo il 13 per cento si dice molto preoccupato per l’arrivo dei profughi, anzi la maggior parte – uno su due dei 5mila ragazzi intervistati – è piuttosto impressionato dal dolore del popolo aggredito dai russi, un dolore che si percepisce guardando le immagini dei bombardamenti e delle devastazioni che ne sono seguite.
2624	13	“La preoccupazione degli adolescenti risulta elevatissima, per tutti gli aspetti considerati, con percentuali che vanno generalmente tra l’80 e il 90%. – si legge nelle prime pagine della ricerca anticipata a Repubblica – Gli aspetti umanitari (sofferenza del popolo ucraino e coinvolgimento dei civili nella guerra) sono – insieme al timore di ripercussioni economiche che potremmo avere dalla guerra – gli ambiti verso i quali la preoccupazione è maggiore.
2624	15	Interessante osservare – ma si lega con il coinvolgimento emotivo verso la sofferenza del popolo ucraino – che la maggioranza assoluta non considera preoccupante anche un eventuale numerosissimo arrivo di profughi dalle zone di guerra. Il livello di preoccupazione risente dell’età (aumenta all’aumentare dell’età) ma, soprattutto, del genere. Le ragazze sono mediamente più preoccupate dei maschi (unica eccezione il prevedibile flusso di profughi in Italia) e anche tra chi si dice “preoccupata/o” il grado di preoccupazione è maggiore nelle ragazze”.
2624	17	E ancora: “Un ulteriore aspetto trattato nell’indagine ha riguardato la visione complessiva del futuro (e quindi non specificatamente riferita alla guerra) da parte degli adolescenti. La maggioranza assoluta ha una visione complessivamente negativa (preoccupati o incerti). Solo l’11% delle ragazze e il 18% dei maschi si definisce “ottimista”. Un altro fardello di ansie quindi agita i ragazzi italiani, usciti già male dai due anni chiusi in casa, o quasi.
2624	19	“Il quadro che emerge è tutt’altro che confortante – sottolinea Maurizio Tucci, presidente di Laboratorio Adolescenza – E’ insolito, addirittura innaturale, vedere adolescenti che guardano al futuro senza sogni e speranze, magari anche utopiche, ma facendo prevalere timori e preoccupazioni. Certamente i due anni di pandemia trascorsi, senza nemmeno l’assoluta certezza di esserne definitivamente usciti, hanno influito molto sulla loro serenità complessiva e a questo si è aggiunta l’angoscia della guerra che ha peggiorato la situazione”.