26239	1	Sbarchi + 30%: bomba islamica sulle spiagge italiane
26239	3	E che sia un esercito di scrocconi in cerca di reddito di cittadinanza e sussidi, è chiaro.
26239	5	A certificarlo sono ancora una volta i numeri del Viminale. L’anno scorso gli sbarchi di afghani rappresentavano una percentuale trascurabile, quest’anno sono aumentati ma nulla di drammatico, dal primo gennaio a oggi sono già 3.291 i cittadini provenienti dal Paese islamico sbarcati in Italia, pari a poco più dell’11% del totale.
26239	7	Sono invece bengalesi a rappresentare la nazionalità più presente tra i clandestini approdati, con almeno 5.033 cittadini sbarcati, pari al 16%. Seguono poi egiziani e tunisini con rispettivamente 4.967 e 4.308 migranti arrivati. Questi ultimi seguono in gran parte la rotta tunisina e libica dell’immigrazione, gli afghani, invece, salpano dalla Turchia, inviati dall’alleato di Draghi, Erdogan.
26239	9	E gli invasori hanno tutti una cosa in comune: sono giovani maschi musulmani. Un esercito invasore che andrebbe respinto. Con le armi. Invece che accolto da ex militari in calore.
