2676	1	Prima i no-vax, ora i putiniani d’Italia: le liste di proscrizione dei “democratici” fanno vomitare
2676	3	I “putiniani d’Italia”. Una lista, bella corposa, nel mirino del Copasir, come riporta anche il Giornale insieme ad altri quotidiani mainstream.
2676	4	Putiniani d’Italia, attenti!
2676	6	Strumenti della propaganda russa, quella che esiste solo se viene da Mosca e, per carità, non riguarda l’Occidente libero e democratico. Quell’occidente dove ognuno è libero di esprimere la propria opinione senza essere oggetto di indagine…anzi no. Visto che il Copasir, Comitato parlamentare per la sicurezza della Repubblica, a quanto pare l’indagine la fa eccome, e la spiattella pure su mezza stampa nazionale.
2676	8	La dirige verso chi, con fare manicheo, è definito “putiniano”. Cosa significhi putiniano poi è un altro affare misterioso. Non dare ogni ragione all’Occidente è putiniano? Rimarcare sul percorso che ha condotto alla guerra in Ucraina è putiniano? Sostenere che i nostri interessi non siano esattamente quelli di alimentare il conflitto tra Kiev e Mosca è putiniano? Difendere aziende e lavoratori che rischiano il collasso a causa dei prezzi dei generi alimentari, di quelli delle fonti energetiche, dell’inflazione galoppante che sta producendo questa guerra è putiniano? Se il sottoscritto pensa alle tante famiglie che potrebbero finire in mezzo a una strada per l’espansionismo assurdo di Washington è putiniano?
2676	9	Occhio, dissidenti, il Copasir vi osserva
2676	11	Insomma, cari putiniani d’Italia, state attenti. Il mondo libero dalla propaganda vi accusa di propaganda filorussa. E vi osserva con attenzione. Alessandro Orsini, Massimo Cacciari, ma anche più “da battaglia” come Giorgio Bianchi, andati sul territorio, sono pericolosi agenti di Putin. Il problema è che agente di Putin a questo punto potrebbe essere chiunque, anche un nome non famoso – come appunto il sottoscritto – solo perché pensa che questo ripiegarsi delle nazioni europee sui diktat della Casa Bianca sia senzi mezzi termini una cosa sola: un suicidio. Ma non va bene, perché come ci narrava Andrea Scanzi la scorsa settimana a #Cartabianca, “la Russia è quella roba lì dove la televisione rincoglionisce tutti”. L’Occidente, invece, non solo rincoglionisce. Indaga direttamente chi non è d’accordo. Viva la democrazia, come sempre.