26182	1	La Russia conta i suoi alleati
26182	3	Dalla fine della Guerra Fredda mai momento è stato più delicato nelle relazioni tra Mosca e l’Occidente, con USA e UE che continuano a “provocare diplomaticamente” la Russia, militarizzando l’Ucraina nonostante non faccia parte della NATO – e chiedendo invece a Putin di ritirare le truppe dal proprio confine nazionale -, insistendo sulle sanzioni politico/economiche e disprezzando le proposte di pace del Cremlino.
26182	5	Mosca dal canto suo, se da una parte non cede alle bullesche provocazioni, dall’altro rinsalda le alleanze con i paesi anti NATO, in vista di una guerra che non sarà lei ad incominciare ma dalla quale sicuramente non si tirerà indietro.
26182	7	Ecco allora che iniziano a delinearsi sempre di più gli schieramenti.
26182	9	Lukashenko, presidente della Bielorussia, ha voluto chiarire la propria posizione nel discorso alla nazione e al Parlamento tenuto ieri:
26182	11	“Ci sarà guerra o no? Sì, ci sarà ma solo in due casi: se la Bielorussia subisce un’aggressione diretta o se il nostro alleato, la Russia, subisce un attacco diretto […] Per l’Occidente, è importante annegare nel sangue la fratellanza russo-ucraina, noi siamo popoli slavi fraterni, proveniamo dalla stessa fonte battesimale. Le nostre radici sono nel profondo dei secoli e questo deve essere preservato, a qualsiasi costo. I nostri legami indissolubili sono alla base della nostra sicurezza e della nostra sopravvivenza. Riporteremo la nostra Ucraina nella nostra fratellanza slava”.
26182	13	Segnali di cooperazione militare arrivano anche sull’asse Mosca – L’Avana, con l’ambasciatore russo a Cuba che in un’intervista a RIA Novosti da detto:
26182	15	“La cooperazione militare con Cuba procede attivamente e non dipende dalla situazione, sono previsti nuovi contatti in ambito tecnico-militare. Lo spiegamento di infrastrutture militari a Cuba è un argomento delicato, non possiamo renderlo pubblico”.
26182	17	Nel frattempo da ieri Mosca ha vietato l’ingresso nel paese a diversi funzionari dell’Unione Europea, alcuni dei quali “personalmente responsabili della diffusione della politica anti-russa” in Occidente.
