26169	1	Covid, Vaia: "Nuova variante Omicron buca i vaccini, lockdown inutile" •
26169	3	La nuova variante Omicron del covid, più contagiosa, “è come se fosse un nuovo virus e buca i vaccini che non sono aggiornati”. Lo dice in un’intervista il direttore generale dello Spallanzani, Francesco Vaia, al Corriere della Sera. “Il bollettino quotidiano non ha più molto senso, con un tasso di positività che un giorno segna 13% e il giorno successivo 28 – sottolinea l’esperto – Contribuisce solo a creare un clima di stress da allarme contro l’avversario Covid e se unito alla paura della guerra e a quella dell’inflazione che sale, non fa che indebolire le difese immunitarie“. E i motivi dell’aumento dei casi “non sono semplicisticamente riconducibili né al concerto della rockstar al Circo Massimo né alla partita di calcio all’Olimpico, a cui la gente ha diritto. Chi parla di nuovo lockdown sbaglia, il Paese deve andare avanti. E mai tornare indietro”.
26169	5	Secondo il direttore dello Spallanzani il nuovo balzo dei contagi è infatti dovuto “alla maggiore contagiosità della nuova variante Omicron che è come se fosse un nuovo virus e che buca i vaccini che non sono aggiornati. Resta il fatto che è uno strumento fondamentale per proteggere dalle forme gravi della malattia“. Niente panico comunque, spiega Vaia: “Allo Spallanzani non vediamo più polmoniti interstiziali così come non vediamo più giovani in reparto”. I ricoverati sono “over 70 con comorbidità. Molti dei quali non avrebbero neanche bisogno di stare in ospedale”.
26169	7	Vaia passa poi ad elencare gli obiettivi fondamentali per l’autunno: “Oltre all’aggiornamento dei vaccini bisogna puntare anche su risposte concrete da parte del sistema Italia: prima fra tutte, ventilazione meccanica in tutti i luoghi della socialità, a partire dalle scuole e dai mezzi pubblici. Non posso pensare di vedere ancora per un anno i bambini in classe con i giubbotti perché le finestre devono restare aperte. Un buon sistema di ventilazione meccanica è tre volte più efficace della mascherina, che pure è stato uno strumento fondamentale in pandemia”.
26169	9	Il direttore dello Spallanzani si dice poi d’accordo con l’assessore della regione Lazio D’Amato, a favore di un abbassamento della soglia d’età per sottoporsi alla quarta dose di vaccino: “noi il virus lo dobbiamo anticipare e non rincorrere. Vanno messi in sicurezza il prima possibile i fragili e gli anziani con la quarta dose”. ADNKRONOS
