26218	1	Draghi bis e Di Maio ds, siamo al fantacalcio applicato alla politica italiana
26218	3	Roma, 18 lug – Cambi di casacca improvvisi, nuove alleanze, divisioni interne, giuramenti di fedeltà, dichiarazioni infuocate. Mancano meno di 48 ore al Draghi day, ergo al possibile Draghi bis, ovvero al giorno in cui il premier dimissionario ci farà gentilmente sapere se resterà al suo posto oppure confermerà di volersene andare, nel frattempo però è in atto il classico teatrino della politica italiana. Una sceneggiata degna delle peggiori telenovelas sudamericane, con attori di Serie C prelevati da fotoromanzi in bianco e nero. Quantomeno però, i generi serial televisivi dell’America Latina riscuotono apprezzamenti tra le casalinghe, in questo caso non c’è un italiano che sia uno lieto di sorbirsi questa imbarazzante pantomima.
26218	5	Per il Draghi bis ecco il fantacalcio parlamentare
26218	7	Perché siamo al fantacalcio parlamentare, alla campagna acquisti tra forze politiche intente a scacciare lo spettro della competizione reale, pur di salvarsi la poltrona ancora per qualche mese. E allora si procede a suon di corteggiamenti, atti a imbarcare qualche soggetto improbabile che funga da stampella per il Draghi bis. Il tutto con il preciso obiettivo di annientare definitivamente ciò che resta dei derelitti Cinque Stelle e vivacchiare poi in sella a una coalizione senza colori. Draghi comanda colore.
26218	9	Di per sé, la mesta fine pentastellata sarebbe pure una bella notizia, peccato solo che i competitor di maggioranza abbiano egualmente perso qualsivoglia distintivo di credibilità. Hanno tutti sostenuto sua maestà Draghi, osannandolo e incensandolo fino alle soglie della campagna elettorale. Adesso, attanagliati dall’amletico dubbio sul da farsi (tenersi la poltrona o partire in quinta con la propaganda pre voto), fanno a gara a chi strappa più figurine all’altro. Rimediando figuracce ciclopiche.
26218	11	Nessuna forza che compone l’attuale esecutivo è immacolata, nessuna può dirsi davvero coerente, nessuna viene sul serio apprezzata dai cittadini italiani. Campano tutti di rendita in assenza di rivali all’altezza della situazione, arrivando a rivalutare persino l’ex avversario più bersagliato. Guardateli, sono tutti lì a stendere tappeti rossi a Giggino Di Maio, fino a poche settimane fa derubricato a inadeguato bibitaro e oggi elevato a statista di assoluto spessore. Da brocco a fuoriclasse, il tempo di uno strappo fulmineo e di una campagna acquisti in casa grillina.
26218	13	E così tutto potrebbe accadere, per quanto sia sempre più probabile la permanenza di Draghi in assenza di commissario alternativo sufficientemente “stimato” dal gotha internazionale. E ci raccontano che tornare alle urne è impossibile per via del Pnrr, dei mercati, della finanza, dell’Ue, degli alieni e dei folletti. Ma sì, tirate fuori pure il fantasma Formaggino, da schierare centravanti in un bel 3-4-3 fantapolitico.
