26106	1	G7 a Monaco: contano talmente poco che non interessa più neanche ai manifestanti
26106	3	La Germania assume la guida del G7, ma la cosa non interessa a nessuno. Il G7 sembra un circolo ARCI pensionati, dove si incontrano ex poteri che un tempo erano qualcosa, e che ora passano il tempo illudendosi di esserlo ancora. Un po’ come Prodi, che ora va a predicare in TV pensando di essere ancora qualcosa, ma che, dopo aver disfatto l’Italia e aver flirtato un po’ con tutti. ora non conta più niente.
26106	5	Il G7 ormai conta così poco che perfino le contro manifestazioni, organizzate dalle solite organizzazioni fintamente alternative, tipo WWF, Attac e le altre organizzazioni “Ambientaliste” ha fatto flop. Un flop colossale: la polizia si attendeva 20 mila persone, alla fine ne sono arrivate solo 3500. Alla fine quattro gatti, che hanno messo in atto una ridicola manifestazione “Perché c’è la crisi climatica, perché si rischia l’estinzione della specie” e le altre amenità che ormai sono diventate banali.
26106	7	Del resto che senso ha manifestare verso un gruppo di persone che, da un lato sono i foraggiatori di queste organizzazioni, dall’altro ormai non contano più nulla. Biden è in grossa difficoltà affrontando l’inflazione. Johnson è in difficoltà per l’economia, ma anche per i problemi interni, con mezzo partito che gli si ribella, fra scandali e flop elettorali. Scholz, che non è la Merkel, è alla guida di una maggioranza contradditoria e di un’economia prossima alla recessione e alla de-industrializzazione. Macron ha perso le legislative, governa, ma non regna più come prima. Draghi è un gestore fallimentare dell’Italia messo da altri. Solo Trudeau e Kishida sono saldi in sella, con anche loro problemi economici, anche se secondari rispetto a quelli USA.
26106	9	Alla fine del G7 non interessa niente a nessuno: basta conoscere le confuse decisioni della presidenza americana per avere un’idea di quello che succede altrove. intanto la UE è solo un esecutore: anche se Germania , Francia e Italia volessero fare qualcosa di diverso arriverebbe una Von Der Leyen telecomandata dai Dem e li rimetterebbe in riga. Quindi il G7 va bene per le foto e , magari, per una bella birra, ma politicamente non conta nulla, proprio nulla.
