2639	1	Regimi comunisti e dittature sanitarie: stessa storia, stessa fine
2639	3	La dittatura sanitaria cadrà esattamente come è caduta la dittatura comunista. Cadrà prima in un paese simbolo (indovinate quale) e poi –  per un inesorabile effetto domino – in tutti gli altri. Proprio come nell’89, l’implosione dell’URSS determinò lo sgretolamento anche dei suoi fedeli satelliti. E probabilmente avverrà qualche evento simbolico, come il crollo del muro di Berlino. Magari solo per metafora. Forse si tratterà del muro di menzogne su cui sono stati eretti gli altari al dio Vax e le chiese dei suoi sacerdoti. Sia come sia, ciò accadrà. Possiamo prevederlo con ragionevole sicurezza per una semplice ragione. E cioè per le straordinarie somiglianze tra il Comunismo e il Covidismo, tra il Comunismo e il Panvaccinismo.
2639	5	Pensateci. In entrambi i casi, ci troviamo di fronte a una forma di idolatria per una pseudoscienza. Marx era convinto di aver individuato le leggi ineluttabili del divenire storico, precise e “matematiche” (nel loro inverarsi) come la legge di gravità. Allo stesso modo, i covidioti e gli ultravax credono in una “scienza” (dove il dubbio è bandito e il dibattito aborrito) basata su criteri esattamente opposti a quelli su cui la vera scienza si fonda. Per i comunisti, non è mai stato un problema sapere “se”, ma solo “quando”, vi sarebbe stato il definitivo trionfo del proletariato. Allo stesso modo, per gli ultravax non è mai stato un problema indovinare “se” il vaccino avrebbe favorito l’avvento dell’immunità di gregge, ma solo con “quale” percentuale di vaccinati.
2639	7	Per i comunisti, se la realtà non combaciava con le proprie infallibili previsioni, non andavano cambiate le previsioni, andava adulterata la realtà. Allo stesso modo,  per i covidioti se i morti “di” covid, all’inizio della pandemia, non erano abbastanza da suscitare bastevole paura, bisognava contare nel mazzo anche i morti “con” covid (magari rivelatisi positivi dopo un incidente stradale). Mentre per gli ultravax, se i contagiati e i ricoverati aumentano  a dismisura rispetto alle attese messianiche di “salvezza” vaccinale, allora c’è un problema di “numeri”, vanno rifatti i “conteggi”, bisogna modificare i “parametri”.
2639	9	Ancora, per il Comunismo non c’era tolleranza per i “dissidenti”. Essi andavano demonizzati o addirittura eliminati. Idem dicasi per i Covidioti e per gli Ultravax: i renitenti alla leva del monopensiero virale e vaccinale sono poltiglia verde a cui sparare coi cannoni. O, peggio, subumani cui negare persino il diritto universale alla salute ancor oggi garantito ai più incalliti viziosi (nemici della propria salute) e ai più feroci criminali (nemici della salute altrui).
2639	11	Infine, il Comunismo era per vocazione, “negazionista”. Fino a quando ha potuto, ha negato tutto: dalla natura poliziesca dei regimi d’oltre cortina ai milioni di morti di Stalin. Allo stesso modo, i covidioti negano l’utilità delle  cure e gli ultravax l’esistenza degli effetti collaterali.
2639	13	Insomma, solo usando la categoria politica e storica del comunismo è possibile decifrare e decodificare la altrimenti inspiegabile follia dei tempi correnti.  Nonchè le sue aberranti declinazioni: tipo la sospensione dei medici dal servizio, la puntura indiscriminata ai minori, la pregiudiziale ostilità alle cure.
2639	15	Per una spietata ironia della sorte (ma forse non è un caso), il Covid nasce nel territorio di un’antica dittatura comunista, mentre la linea del rigore ottuso e del fanatismo idiota prospera, nel nostro Paese, soprattutto per colpa di un partitino di malcelata tradizione comunista (espressione del Ministro della Salute).
2639	17	In tutto ciò, una sola, ma non magra consolazione. Almeno in Occidente, regimi comunisti e dittature sanitarie hanno la stessa genesi e vantano la medesima storia. Faranno anche  l’identica fine.