26272	1	È il solito Berlusconi: "Forza Italia al 20%, indicheremo noi il premier". Sui transfughi: "Spariranno come Alfano"
26272	3	Roma, 29 lug – Silvio Berlusconi non molla e rilancia Forza Italia al 20%. In questa convulsa fase di politica italiana, tra immaginarie spie e hacker russi che fanno cadere Draghi, solite sponde destra e sinistra che lasciano – soprattutto adesso – il tempo che trovano, il Cavaliere a 86 anni suonati si prende per un attimo la scena rilasciando la solita dichiarazione “alla Berlusconi”, ovvero quella impossibile, che nessuno immaginerebbe mai, come riportata anche dall’Agi.
26272	5	Berlusconi: “Forza Italia al 20%, indicheremo il premier”
26272	7	Già il mese scorso il Cav si era scatenato nella medesima “previsione”. Perché Silvio Berlusconi è così, non solo con la “sua” Forza Italia. Indistruttibile, cocciuto e megalomane, ha quasi bisogno di inseguire obiettivi impossibili, nelle dinamiche che lo contraddistinguono. Poi, per carità, la vita riserva sempre sorprese. Nel 2013 nessuno si aspettava il suo ultimo exploit elettorale, eppure, con una campagna elettorale da ventenne, riuscì nell”intento di raggiungere quasi il 22% dei consensi, per un partito come il Pdl che tutti davano ormai in calo. Adesso, certamente, l’impresa è ancora più improba: Fi è un partito che da anni staziona sotto il 10% dei voti, e risollevarlo ai livelli per ora immaginati da Berlusconi sarebbe un miracolo elettorale. Ma il Cavaliere è cocciuto, tanto. Suo difetto e sua risorsa, da sempre.
26272	9	I transfughi “spariranno come Alfano e Bondi”
26272	11	La grinta del personaggio di certo non può essere messa in discussione. A 86 anni suonati, Berlusconi ne ha per tutti, anche per chi ha lasciato Forza Italia dopo la caduta del governo Draghi. Nelle dichiarazioni pubblicate dall’Ansa, e rilasciate durante la trasmissione Zona Bianca, il presidente di Forza Italia si è espresso così: “Sono amareggiato perché francamente non pensavo che trovassero un vantaggio ad andare altrove, non è mai successo per tutti coloro che sono usciti da Forza Italia, da Alfano a Bondi sono spariti e spariranno anche loro“. Infine: “Farò la campagna elettorale anche sui social network. Io mi sento in forma e penso di poter fare delle cose convincenti e credo non ci saranno comizi, almeno io li considero inutili le presenze territoriali
