26241	1	FRONTE LIBERAZIONE CORSO INCENDIA CASE MIGRANTI: “NON ASSISTEREMO AL GENOCIDIO CONTRO IL POPOLO CORSO”
26241	3	In un comunicato stampa pubblicato lunedì, il FLNC (Fronte di liberazione nazionale della Corsica) afferma che non sarà uno “spettatore passivo della morte pianificata del popolo corso sulla sua terra”.
26241	5	“Il popolo corso sta morendo, sta scomparendo!”, ha denunciato lunedì il FLNC (Fronte di liberazione nazionale della Corsica) in un comunicato stampa, rivendicando 16 attacchi contro seconde case, imprese edili o veicoli della polizia.
26241	7	Un attacco contro l’immigrazione che sta facendo diventare gli italiani di Corsica minoranza sulla propria terra.
26241	9	“Ciò che uccide il popolo corso è la Francia, il sistema economico mondiale e parte del nostro popolo che ne è complice”, accusa l’organizzazione clandestina, in questo documento trasmesso a Corse Matin.
26241	11	Tra questi complici, il testo prende di mira in particolare Femu a Corsica, il partito autonomista di Gilles Simeoni, presidente dell’esecutivo corso, e “il suo desiderio di egemonia”.
