26271	1	DRAGHI CADE, PUTIN GODE - GRAMELLINI: “SCUSATE IL PENSIERO MALIZIOSO (SARÀ IL CALDO), MA CONSIDERATA LA POSIZIONE COMUNE DI CONTE E SALVINI SULLA GUERRA, IL VERO MISTERO NON È CHE IL GOVERNO SIA CADUTO, MA COME ABBIA FATTO A DURARE FINO A IERI…”
26271	3	Tra gli effetti nocivi del riscaldamento globale va annoverato l'impazzimento estivo della politica italiana. Quando gli scienziati si decideranno ad affrontare seriamente la questione, non potranno che scoprire evidenti connessioni tra l'aumento delle temperature e il comportamento di Salvini e Conte, già protagonisti tre estati fa di un doppio colpo di teatro che - adesso si può dire - fu un doppio colpo di sole e portò l'uno a far cadere un governo di cui era ministro e l'altro a rimanere a Palazzo Chigi con il sostegno dell'opposizione.
26271	5	Quanto è successo in questi giorni conferma i sospetti che alcuni climatologi avanzarono già allora: Conte si è sfilato dalla maggioranza d'emergenza non certo perché fosse finita l'emergenza, ma appena il barometro ha raggiunto i 38 gradi. Mentre Salvini ha aspettato che sfiorasse i 40 per sfiduciare un governo a cui aveva rinnovato la fiducia non più tardi di giovedì scorso.
26271	7	Sarebbe però ingiusto affermare che il caldo abbia colpito soltanto loro: ha insidiato le berlusconiane Ronzulli e Gelmini, ridottesi a battibeccare in Senato come due automobilisti al semaforo, ed è arrivato a scalfire persino l'aplomb di Draghi, che, quando non ne ha potuto proprio più, ha cominciato a togliersi dei sassolini dalle scarpe che sembravano il Monte Bianco. A proposito, scusate il pensiero malizioso (sarà il caldo), ma considerata la posizione comune di Conte e Salvini sulla guerra, il vero mistero non è che il governo sia caduto, ma come abbia fatto a durare fino a ieri.
