265	1	Migranti, quest’anno ne sono già sbarcati quasi 11mila. Meloni: «Blocco navale unica soluzione»
265	3	«La proposta più seria l’abbiamo sempre fatta noi, la proposta più seria si chiama blocco navale». Mentre sulle coste italiane proseguono senza sosta gli sbarchi di migranti, Giorgia Meloni rilancia su Facebook il passaggio del suo intervento alla Conferenza programmatica del partito nel quale ha ribadito che un modo per arginare il fenomeno esiste e Fratelli d’Italia lo propone da tempo. «È intollerabile che grazie all’incapacità del ministro dell’Interno, Luciana Lamorgese, detta Caronte, continuino a sbarcare sulle nostre coste migliaia di immigrati clandestini quando noi – ha ricordato la leader di FdI – ci dobbiamo occupare di profughi veri». Nel post di accompagnamento al video Meloni ha quindi ricordato che «il ministro Lamorgese ha lasciato che i nostri confini venissero presi d’assalto dall’immigrazione clandestina. L’unica soluzione a tutto questo – ha avvertito la leader di FdI – è il blocco navale, ma la sinistra immigrazionista non lo capirà mai».
265	4	Intanto nella notte un altro sbarco si è registrato a Lampedusa, dove sono arrivati 28 migranti, tra i quali due donne e un minore. La Guardia di Finanza ha intercettato il barchino sul quale viaggiavano a 4 miglia dalle coste dell’isola, dove quello di stanotte è stato il primo approdo dopo giorni di stop. Non è stato così però per il resto delle coste italiane, dove solo ieri sono arrivati 101 migranti, portati nel “porto sicuro” di Augusta dalla nave di Medici senza frontiere, Geo Barents, e 47 migranti che hanno raggiunto il Leccese, tra Gallipoli e Marina di Nardò, a bordo di una barca a vela. Nel complesso, secondo i dati del Cruscotto statistico forniti dal Viminale e aggiornati a ieri, sono già 10.862 i migranti sbarcati in Italia dall’inizio dell’anno, a fronte dei 10.064 dello scorso anno e dei 3.543 del 2020.
