26276	1	“Il riscaldamento globale non esiste”, cronista di Libero si tuffa nel Po e muore sfracellato
26276	3	Pavia – Non c’è stato nulla da fare per Stefanos Sparacazzadas, giornalista 38enne milanese di origini greche. Il cronista, in forza al quotidiano “Libero“, è morto sul colpo sfracellandosi sulle rocce, mentre eseguiva un tuffo a volo d’angelo dal ponte della Becca, nel pavese, per dimostrare che il fiume Po non era in secca e che il riscaldamento globale non esiste.
26276	5	Sparacazzadas aveva annunciato la provocatoria impresa dal suo profilo Facebook la sera prima del tragico incidente: “Domattina mi farò una bella nuotata sulle chiare, fresche e dolci acque del Po. Alla faccia di tutti i gretini abbraccialberi baciabalene che si sono inventati lo spauracchio dei cambiamenti climatici per costringerci a rinunciare al benessere del nostro stile di vita occidentale e impedirci di comprare più bastoni per i selfie“.
26276	7	Il giornalista è stato, purtroppo, di parola e ieri mattina si è presentato puntuale all’appuntamento con il destino, sperando di umiliare una volta per tutte i menagrami del global warming e della siccità. Ad accompagnarlo, il videomaker freelancer Giacomo Giuarmuscio, che Sparacazzadas aveva assoldato per immortalare l’impresa, pagandolo con un panino al prosciutto cotto e fontina.
26276	9	Giarmuscio risulta l’unico testimone della tragedia, ma i suoi filmati sono una prova inoppugnabile sul come si siano svolti i fatti. Nelle riprese, ora in mano agli inquirenti, si vede Sparacazzadas sul bordo del ponte pronto a lanciarsi, mentre fuori campo si sente la voce di Giarmuscio che prova per l’ultima volta a convincerlo a non farlo: “Non vedi che ci sono solo sassi??? Il letto del fiume è vuoto“. Giarmuscio ha poi raccontato di aver provato per tutto il viaggio sino al fiume a far desistere Sparacazzadas, ma senza risultati.
26276	11	Poco prima del tragico volo Sparacazzadas ha pronunciato in video le sue ultime parole: “Eccomi qua sopra il Po! Sto per tuffarmi nelle sue acque per dimostrare che non stiamo correndo nessun rischio. I sinistri e i gretini verranno asfaltati da questa dimostrazione. Così potremo tornare a goderci il mondo senza che quegli sfigati provino a farci sentire in colpa. W la vita!“
26276	13	Sebbene l’impresa di Sparacazzadas non fosse stata concordata con la redazione e la dirigenza di Libero, da anni il quotidiano milanese ha adottato una linea negazionista fatta anche di iniziative provocatorie. E di qualche mese un’altra tragedia che ha coinvolto il giornalista – sempre di Libero – Luca Contafaba, morto mentre inalava dal tubo di scappamento di una Porsche Cayenne per dimostrare che la CO2 e i gas di scarico non sono poi così dannosi, e che non avremmo dovuto rinunciare ai SUV di lusso.
26276	15	Tutta la redazione di Libero si è stretta attorno ai familiari di Sparacazzadas e ha voluto esprimere il proprio cordoglio in una nota ufficiale: “Siamo addolorati per la tragica scomparsa del nostro collega Stefanos, la sua dipartita lascia un vuoto incolmabile in tutti noi, ma siamo certi che la sua professionalità e generosità ci accompagnerà per sempre, e comunque il riscaldamento globale non esiste“.
