26139	1	NO VAX O PRO VAX?
26139	3	Ormai e’ un dato di fatto che i posti disponibili in terapia intensiva nella nostra provincia sono saturi. Una notizia grave e allarmante che deve alzare il livello di attenzione.
26139	4	Ma i dati che fanno rabbia è che il 90% dei posti e’ occupato da NON VACCINATI.
26139	5	So che questo post scatenerà commenti e discussioni infinite, ma, credetemi, senza nessuna polemica, i numeri parlano chiaro: il vaccino ha ridotto in maniera consistente la pressione sugli ospedali e sulle terapie intensive. Nessuno ha mai detto che ci immunizza ma a tanti sta salvando la vita che è un bene prezioso e da difendere.
26139	6	Prendiamo, ad esempio, il nostro paese: altissima percentuale di vaccinazioni 90 contagiati 0 ospedalizzazioni.
26139	7	Non facciamo i super eroi! Fidiamoci della scienza , fidiamoci della medicina. VACCINIAMOCI e rispettiamo la nostra vita e quella degli altri.