2665	1	“Avete rotto er c…, andate a lavorà”: i gretini bloccano il traffico, ma finisce molto male 
2665	3	Quando l’ecorompiballe di Extinction rebellion trova sul proprio cammino l’automobilista inc*zzato in coda sul Grande raccordo anulare, l’ecorompiballe è un uomo morto, o poco ci manca: accade a Roma, dove un gruppetto di attivisti gretini del noto movimento ecologista originario della Gran Bretagna ha avuto la malaugurata idea di interrompere il traffico sul Gra nell’ora di punta, con un sit-in di protesta contro il riscaldamento globale. La scena è stata ripresa dalle telecamere di Local Team. E i suddetti automobilisti non sono stati a guardare,
2665	5	Gretini vs. automobilisti
2665	7	«Avete rotto er c…, andate a lavorà» è la frase più gentile uscita dalla bocca degli automobilisti imbottigliati sull’arteria stradale capitolina. Che già di suo — quando cioè non ci si mettono di mezzo le beghine ecologiste — presenta arcinoti problemi di scorrimento. Immaginatevi, dunque, se un gruppetto di divoratori di soia, con tanto di striscione, decide di sedersi in mezzo alla carreggiata lasciando in coda, sotto il sole cocente, migliaia di guidatori diretti verso il luogo lavorativo nella Capitale.
2665	9	Andate a lavorare
2665	11	«Se non fossimo disperati non staremmo facendo questo», grida uno dei gretini mentre un energumeno pelato lo trascina via a forza dal centro della strada. Ma che ne vogliono sapere ‘sti zotici capitolini dell’inquinamento globale: infatti ol stesso energumeno ne preleva gloriosamente un altro, e un altro ancora, spostando gli attivisti come sacchi di patate. «Devo andare al lavoro, a guadagnare da mangiare per i miei figli!», urla una donna esasperata mentre appallottola lo striscione e lo getta al di là del guard rail.
2665	13	Evidentemente i gretini questi problemi non li hanno: del resto fare figli inquina e aumenta le emissioni di CO2. Dunque, nella loro ottica, sarebbe più corretto verso il pianeta Terra se i figli altrui morissero di fame. Il siparietto si è concluso con l’arrivo della polizia, che ha sedato i bollori d’animo, evacuato la carreggiata e ripristinato lo scorrimento del traffico. La salvezza della Terra a mezzo sit-in è rimandata a data da destinarsi.  