26223	1	SuperMario non è Superman. L'agenzia Fitch: «Fase incerta per l'Italia anche se Draghi resta»
26223	3	SuperMario non è Superman. L’agenzia Fitch: «Fase incerta per l’Italia anche se Draghi resta»
26223	5	Sorpresa: neppure Mario Draghi cammina sulle acque. Lo scoop, come pure si potrebbe credere, non è del Secolo d’Italia, ma molto più autorevolmente dell’agenzia di rating Fitch. «Le dimissioni di Mario Draghi da presidente del Consiglio a seguito di una spaccatura nel suo governo di unità nazionale – si legge in una nota – preludono a una maggiore incertezza politica anche se venissero evitate le elezioni anticipate». La tesi, fin qui appoggiata ad una prosa alquanto sibillina, trova esplicitazione qualche riga più avanti: «Qualunque cosa accada, l’Italia è destinata ad entrare in un periodo politicamente incerto dopo quasi 18 mesi di relativa stabilità e l’attuazione di alcune riforme». Qualunque cosa, capito?
26223	7	Fitch: «I partiti cercheranno visibilità»
26223	9	Compreso il varo di un Draghi-bis o la continuazione del governo attuale. A conferma, appunto, che la “salvezza” dell’Italia – almeno per Fitch – non passa per la permanenza di Draghi a Palazzo Chigi. In tal caso, infatti, si legge ancora nella nota, «ci aspettiamo che i partiti che lo sostengono cercheranno maggiore visibilità con l’avvicinarsi delle elezioni, amplificando le tensioni esistenti». Tradotto in parole povere, significa che neppure Draghi sfuggirebbe alla legge che vuole i partiti lanciarsi all’assalto della diligenza una volta suonata la campanella dell’ultimo giro prima delle urne. Quindi, i leader e i partiti che puntano a scansare le urne in nome della stabilità finanziaria mentono sapendo di mentire.
26223	11	LEGGI ANCHE
26223	13	Il premier non fa miracoli
26223	15	Draghi o non Draghi, infatti, che il governo debba scucire i cordoni della borsa in tempi elettorali è legge tanto antica quanto osservata. È quello di SuperMario, che non è evidentemente Superman, non fa certo eccezione. Non è un caso che per il 2022 Fitch preveda un disavanzo maggiore rispetto a quello stimato dal governo: (5,9 per cento contro 5,6). La causa? I sostegni ai costi energetici e la maggiore spesa per interessi sui titoli legati all’inflazione. Stessa musica nel 2023: al 4,5 per cento stimato dall’agenzia a fronte del 3,9 fissato dal governo. A giudizio di Fitch, anche «le riforme strutturali e il risanamento di bilancio» rischiano di diventare obiettivi «più impegnativi». I miracoli, insomma, non riescono neppure a Draghi. Speriamo solo non si sappia in giro.
