26233	1	Hotspot di Lampedusa al collasso, Pisano: "Inutili navi-taxi inviate dal governo, noi gli unici a difendere i confini italiani"
26233	3	“Le condizioni dell’hotspot di Lampedusa sono vergognose, con extracomunitari ammassati all’inverosimile e costretti a dormire sopra le proprio feci e le proprie urine – afferma il commissario provinciale di Fratelli d’Italia, Calogero Pisano – una situazione raccapricciante che si ripresenta puntualmente ogni anno all’interno della struttura di Contrada Imbriacola, soprattutto durante il periodo estivo.
26233	5	Il Sindaco di Lampedusa, Filippo Mannino, ed il Presidente della Regione siciliana, Nello Musumeci, hanno chiesto un immediato intervento del governo, richiesta a cui si è unito anche qualche altro esponente politico, svegliatosi dal lungo torpore forse per l’avvicinarsi delle elezioni.
26233	7	Il Ministro dell’Interno, Luciana Lamorgese, ha disposto l’invio di navi della Marina Militare, da utilizzare come dei taxi del mare, per trasbordare gli immigrati presenti nell’hotspot della piccola isola nei centri di accoglienza della vicina Sicilia.
26233	9	Un provvedimento tampone – conclude Pisano – che risolverebbe solo temporaneamente il problema lampedusano e che non fermerebbe l’ondata migratoria clandestina ed il traffico di essere umani, come, invece, farebbe il blocco navale chiesto da tempo da Fratelli d’Italia, unico partito che si è da sempre opposto alla furia immigrazionista del governo e all’immigrazione irregolare”.
26233	11	Hotspot di Lampedusa al collasso, Pisano: “Inutili navi-taxi inviate dal governo, noi gli unici a difendere i confini italiani”
26233	13	“Le condizioni dell’hotspot di Lampedusa sono vergognose, con extracomunitari ammassati all’inverosimile e costretti a dormire sopra le proprio feci e le proprie urine – afferma il commissario provinciale di Fratelli d’Italia, Calogero Pisano – una situazione raccapricciante che si ripresenta puntualmente ogni anno all’interno della struttura di Contrada Imbriacola, soprattutto durante il periodo estivo.
