2693	1	Il Cremlino chiarisce la strategia delle forze russe in Ucraina
2693	3	Il presidente russo Vladimir Putin all'inizio dell'attacco militare all'Ucraina ha ordinato alle forze armate di astenersi da un assalto immediato alle città del Paese, inclusa Kiev, al fine di prevenire pesanti perdite tra la popolazione civile, ha affermato il portavoce del Cremlino Dmitry Peskov.
2693	5	Parlando ai giornalisti oggi, Peskov ha affermato che la pianificazione dell'“ operazione militare ” in Ucraina prevedeva di prendere in considerazione la strategia delle “ formazioni nazionaliste armate ” che avrebbero dispiegato armi in aree residenziali densamente popolate.
2693	7	Apparentemente ha confutato le accuse delle autorità ucraine di bombardamento indiscriminato delle città, sottolineando che i militari russi " stanno lavorando con armi moderne ad alta precisione, colpendo solo strutture militari e di infrastrutture informatiche ".
2693	9	“ All'inizio dell'operazione, il Presidente della Russia ha infatti incaricato il Ministero della Difesa di astenersi da un assalto immediato a grandi insediamenti, tra cui Kiev, dal momento che formazioni armate nazionaliste stanno attrezzando punti di tiro, schierando pesanti equipaggiamenti militari proprio nelle aree residenziali; e combattere in aree densamente popolate porterebbe inevitabilmente a pesanti perdite tra i civili ", ha spiegato Peskov.
2693	11	L'addetto stampa di Putin ha rivelato che il ministero della Difesa russo “non esclude” la possibilità di mettere quei grandi insediamenti che ora sono quasi circondati, “sotto il suo pieno controllo” per garantire la massima sicurezza alla popolazione civile.
2693	13	Ha respinto i resoconti dei media occidentali, smentiti anche da Pechino, secondo cui Mosca avrebbe richiesto assistenza militare alla Cina, ricordando che la Russia " ha il potenziale per effettuare un'operazione in Ucraina", che l'operazione sta andando " secondo il piano " e sarà completato “ in tempo e per intero ”. 
2693	15	Quando esattamente l'operazione dovrebbe concludersi, Peskov non ha detto, spiegando che tali informazioni " non vengono rivelate ".
2693	17	Commentando le notizie secondo cui il capo della Cecenia Ramzan Kadyrov, le cui minacce all'esercito ucraino sono state ampiamente pubblicizzate, si trova ora nella zona di guerra in Ucraina, Peskov ha rivelato che " non ci sono tali informazioni " al Cremlino. Ha anche consigliato ai giornalisti di rivolgere le domande sull'ubicazione di Kadyrov all'ufficio del leader ceceno.