26246	1	Ue,'critiche a piano Gas sono naturali ma serve risposta comune'
26246	3	BRUXELLES, 22 LUG - "Ursula von der Leyen non ha illustrato solo la proposta ma le motivazioni alla base del piano. E' un piano basato sui fatti, sul fatto che c'è un serio rischio di interruzione delle forniture di gas dalla Russia e noi dobbiamo essere preparati. Il fatto che ci sia un dibattito tra gli Stati membri non ci sorprende, è naturale in un'unione di democrazia come l'Ue.
26246	5	Si tratta di un processo". Lo ha detto il portavoce della Commissione Ue, Eric Mamer, interpellato sui tanti 'no' arrivati dai Paesi membri al piano d'emergenza sul gas.
26246	7	Se sul gas "lo scenario peggiore diventerà realtà questo influenzerà tutti. Ne siamo assolutamente convinti ed è vitale che ci sia una risposta comune", ha aggiunto Mamer che, soffermandosi sul fatto che i detrattori del piano accusino il fatto che sia stato fatto su misura per la Germania, ha sottolineato: "Nessuno deve fare l'errore di credere che un solo Stato sia interessato dallo stop alle forniture di gas russo. Ci sono tanti Paesi dipendenti dalla Russia".
26246	9	L'Italia, si apprende da fonti diplomatiche, ha espresso forte contrarietà al piano Ue d'emergenza sul gas in particolare con relazione su tre punti del pacchetto: l'obbligatorietà del taglio del 15%, la percentuale stessa della riduzione e il fatto che la riduzione sia orizzontale e uguale per tutti. Su questi tre punti la contrarietà è condivisa dall'Italia e altri Paesi membri anche se il quadro delle viene descritto alquanto "frastagliato". Nel pomeriggio sul piano si terrà una prima riunione degli ambasciatori dei 27 e non si esclude che sul tavolo arrivi una versione emendata del pacchetto della Commissione.
