26135	1	Le bugie della sinistra sulla destra anti-ambiente
26135	3	Francesco Giubilei è la dimostrazione vivente di quanto una recente battuta del segretario del Pd, Enrico Letta, rappresenti un pericoloso pregiudizio contro coloro che non sono di sinistra. In una recente intervista, Letta ha senza pudore affermato che la sinistra e la destra esistono eccome, proprio sui temi ambientali. E su questo nulla da eccepire. Ma poi ha continuato: la sinistra fa proposte concrete, come la cancellazione dei motori endotermici entro il 2035 e ha a cuore il pianeta, la destra fa solo slogan e ama i fossili. Nulla di più falso.
26135	5	Prendete appunto Francesco Giubilei e la sua nuova opera, Sovranità energetica (Giubilei Regnani editore), sottotitolo. «Dagli errori della transizione ecologica alla guerra in Ucraina». C’è un ricco filone della destra, non solo liberale, ma anche conservatrice, che ha a cuore l’ambiente, ma detesta il climatismo, che pensa al futuro, ma senza gettare nel cestino il passato. Sovranità energetica è un grande libro e riesce a cogliere anche le ultime follie europee, come appunto le direttive che prevedono la morte di un pezzo di industria europea, quella dell’automobile. Scrive Giubilei: «Se l’Europa non acquisisce la necessaria consapevolezza che il tema dell’energia ha un impatto in ogni ambito della società, affrontandolo con una visione pragmatica, è destinata a soccombere di fronte ad altre potenze a partire dalle nazioni asiatiche.
26135	7	In tal senso due concetti come la “geopolitica dell’energia” e la “sicurezza energetica” acquisiranno nei prossimi anni un peso sempre più crescente anche alla luce degli sviluppi della transizione ecologica. Le scelte compiute in questo periodo storico influenzeranno i decenni a seguire e le conseguenze di decisioni politiche errate avranno una ricaduta non solo su cittadini e imprese ma sull’interno impianto socio economico italiano ed europeo. Per questo siamo di fronte a un’occasione sotto vari punti di vista storica; la possibilità di realizzare una sovranità energetica. Se falliamo oggi ne pagheremo le conseguenze per i decenni a venire.
26135	9	Eppure le decisioni politiche dell’Unione europea continuano ad andare in una direzione che ci condanna a una perdita di autonomia, come dimostra il voto dell’Europarlamento a favore dello stop alle immatricolazioni di automobili con motore endotermico (benzina, diesel e ibride) a partire dal 2035. L’obiettivo dichiarato è abbattere le emissioni di anidride carbonica, ma le conseguenze saranno devastanti da un punto di vista economico in particolare per l’Italia dove è presente un forte settore dell’automobile. Eliminare il motore endotermico significa mettere in ginocchio centinaia di aziende che operano nella componentistica e nell’indotto con gravi conseguenze socio-economiche in un momento storico in cui il settore è già in sofferenza».
