25146	1	Premier Morawiecki jest w tym stopniu antysemitą, co Ukraińcy nazistami
25146	3	Pokojowy francuski piesek odzyskał drapieżność i zawarczał. Nie, na Putina, przy nim potrafi tylko przymilnie popiskiwać. „Mateusz Morawiecki jest skrajnie prawicowym antysemitą, który wyklucza osoby LGBT” – warknął Emmanuel Macron w „Le Parisien”. Wywołało to lekką konsternację polskiej opozycji, bo Macron skarykaturyzował jej najbardziej radykalne wypowiedzi, gdyż na pomysł, by zarzucić premierowi antysemityzm, nie wpadła nawet ona. No i najważniejsze: nie teraz! Ale warknięcie francuskiego pieska jest wydarzeniem cennym, bo pokazuje to, czym była cała kampania bredni o dyktaturze w Polsce. Tak, tym co zasugerowała niedawno ambasador Mosbacher: częścią tej samej kampanii, co nazywanie Ukraińców nazistami – pisze dla portalu Niezależna.pl Piotr Lisiewicz.
25146	5	Zastanawiali się Państwo przez ostatnie lata, dlaczego Polska jest nazywana dyktaturą, chociaż rządząca partia dostaje mandat od Polaków w kolejnych wyborach? Dlaczego ktoś bredzi o braku wolności słowa w Polsce, chociaż większość mediów popiera opozycję? Czemu próby budowy wymiaru sprawiedliwości nie obciążonego politycznymi wyrokami z czasów komunizmu, tuszowaniem afer i skrajnie patologicznymi układami, negatywnie ocenianego przez Polaków, ktoś śmie nazywać walką z praworządnością? 
25146	7	Po co padały te brednie, skoro  były nazywaniem białego czarnym? Skoro większość Polaków słuchając ich pukała się w głowę?  Odpowiedź jest tyleż prosta, co przerażająca. Po to, by kiedyś można było bezkarnie bombardować polskie miasta. Zohydzano Polskę, by nikt nie chciał jej bronić, pomagać jej. A jeśli nie uda się zbombardować, to chociaż po to, by jej stanowisko nie liczyło się po ataku na Ukrainę. Bo było wiadomo, że akurat Polska się postawi, będzie wymuszać na innych państwach, by zrealizowały to, co świetnie zdefiniował polski premier: „Sankcje mają przynieść pokój Ukrainie, a nie spokój nieczystemu sumieniu Europy. Sankcje mają zatrzymać Putina. Jeśli tak się nie stało, to znaczy, że sankcje nie działają”.
25146	9	„Pora powiedzieć to głośno - jeśli chodzi o problemy z praworządnością, spora część z tego, co docierało na Zachód była efektem rosyjskiej dezinformacji” – napisała pani ambasador Mosbacher. Trzeba powiedzieć zdanie więcej. Brednie o dyktaturze w Polsce były częścią kampanii, która z Ukraińców robiła nazistów. A udział w niej niemieckich mediów i fundacji nie był przypadkowy. Wystarczy prześledzić źródła tej dezinformacji i wszystko widać jak na dłoni.
25146	11	„Totalność” opozycji wynikała z tego, że spór PiS z opozycją nie jest podobny do rywalizacji między republikanami a demokratami czy CDU a SPD. Nie wysokość podatków kwestie obyczajowe są w nim najważniejsze. Jest przede wszystkim sporem pomiędzy opcją stawiającą na niepodległość Polski oraz sojusz państw Międzymorza współpracujących ze Stanami Zjednoczonymi. A lobby rosyjsko-niemieckim, w ramach którego Rosja zdolna jest do najgorszych bestialstw i ludobójstwa.
25146	13	A tak poza wszystkim: kto sympatyzował z działaniami Solidarności Walczącej, słyszy w tych dniach w słowach Mateusza Morawieckiego echo słów Kornela Morawieckiego, głoszącego idee braterstwa narodów i solidaryzmu. Syn realizuje dzieło, które zaprojektował Ojciec, a także Autonomiczny Wydział Wschodni Solidarności Walczącej, dowodzony przez Jadwigę Chmielowską i Piotra Hlebowicza.
25146	15	Mateusz Morawiecki w swojej pracy magisterskiej o Solidarności Walczącej pisał: „Solidaryzm w konkretnych przejawach życia społecznego, życia na co dzień miał być realizacją chrześcijańskich idei miłości bliźniego. >>Solidarność jest formą drogi społeczeństwa do (...) nowego (...) ustroju, który bez wątpienia będzie zawierał główne wartości niesione przez Związek – to znaczy: demokrację i faktyczną (...) miłość społeczną<<. Idea solidarności to próba przeniesienia zasad szacunku, zrozumienia i miłości między poszczególnymi osobami na stosunki między grupami narodowymi, społecznymi czy politycznymi. Solidaryzm miał co prawda stanowić >>wyzwanie dla indywidualistycznego, nastawionego na użycie, zachodniego kapitalizmu<<, ale przede wszystkim był jednak kontrpropozycją dla nieludzkiego systemu komunistycznego”.
25146	17	Tacy to bywają „polscy antysemici”, czego oczywiście nie wie nieuk Emmanuel Macron.
