25172	1	Morawiecki bezlitosny. "Odra tak samo skażona rtęcią, jak Tusk prawdomównością"
25172	3	Mateusz Morawiecki nie zostawił suchej nitki na Donaldzie Tusku. Kością niezgody między panami tym razem okazała się katastrofa ekologiczna na Odrze. Premier nie przebierając w słowach, porównał skażanie rzeki do... prawdomówności lidera PO.
25172	5	Dramatyczną sytuacją w Odrze żyje cały kraj. Do tej pory strażacy i wędkarze wyłowili z rzeki już ponad 100 ton śniętych ryb. Niepokojące sygnały zaobserwowano po raz pierwszy już pod koniec lipca w Oławie pod Wrocławiem, a w połowie sierpnia skażona woda dotarła już do Szczecina. Eksperci mówią o ogromnej katastrofie ekologicznej, po której ekosystem będzie odradzać się latami.
25172	7	Władze od wielu dni starają się ustalić, co spowodowało masowe wymieranie ryb. Początkowo badania wykazały podwyższony poziom tlenu i wysokie zasolenie, później media obiegły sensacyjne doniesienia o skażeniu Odry rtęcią. Obecność tego pierwiastka miały wykazać badania przeprowadzone przez Niemców, jednak później okazało się, że był to błąd w tłumaczeniu, a niemieckim służbom chodziło o wysokie pH w wodzie.
25172	9	Morawiecki bez litości o Tusku
25172	11	Zanim informacja ta została sprostowana, wieść o rzekomej rtęci w polskiej rzece podłapała prasa, a na polskie władze posypały się gromy. Za brak podjęcia szybkich kroków w sprawie skażenia wody rząd punktował m.in. Donald Tusk. "Śnięte są nie tylko ryby w Odrze, śnięte jest całe państwo pod rządami Kaczyńskiego" a "PiS jest jak rtęć" - pisał na Twitterze.
25172	13	Teraz za te słowa liderowi PO oberwało się od premiera. Na piątkowej konferencji w Smolajnach (woj. warmińsko-mazurskie) Mateusz Morawiecki przypomniał w dosadny i jednoznaczny sposób, że "niektórzy insynuowali jakieś skażenie Odry chemikaliami, skażenie Odry rtęcią".
25172	15	Więc ja chciałem powiedzieć, że Odra jest tak skażona chemikaliami, tak skażona rtęcią, jak Donald Tusk skażony prawdomównością, czyli w ogóle - stwierdził bez ogródek szef rządu.
25172	17	Najnowsze badania pozwoliły premierowi na wydanie tak stanowczego osądu w sprawie rzeki. Tego samego dnia bowiem minister klimatu Anna Moskwa poinformowała, że kontrole wody nie wykazały żadnych nielegalnych aktywności w rzece. Rząd dopatruje się obecnie winy za katastrofę w niezidentyfikowanych dotąd algach i wysokim zasoleniu wód, do którego z kolei mógł przyczynić się zrzut wód z kopalni.
