2520	2	Ziobro o certyfikatach covidowych: nie jestem zwolennikiem
2520	4	Decyzja o szczepieniu to kwestia indywidualna każdego Polaka - powiedział minister sprawiedliwości, Zbigniew Ziobro w Poranku Rozgłośni Katolickich "Siódma-Dziewiąta". - Mamy tu do czynienia z problemem natury prawnej, etycznej, konstytucyjnej, którego nie da się łatwo rozwiązać - dodał.
2520	6	Szef resortu sprawiedliwości był pytany w piątek o propozycję wprowadzenia obowiązku okazywania zaświadczenia o teście lub sczepieniu przeciw COVID-19 przy wejściu do restauracji, czy do kościoła. - Nie jestem zwolennikiem takich rozwiązań, bo jestem zwolennikiem wolności - powiedział Zbigniew Ziobro.
2520	8	Zastrzegł przy tym, że osobiście jest zwolennikiem szczepień. - Sam się zaszczepiłem i zachęcam wszystkich do szczepienia. Mam zresztą doświadczenie - niestety smutne - z Ministerstwa Sprawiedliwości, że zmarło kilka osób, w tym młode osoby, wszystkie nieszczepione, co zdaje się potwierdzać tezę, że szczepienie zwiększa szansę przeżycia w przypadku zachorowania (…) Niezależnie od tego, że taki był mój pogląd w sprawie szczepień, to widzę problem natury konstytucyjnej w tej materii” – mówił gość Poranka „Siódma9”.
2520	10	Według ministra brakuje debaty na temat zalet i zagrożeń związanych ze szczepieniami. - Sądzę, że nie jest w pełni wykorzystany potencjał dotarcia do świadomości Polaków i skłonienia ich do podjęcia takich decyzji, które będą najlepsze w ich przekonaniu dla zdrowia i życia ich samych i ich bliższych - zaznaczył szef MS.
2520	12	Ziobro odniósł się też do decyzji ministra zdrowia o zablokowaniu szerszego dostępu do amantadyny. - To są takie niezrozumiałe komunikaty do opinii publicznej, które mogą wywoływać niepotrzebne emocje, podejrzenia i rozmaite spekulacje, które nie służą rzetelnemu wyjaśnieniu sprawy i zachęceniu Polaków do podjęcia z ich punktu widzenia racjonalnej decyzji – ocenił minister.
