25166	1	Wywiad z Kaczyńskim. "Nasi wrogowie chcieli Polski prymitywnej, a to buduje Tusk"
25166	3	Donald Tusk realizuje "obce zamówienie", czyli wspomaga niemiecką politykę - stwierdza w najnowszym wywiadzie na łamach tygodnika "Sieci" Jarosław Kaczyński. Lider PiS ocenił też, że przewodniczący PO zdecydował się na "skrajną brutalizację życia publicznego".
25166	5	Już w pierwszych swoich wystąpieniach mówił o podziale na dobro i zło, twierdził, że wystarczy mocniej uderzać i do tego zachęcał. Teraz zdecydował się na skrajną już brutalizację i animilizację życia publicznego - mówił w rozmowie z Michałem Karnowskim Jarosław Kaczyński. - Wpisuję to w pewną tradycję. Nasi wrogowie zawsze chcieli Polski prymitywnej, wulgarnej i odrzucającej kulturę. To właśnie buduje Tusk na obce zamówienie - stwierdził.
25166	7	Kaczyński ocenił następnie, że "obce zamówienie" to realizacja niemieckiej polityki. Dodał też, że w jego ocenie nasi zachodni sąsiedzi chcą "dominacji nad całą Europą".
25166	9	Michał Karnowski pytał o kwestię wprowadzenia w Polsce waluty euro. Karnowski stwierdził, że może to doprowadzić do "przejęcia" Narodowego Banku Polskiego. Nawiązał przy tym do niedawnego wywiadu na łamach "Sieci" z prezesem NBP Adamem Glapińskim, który z kolei mówił o "szaleńczych atakach na instytucję, którą kieruje".
25166	11	Żeby wprowadzić euro trzeba zmienić konstytucję, na co raczej nie mają szans. Dlatego chcieliby to osiągnąć przez Trybunał Konstytucyjny, uległy im, który orzekłby, to co o walucie obowiązującej w Polsce jest tam jasno zapisane, a wcale nie znaczy to, co znaczy. Takie głosy już się pojawiły - stwierdził w odpowiedzi polityk PiS.
25166	13	Kaczyński o Donaldzie Tusku
25166	15	W wywiadzie z Jarosławem Kaczyńskim wątek Donalda Tuska pojawia się także w trakcie dyskusji o obronności i rozwoju polskiego wojska. Prezes PiS stwierdził, że Donald Tusk tylko "zwijał polskie wojsko", a on sam wszedł do rządu, by "przeprowadzić radykalny plan wzmocnienia polskiej obronności".
