25116	1	Grzegorz Braun: Stop ukrainizacji Polski!
25116	3	Możemy w pewnych sprawach nie zgadzać się z Grzegorzem Braunem, ale jest w Knesejmie jedynym politykiem, który zwraca uwagę na absurdalną politykę zarządców Polin wobec „uchodźców” z Ukrainy.
25116	5	Poseł  przedstawił projekt dokumentu „Stop ukrainizacji Polski”. Zaznaczył, że to jedyny „program zatrzymania procesu dezintegracji i dekompozycji, nie tylko etnicznej, ale też politycznej, a być może również terytorialnej” państwa polskiego. – Jeśli chodzi o pomoc to tak, ratujmy życie, ale nie standard życia – powiedział Braun, przestawiając główne założenia dokumentu. Jego zdaniem, do rozwiązania problemu potrzeba dwóch rzeczy.
25116	7	– Po pierwsze, należy zdecydowanie postawić tamę, temu dziś niekontrolowanemu procesowi, od pierwszych dni niekontrolowanemu przez Służbę Graniczną, przepuszczania nieznanych bliżej i nieokreślonych co do statusu i celów, przybywających do Polski z Ukrainy. Druga rzecz – trzeba rozwiązań dedykowanych, a nie wciągania przybyszów z Ukrainy do polskiego systemu opieki socjalnej. Ale, o zgrozo, niektórzy chcieliby, żeby szybkim krokiem było to wciąganie Ukraińców do polskiego systemu prawno-ustrojowego jako wyborców. Zdecydowanie się temu sprzeciwiamy – podkreślił Grzegorz Braun. Zdaniem polityka, sytuacja w tej sprawie rozwija się bardzo szybko. Zaznaczył, że choć jeszcze jakiś czas temu jego ugrupowanie było krytykowane za określanie przybyszy z Ukrainy mianem „przesiedleńców”, to obecnie jest ono już używane w świecie polityki, w tym na szczycie NATO w Madrycie. Czy tam też dotarły „ruskie onuce”?
25116	9	Pomoc prawdziwym uchodźcom zgodnie z międzynarodowymi konwencjami to ratowanie im życia i zapewnienie schronienia. W Polin całkowicie odwrócono katolickie zasady Ordo Caritatis. Tymczasowych w teorii „uchodźców” traktuje się jak pełnoprawnych obywateli III RP, choć na znakomitej większości terytorium Ukrainy nie toczą się żadne działania wojenne. Rządzący zdrajcy już zapowiedzieli budowę „tanich mieszkań komunalnych” dla przybyszów, choć przez lata nie było ich dla rdzennej ludności. Polacy nie mogą ponosić największych kosztów imperialnych wojen wywołanych przez rywalizujące mocarstwa. Polacy i ich potrzeby mają być zawsze na 1 miejscu. Nie po to pozbywaliśmy się namiestników Moskwy, by teraz rządzili w Polsce namiestnicy Waszyngtonu, Brukseli, Tel Awiwu czy Kijowa.
