25153	1	U nich COVID-19 długo nie ustępuje. Sprawdź, czy masz objawy
25153	3	Z raportu opracowanego przez Uniwersyteckie Centrum Medyczne w Groningen wynika, że nawet jeden na ośmiu pacjentów zakażonych COVID-19 może borykać się z długofalowymi problemami zdrowotnymi. Badanie zostało przeprowadzone na grupie 13 tys. Holendrów, a jego rezultaty opublikowano na łamach "The Lancet".
25153	5	Jeden na ośmiu zakażonych może mieć long covid
25153	7	Od pewnego czasu wiadomo, że niektóre osoby, które przechodziły infekcję COVID-19, przez długie miesiące mają problemy ze zdrowiem z powodu long covid.
25153	9	Z opublikowanego przez magazyn naukowy “The Lancet" artykułu wynika, że holenderskim naukowcom udało się dokładnie ustalić, ilu pacjentów nadal cierpi przewlekle po chorobie. Pracownicy UMC przeprowadzili badania wśród 13 tys. mieszkańców Niderlandów, z których wynika, że 12,7 proc. pacjentów nadal cierpiało na dolegliwości w okresie od trzech do pięciu miesięcy po zakażeniu.
25153	11	"Obejmowały one głównie ból w klatce piersiowej, utratę węchu i smaku, zmęczenie oraz bóle mięśni" – powiedziała portalowi NU profesor Judith Rosmalen kierująca zespołem, który przeprowadził badania. Ich autorzy wymieniają także m.in. ogólne problemy z oddychaniem, ból towarzyszący tej czynności, uczucie zimna lub gorąca, uczucie mrowienia (albo ciężkości) nóg i rąk, ogólne poczucie zmęczenia.
25153	13	Uniwersyteckie Centrum Medyczne od 2006 r. prowadzi badania nad sytuacją zdrowotną populacji w północnej Holandii w ramach tzw. projektu Lifelines. "Dlatego byliśmy w stanie bardzo dokładnie sprawdzić, czy u ludzi rzeczywiście pojawiły się nowe dolegliwości po zakażeniu koronawirusem" – wskazuje profesor Rosmalen.
25153	15	Obecnie naukowcy z holenderskiego uniwersytetu pracują nad tym, aby zbadać przyczyny trwania tych długo utrzymujących się objawów.
