25159	1	Francuski rząd zdecydował. Powoła... ambasadora ds. praw LGBT+
25159	3	Premier Francji Elisabeth Borne zamierza utworzyć stanowisko ambasadora ds. praw LGBT+ oraz fundusz w wysokości 3 mln euro na utworzenie nowych ośrodków LGBT+. Co więcej, francuski rząd nie wyklucza przyznania odszkodowań osobom w przeszłości prześladowanym ze względu na orientację seksualną.
25159	5	Stanowisko ambasadora ds. LGBT+ ma zostać utworzone przed końcem roku. Powstanie 10 nowych ośrodków LGBT+, oprócz 35 już istniejących.
25159	7	Borne ogłosiła swoją decyzję w czwartek podczas wizyty w ośrodku LGBT+ w Orleanie z okazji 40. rocznicy uchylenia dyskryminujących związki homoseksualne wobec heteroseksualnych zapisów kodeksu karnego wprowadzonych przez reżim Vichy.
25159	9	Według premier ambasador „będzie koordynował działania ministerstwa spraw zagranicznych na rzecz ochrony przed dyskryminacją i promowania praw LGBT+ oraz będzie niósł głos Francji w świat”, szczególnie opowiadając się za "powszechną depenalizacją homoseksualizmu i identyfikacji transpłciowych".
25159	11	Z kolei projekt ustawy przedstawiony przez senatora socjalistów Husseina Bourgiego domaga się odszkodowania dla osób skazanych za homoseksualizm w latach 1942-1982. Borne zapewniła, że rozpatrzy ten dokument. Leczenie ran, które mogły być zadane przez dyskryminację nie jest łatwym tematem - dodała.
25159	13	Reżim Vichy wprowadził w 1942 roku prawo uznające za przestępstwo relacje homoseksualne z osobami poniżej 21. roku życia. W tym samym czasie wiek przyzwolenia dla osób heteroseksualnych wynosił 15 lat. W 1974 roku wiek zgody dla relacji homoseksualnych został podwyższony do 18. roku życia. W 1982 roku zrównano go z limitem przewidzianym dla stosunków heteroseksualnych.
