2542	1	Ponad sto zakażeń koronawirusem łączonych z jednym barem. "Niebezpieczna fala" w Pekinie
2542	3	Łącznie 166 zakażeń koronawirusem w Chinach zostało powiązanych z jednym barem w stolicy kraju Pekinie - poinformowały tamtejsze władze. Rzecznik rządu określił gwałtowną falę zachorowań jako "niebezpieczną", wszyscy zamieszkujący okolicę lokalu będą poddani testom.
2542	5	Biorąc pod uwagę międzynarodowe standardy, liczba odnotowanych infekcji w Pekinie jest niska, ale wysoka jak na realia Chin - napisało BBC. Nadal obowiązuje tam polityka "zero COVID". Osoby zakażone podlegają kwarantannie lub trafiają do szpitali.
2542	7	Wszyscy mieszkańcy okolicy, gdzie znajduje się jeden z barów w centralnej dzielnicy Chaoyang, z którym powiązano 166 zakażeń, będą poddawani przez trzy dni testom.
2542	9	"Dwa budynki mieszkalne zamknięte"
2542	11	Dwa budynki mieszkalne w Chaoyang, w których żyją setki ludzi, zostały w niedzielę zamknięte po tym, jak zgłoszono tam pozytywny wynik testu - powiedział agencji Reutera pracownik komitetu mieszkaniowego. Niektórzy mieszkańcy miasta dodawali, że otrzymali SMS-a z informacją, że mają się zgłosić do lokalnych władz, jeśli niedawno odwiedzili wspominany bar.
2542	13	Urzędnicy zapowiedzieli, że większość dzieci nie wróci do szkół w stolicy kraju w przyszłym tygodniu jak pierwotnie planowano.
2542	15	Od 22 kwietnia w Pekinie odnotowano - według oficjalnych danych - 1997 przypadków zakażenia koronawirusem.
2542	17	Na początku czerwca Szanghaj, centrum gospodarcze Chin i światowego handlu, złagodził obostrzenia po dwóch miesiącach surowego lockdownu w związku z falą zakażeń wariantem koronawirusa Omikron. Jednak w sobotę tamtejsze władze rozpoczęły masowe badania na COVID-19 prawie wszystkich 25 milionów mieszkańców. W niektórych dzielnicach ludzie znów nie mogą wychodzić z domów. Nowe wykryte infekcje i kolejna runda testów wywołują obawy, że lockdown całego miasta może powrócić.
