2510	1	Wojna w Ukrainie: najnowsze informacje.
2510	3	Wojna w Ukrainie na żywo: poniżej w punktach przedstawiamy zbiór najważniejszych informacji z frontu wojennego w Ukrainie oraz gospodarki polskiej i światowej.
2510	5	Obecnie rosyjskie działania poza Donbasem nie mają charakteru, który świadczyłby o dążeniu Kremla do zajęcia kolejnych terenów – podają eksperci Ośrodka Studiów Wschodnich. Jednostki rosyjskie ograniczały się do tzw. poprawiania sytuacji taktycznej i rozbudowy pozycji obronnych.
2510	7	Jednak informacje amerykańskiego wywiadu, na które powołuje się OSW, mogą świadczyć, że Rosja nie rezygnuje z planów dalszej ekspansji w kierunkach Zaporoża, Krzywego Rogu i Mikołajowa.
2510	9	Finlandia i Szwecja formalnie złożyły w środę 18 maja wniosek o członkostwo w NATO. Wniosek jest uważany za jedną z najbardziej znaczących zmian w kwestii bezpieczeństwa międzynarodowego od dekad.
2510	11	Trwa ewakuacja żołnierzy z huty Azowstal, którzy poddali się po wielu tygodniach twardego oporu wobec rosyjskiego oblężenia. Kończy to jedną z najtrudniejszych i najcięższych bitew w tej wojnie. Prezydent Zełenski powiedział w rozmowie z prezydentem Francji Emmanuelem Macronem, że ewakuacja przebiega pod nadzorem władz ukraińskich w trybie wymiany więźniów wojennych, nie podają jednak szczegółów dotyczących operacji. Obecnie nie wiadomo, ile osób przebywa jeszcze w hucie, a ile jest już na terenie Rosji. Pod znakiem zapytania stoją także ich dalsze losy, nie wiadomo bowiem, czy Rosja zgodnie z umową zdecyduje się na wymianę więźniów wojennych.
2510	13	Rosyjskie oblężenie Mariupola trwało ponad dziesięć tygodni. Opór Ukrainy znacząco opóźnił możliwość zdobycia przez Rosję pełnej kontroli nad miastem i spowodował duże straty sił rosyjskich.
2510	15	W ostatnich tygodniach Rosja zwalnia wyższych dowódców, o których uważa się, że zawiedli w początkowych etapach inwazji na Ukrainę – podaje brytyjski resort obrony „To prawdopodobnie jeszcze bardziej obciąży scentralizowany model dowodzenia, ponieważ oficerowie coraz częściej starają się powierzać kluczowe decyzje swoim przełożonym. W tych warunkach Rosji trudno będzie odzyskać inicjatywę” w działaniach zbrojnych – wskazują eksperci ministerstwa.