2516	2	Tomasz Pietryga: Przypadek Sylwii Spurek
2516	4	Zachowanie europosłanki dobrze pokazuje, że ekofanatyzm może prowadzić do odhumanizowania postrzegania świata.
2516	6	Sylwia Spurek, europosłanka, kiedyś zastępca rzecznika praw obywatelskich, tuż przed 75. rocznicą wyzwolenia Auschwitz, gdzie zginęło ok. 1,5 mln osób, w większości Żydów, pozwoliła sobie na zamieszczenie w mediach społecznościowych rysunku artysty Jo Frederiksa pokazującego krowy w obozowych pasiakach, z gwiazdami na piersi, prowadzone na rzeź. Komentując: „daje do myślenia, otwiera oczy na to, jak traktujemy zwierzęta". I dalej: „czas na poważną dyskusję o traktowaniu zwierząt, o warunkach, w jakich żyją, o tym, jak je zabijamy...".
2516	8	Spurek prezentuje w tej sprawie niezachwianą postawę. W ciągu roku z aktywistki broniącej praw ofiar przemocy domowej przeistoczyła się w ekolożkę, która wzięła na sztandary obronę zwierząt. Słynne nagranie, w którym protestowała podczas kampanii do Parlamentu Europejskiego przeciwko „gwałceniu" krów dojnych, i kilka wypowiedzi w podobnym tonie wydawało się skrajnym podejściem. Okazuje się jednak, że skłonność do skrajności europosłanki nie ma granic.
2516	10	Można zrozumieć argumenty ekologów, którzy często przywołują drastyczne przykłady, aby poruszyć ludzkie sumienia. Zawsze jednak pozostaje kwestia rozwagi i proporcji. Holokaust jest jak najgorszym materiałem do takich porównań. Są sfery, od których happenerzy powinni trzymać się z daleka. Z szacunku dla powagi tamtych wydarzeń. To kwestie, wydawać by się mogło, dla cywilizowanych ludzi oczywiste. A jednak nie dla wszystkich. Polityk firmujący porównywanie zwierząt hodowlanych do ludzi traktowanych jak bydło prowadzone na rzeź zdaje się tego nie rozumieć.
2516	12	Swoją postawą nie tylko narusza powagę Holokaustu, ale szkodzi też ruchowi ekologicznemu. A także Polsce. Jest reprezentującą nasz kraj europosłanką. Takimi wypowiedziami zdaje się przyłączać do orkiestry Putina grającego na nucie polskiego antysemityzmu.
