25133	1	Joe Biden pokonał koronawirusa. Prezydent USA zakończył ścisłą izolację i wraca do pracy
25133	3	Biały Dom poinformował, że 79-letni prezydent USA Joe Biden nie a już prawie żadnych objawów COVID-19 i dziś wraca do normalnej pracy.
25133	5	W codziennym raporcie na temat stanu zdrowia Joe Bidena, prezydencki lekarz Kevin O’Connor poinformował, że amerykański przywódca zakończył pięciodniową kurację lekiem antywirusowym PAXLOVID, nie ma temperatury i od 36 godzin nie przyjmuje leków przeciwgorączkowych.
25133	7	Objawy choroby niemal całkowicie ustąpiły. - Przeprowadzone wczoraj wieczorem i dzisiaj rano testy antygenowe dały wyniki negatywne - napisał O’Connor dodając, że prezydent USA zakończy dziś pełną izolację, choć przez 10 dni w otoczeniu innych osób będzie profilaktycznie nosił maseczkę.
25133	9	Prezydencki lekarz tłumaczył tę decyzję faktem, że po kuracji PAXLOVIDEM u części pacjentów może dojść do ponownego wykrycia wirusa. Biały Dom zapowiedział, że w najbliższym czasie prezydent USA będzie regularnie poddawany testom na COVID-19.
25133	10	Joe Biden wraca do normalnej pracy i jeszcze dziś wygłosi krótkie przemówienie do Amerykanów.
