25118	1	Chiny straciły cierpliwość wobec Rosji. "Sytuacja bez precedensu"
25118	3	Wartość nowych chińskich inwestycji w Rosji w ramach strategicznej Inicjatywy Pasa i Szlaku (BRI) spadła do zera w pierwszej połowie 2022 r.; jest to sytuacja bez precedensu, świadcząca o niechęci Chin do ponoszenia kosztów sankcji nałożonych na Kreml w odpowiedzi na agresję na Ukrainę — poinformował "Financial Times".
25118	5	W ciągu pierwszych sześciu miesięcy tego roku Pekin nie zawarł żadnej umowy z rosyjskimi podmiotami w ramach BRI. Jest to zupełna nowość, nieobserwowana od czasu uruchomienia chińskiej inicjatywy przed dziewięcioma laty. W 2021 r. wartość chińsko-rosyjskich kontraktów wyniosła około 2 mld dol. — powiadomili badacze z Uniwersytetu Fudan w Szanghaju, cytowani przez "FT".
25118	7	Jak podkreślono w raporcie opracowanym przez tę uczelnię, po zmniejszeniu zaangażowania w Rosji Chiny poszerzyły zakres inwestycji na Bliskim Wschodzie. W pierwszej połowie roku ChRL zawarła umowy z Arabią Saudyjską, opiewające na około 5,5 mld dol. Z kolei w roku ubiegłym chińskie władze zainwestowały 10,5 mld dol. w projekty budowlane w Iraku.
25118	9	Wzmocnienie pozycji Chin na Bliskim Wschodzie następuje po tym, jak Stany Zjednoczone formalnie zakończyły misję wojskową w Iraku i wycofały się z Afganistanu. Prezydent USA Joe Biden udał się w lipcu do Rijadu. Obiecał tam, że "nie odejdzie i nie zostawi próżni, którą wypełnią Chiny, Rosja lub Iran" — czytamy na łamach "Financial Times".
25118	11	Chiny należą do grona najbliższych sojuszników Rosji na arenie międzynarodowej i sprzeciwiają się zachodnim sankcjom nałożonym na ten kraj w odpowiedzi na agresję Kremla na Ukrainę. Niemniej, Pekin nie zdecydował się dotąd na bezpośrednie ekonomiczne i militarne wsparcie Moskwy.
25118	13	Multimodalne (wykorzystujące połączenia kolejowe i morskie) korytarze transportowe Chiny-Europa są rozbudowywane od 2013 r. w ramach chińskiej Inicjatywy Pasa i Szlaku, znanej też jako Jeden Pas i Jedna Droga. Jest to nie tylko przedsięwzięcie ekonomiczne, ale też projekt geopolityczny, bezpośrednio wspierany przez władze Chin i służący umacnianiu wpływów Pekinu m.in. w krajach Azji Centralnej i Kaukazu Południowego.
25118	15	Najważniejszym szlakiem transportowym w ramach tej inicjatywy było dotychczas połączenie przez Kazachstan, Rosję, Białoruś i Polskę, które wykorzystywało m.in. terminale przeładunkowe w Małaszewiczach i Sławkowie. W 2015 r. uruchomiono regularne kolejowe przewozy towarowe z chińskiego Chengdu do Łodzi.
25118	17	W połowie kwietnia chińskie media poinformowały, że nowe multimodalne połączenie do Mannheim w Niemczech omija Rosję. Pierwszy transport towarów alternatywną trasą zrealizowano 13 kwietnia. Szlak rozpoczyna się w Xi'an w środkowych Chinach, a następnie prowadzi przez Kazachstan, Morze Kaspijskie, Azerbejdżan, Gruzję, Morze Czarne, Rumunię, Węgry, Słowację i Czechy do Mannheim w zachodniej części RFN. Długość połączenia wynosi około 11,3 tys. km.
