2551	1	Polska musi uratować Ukrainę przed losem żerowiska Rewolucji [OPINIA] 
2551	3	Nie wiadomo, czy Ukraina ma jakiekolwiek realne szanse na to, by wejść do Unii Europejskiej; wielu ekspertów wskazuje, że ze względu na interesy między innymi Niemiec i Francji nigdy do tego nie dojdzie. Pomimo tego Kijów okazuje się być gotowy do niszczenia elementów chrześcijańskiego porządku, byle tylko móc zachować unijną perspektywę. Jeżeli tak dalej pójdzie, nasi wschodni sąsiedzi mogą wkrótce przekształcić państwo w prawdziwe żerowisko dla światowej rewolucji. Polska powinna dołożyć starań, by do tego nie doszło.
2551	5	W 2011 roku Ukraina podpisała Konwencję Stambulską, dokument, który w teorii ma chronić osoby narażone na przemoc domową, a który w istocie stanowi rewolucyjny wytrych, wprowadzający do porządku prawnego retorykę środowisk LGBT. Mimo podpisania Konwencji Ukraińcy przez wiele lat nie zdecydowali się na to, by dokument ratyfikować; bez tego nie mógł wejść w życie. Wszystko w tej kwestii zmienił wybuch wojny. Według nieoficjalnych informacji podawanych przez ukraińskie media, bez ratyfikacji Konwencji Ukraina nie mogłaby uzyskać statusu kandydata do Unii Europejskiej. Prawdopodobnie to właśnie w nadziei na uzyskanie tego statusu prezydent Wołodymyr Zełeński w ubiegłym tygodniu złożył w Radzie Najwyższej projekt ratyfikacji Konwencji.
2551	7	W poniedziałek Rada Najwyższa dokonała ratyfikacji: „za” głosowało 259 deputowanych do ukraińskiego parlamentu, „przeciw” było zaledwie ośmiu. To pokazuje, że przyjęcie Konwencji Stambulskiej rzeczywiście było postrzegane jako warunek sine qua non uzyskania obietnicy przyznania Ukrainie statusu kandydata do Unii Europejskiej.
2551	9	Nie będę tu rozstrzygał, czy ukraińscy politycy rzeczywiście wierzą, że ich kraj rzeczywiście zostanie kiedyś przyjęty do UE, czy też raczej chcą tylko mamić taką perspektywą wyborców; pozostawiam też na boku kryjące się wyraźnie za pragnieniem przystąpienia do UE przekonanie, jakoby miało to jakąś moc „odstraszania” Rosji i tym samym zwiększania szans na przetrwanie ukraińskiej państwowości. Decyzje Ukraińców, motywowane strachem, mogą być nieracjonalne. Widać jednak, że jakieś siły zamierzają wykorzystać trwającą wojnę do tego, by pchnąć Ukrainę w kierunku antychrześcijańskiej Rewolucji. Być może sama Bruksela poleciła Kijowowi ratyfikację Konwencji. Jest też możliwe, że rząd w Kijowie, powiązany przecież z liberałami ze Stanów Zjednoczonych, postanowił wykorzystać chaos wojenny do przeprowadzenia tej zmiany bez wywoływania większego oporu społecznego.  
2551	11	Siły rewolucyjne działają w kwestii ukraińskiej nie tylko poprzez czołowych polityków, ale również przez różnorakie organizacje, nominalnie „oddolne”, a w istocie będące po prostu ulicznym ramieniem wielkich inżynierów społecznych. Przykład to wydarzenie, które zaplanowane zostało… w Warszawie. 25 czerwca ulicami polskiej stolicy ma przejść homoseksualna parada skupiająca zarówno Polaków, jak i Ukraińców. Rzecz nosi nazwę „Warsaw & Kiyv Pride marching for peace”. Ta „parada gejowskiej dumy” odbywa się w Polsce, bo, jak tłumaczą organizatorzy, w związku z wojną nie może odbyć się w Kijowie „w tradycyjnym formacie”. Dlatego tęczowe środowiska zamierzają maszerować właśnie w Warszawie – na rzecz „pokoju”, który rozumieją jak swoboda ekspresji seksualnej w duchu ideologii LGBT.
2551	13	Rewolucja napotyka wszakże opór. Niemal nie było go w ukraińskim parlamencie, gdzie Konwencję Stambulską przyjęto przytłaczającą większością głosów. Homoseksualna polsko-ukraińska parada w Warszawie nie wszystkim się jednak podoba. Przeciwko jej organizacji zaprotestował na przykład ukraiński ruch „Wszyscy razem”, który walczy z promocją mordowania dzieci nienarodzonych oraz ideologią LGBT. Ruch ten wystosował apel do prezydenta Andrzeja Dudy, prosząc go o powstrzymanie parady; jak wskazano, Polska nie po to ugościła uchodźców wojennych z Ukrainy, by jakaś część z nich występowała teraz wraz z polskim aktywem rewolucyjnym na rzecz obalenia obowiązującego w Rzeczypospolitej porządku konstytucyjnego.
2551	15	A przecież tym jest właśnie promowanie ideologii LGBT wymierzonej w rodzinę, która stanowi absolutny fundament bytu narodowego i tym samym również fundament trwania państwa. W swoim apelu ruch „Wszyscy razem” zwrócił też uwagę, że ideologia LGBT ma w istocie wspólne korzenie intelektualne i duchowe z rosyjskim komunizmem. Dziś rzadko się o tym pamięta, ale to jak najszczersza prawda: środowiska LGBT są przecież tylko jednym z elementów całej ofensywy ideologów nowego marksizmu. Tak jak dawny marksizm wykorzystywał robotników do niszczenia cywilizacji chrześcijańskiej, tak jego współczesna odsłona sięga po tzw. „mniejszości seksualne” i inne grupy, dążąc wszelako do tego samego: gruntownej przebudowy świata tak, by zapanował w społeczeństwach ateistyczny, totalitarny reżim.
2551	17	Zarówno przyjęcie Konwencji Stambulskiej jak i warszawska polsko-ukraińska parada homoseksualna to tylko dwa przykłady na to, jak globalistyczna Rewolucja próbuje przemodelować Ukrainę. O planach kreatorów nowego światowego porządku względem Ukrainy pisaliśmy już w PCh24.pl wielokrotnie; jeszcze przed wojną Ukraina była przez wielu postrzegana jako doskonałe pole dla eksperymentów inżynierii społecznej, czego dowodem jest na przykład niezwykle rozpowszechniony w tym kraju handel dziećmi, prowadzony między innymi na potrzeby homoseksualnych dewiantów z całego Zachodu.
2551	19	Po wojnie, gdy zaistnieje konieczność odbudowy Ukrainy, światowa rewolucja nie zechce pozwolić, by kraj powstał z ruin bazując na swojej chrześcijańskiej historii i tożsamości. Lewica zrobi wszystko, by nowa Ukraina stała się państwem realizującym w najdrobniejszych szczegółach jej plany. Angażując się w pomoc Ukraińcom i ewentualne wsparcie jej odbudowy po wojnie, Polska musi zwrócić na to uwagę i realizować swoją wielowiekową misję niesienia na wschód Europy katolickiego chrześcijaństwa. Obyśmy, w związku z zacieśnianiem z Brukselą współpracy przez obecny rząd, nie stanęli nigdy po drugiej stronie, stając się dla Ukrainy już nie apostołami Chrystusa, ale wysłannikami antychrześcijańskiej rewolucji. 