25160	1	Czwarta fala upałów we Francji. Temperatury będą sięgać 40 stopni C
25160	3	W wielu miastach Francji od poniedziałku temperatura będzie przekraczać 35 stopni C, a w kolejnych dniach lokalnie osiągnie 40 stopni. Czwarta fala upałów, według meteorologów, utrzyma się dłużej niż poprzednie; potrwa co najmniej do 15 sierpnia.
25160	5	W związku z prognozowanymi upałami w różnych departamentach Francji mają zostać ogłoszone alerty pogodowe, które obowiązują już w Gard i Vaucluse.
25160	7	W Bordeaux, na południowym zachodzie kraju, w poniedziałek temperatura sięgnie 35 stopni, a między wtorkiem a piątkiem dojdzie do 37 stopni - przewiduje Meteo-France. Lokalnie w tych okolicach temperatury sięgną nawet 40 stopni. W nocy również będzie bardzo gorąco; w Bordeaux od wtorku do piątku wieczorem spodziewana jest temperatura 25-26 stopni.
25160	9	Pojawienie się czwartej fali upałów tłumaczy się warunkami meteorologicznymi obserwowanymi nad kontynentem europejskim. Potężny antycyklon związany z suchą i upalną pogodą znajduje się obecnie nad Wyspami Brytyjskimi, a przez Portugalię gorący prąd powietrza znad Sahary dociera do Francji - tłumaczą eksperci.
25160	11	Czwarta fala upałów pogłębi trwającą w kraju od kilku tygodni suszę oraz zagrożenie pożarowe – ostrzegają służby meteorologiczne. Szczyt poprzedniej fali wysokich temperatur nastąpił we Francji 3 sierpnia.
