25193	1	Elon Musk o kobietach. Korwin-Mikke odpowiedział: Zawsze o tym mówiłem
25193	3	Popularny i ekscentryczny miliarder Elon Musk zamieścił krótki wpis na temat kobiet. Przyklasnął mu Janusz Korwin-Mikke.
25193	5	Opinia na temat kobiet, która połączyła Korwin-Mikkego i Muska, na pewno nie spodoba się feministkom. Uwaga wygłoszona przez amerykańskiego miliardera jest zresztą coraz rzadziej słyszalna w tzw. głównym nurcie.
25193	7	Cóż takiego stwierdził Musk? Otóż napisał, że dla kobiet równie ważne, co kariera jest bycie mamą.
25193	9	„Bycie mamą jest tak samo ważne jak każda kariera” – napisał słynący z bardzo krótkich, acz dosadnych wpisów Musk.
25193	11	Równie krótko odpowiedział mu Janusz Korwin-Mikke. „Świetnie! Zawsze o tym mówiłem! Najważniejsze są kobiety!” – napisał nestor polskich wolnościowców.
25193	13	Choć wiele kobiet w komentarzach przyznaje Muskowi rację i dzieli się swoim świadectwem, to nie brakuje też opinii, że to uprzedmiotowienie kobiet, że świat się zmienił i nie jest już taki, jak postrzega go Musk. Również po odpowiedzi Korwin-Mikkego pojawiło się kilka głosów sugerujących, że dla polityka Konfederacji kobiety wcale nie są najważniejsze, bo najchętniej zamknąłby je w domu, sprowadził do roli gospodyni domowej i zabronił pracować.
25193	15	Jak na tego typu argumenty niedawno odpowiadał Korwin-Mikke? – Kiedyś to mężczyźni harowali na kobiety, a teraz siedzi sobie pan za biurkiem, przegląda gazetę, a cztery panie krzątają się po biurze jak mrówki i pracują. I tym feministkom jeszcze się wydaje, że to jest dobrze, że to jest na ich korzyść – mówił w jednym z wywiadów.
25193	17	– Kobiety na pewno nie chcą przesuwać tych skrzynek w Biedronce, ale jeżeli chcą na przykład malować, to niech sobie malują. Maria Skłodowska-Curie, w czasach kiedy nie było feminizmu, znakomicie dawała sobie radę. Nikt kobietom nie zabrania robić tego, co chcą, tylko żeby to nie było ze zrujnowaniem logiki życia społecznego – podkreślał Korwin-Mikke.
