25131	1	Liczba zakażeń koronawirusem w Polsce wciąż nie maleje. Nowy raport MZ
25131	3	Letnia fala koronawirusa w Polsce zaczęła się w połowie lipca, kiedy liczba zakażeń zaczęła się niebezpiecznie zbliżać do 3 tys. przypadków. Kolejny rekord zakażeń padł w ostatni wtorek, 26 lipca, kiedy MZ wskazywało na ponad 5 tys. zakażeń, a w następne dni tygodnia odnotowało średnio ok. 3,5 tys. zachorowań na COVID-19. Wiemy już, jak wygląda raport na sobotę, 30 lipca i ile osób zaraziło się SARS-CoV-2 w ciągu minionej doby.
25131	5	Najnowszy raport o koronawirusie w Polsce: 3687 zakażeń
25131	6	Dzisiejszy wykaz donosi o 3687 zakażeniach koronawirusem przez ostatnie 24 godziny – 581 pacjentów z tego przedziału to osoby, które wcześniej przechodziły już chorobę. Piątkowy raport mówił o 3391 przypadkach, zatem widzimy nieznaczny, jednak niepokojący wzrost letniej fali. Nowy wykaz mówi również o liczbie wykonanych testów (10 814) oraz zleceń na testy POZ (3614), dając możliwość porównania diagnostyki do przedstawionych wyników.
25131	8	Ministerstwo Zdrowia opublikowało także dane na temat tego, jak wykryta ilość zachorowań na COVID-19 rozkłada się w poszczególnych województwach: mazowieckie – 626 przypadków, śląskie – 405, małopolskie – 324, dolnośląskie – 266, wielkopolskie – 244, łódzkie – 231, podkarpackie – 197, pomorskie – 195, zachodniopomorskie – 177, lubelskie – 161, kujawsko-pomorskie – 147, podlaskie – 144, warmińsko-mazurskie – 120, świętokrzyskie – 99, opolskie – 78 oraz lubuskie – 74.
25131	10	Sobotni raport zawiera jeszcze informacje o zgonach. Niestety, zmarło 14 pacjentów, z czego 10 miało choroby współistniejące. Ponadto pojawiło się 7 ozdrowieńców i nikogo nie obowiązuje kwarantanna.
25131	12	Czwarta dawka szczepień przeciwko COVID-19. Ponad 374 tys. zapisów
25131	13	Jak wskazuje minister Adam Niedzielski, od 22 do 28 lipca ponad 374 tys. obywateli zapisało się na czwartą dawkę szczepień dla seniorów 60+ i osób powyżej 12. roku życia z upośledzoną odpornością. Dodatkowo — podano już powyżej 127 tys. preparatów. Jednocześnie ruszyła akcja promująca szczepienia dla wskazanych grup. Ministerstwo Zdrowia wysyła SMS-y zachęcające do rejestracji.
