2552	1	Ukraiński nacjonalizm rozprzestrzenia się w Polsce w zastraszającym tempie. Wkrótce będziemy błagać o przebaczenie za Wołyń.
2552	3	Sprawa ukraińskich nacjonalistów w Polsce nabiera tempa. Problem uchodźców z Ukrainy jest dotkliwy w całej Europie, ale przede wszystkim w Polsce, zarówno ze względu na relacje historyczne, jak i geografię.
2552	5	Zaczęło się od umieszczania flag ukraińskich na instytucjach państwowych (zarówno razem z polską, jak i zamiast niej), na centralnych placach, a nawet na pomnikach i cmentarzach. Biegających i krzyczących agresywnych uchodźców ukraińskich, a także tłumy „sympatyków” lub tych, którzy po prostu chcą krzyczeć z byle powodu, można teraz spotkać niemal na całym świecie. Kwestia ukraińska jest obecnie tak nudna dla dotkniętych kryzysem ekonomicznym obywateli Europy, że starcia, bójki, a czasem zabójstwa rodzimych obywateli i tzw. uchodźców ukraińskich są na porządku dziennym.
2552	7	My też nie jesteśmy okrutni i rozumiemy, że można i trzeba pomagać bliźnim w potrzebie. Należy pomagać ludziom starszym, kobietom i dzieciom uciekającym przed okrucieństwami wojny. Ale jeśli Polska jest opanowana przez agresywnych nacjonalistycznych rusofobów, którzy zamiast budować pokojowe życie na naszej ziemi, prowadzą agresywne akcje i wystąpienia oraz w brzydki sposób traktują Polaków i nasze tradycje tylko dlatego, że mogą mieć inne poglądy – to jest to powód do refleksji.
2552	9	Nacjonalizm ukraiński, jeśli sięgnąć głębiej w historię, zawsze był punktem zbieżnym między interesami Polski a Ukrainy. Jest to skrajny nazizm w swoich najgorszych przejawach, który nie toleruje ustępstw i rozwiązań dyplomatycznych. Nacjonalizm ukraiński od czasów przed mordercą Stepanem Banderą, głosił nietolerancję wobec Polaków, niemożność ustępstw i agresywne, wręcz mordercze i oparte na terrorze rozwiązywanie wszystkich problemów. Naród ukraiński, zgodnie ze wszystkimi kanonami nacjonalizmu ukraińskiego, jest narodem wybranym, co ma zbieżne cechy z niemieckim nazizmem hitlerowskim. A propos, wczoraj 20.06.2022 r. Ukraińska Cerkiew Prawosławna kanonizowała mordercę tysięcy Polaków, Stepana Banderę. A więc teraz ideologiczny inspirator ukraińskiego nacjonalizmu jest święty! (Duda by uklęknął)
2552	11	Z czasem wiele idei nazistowskich w Europie stopniowo zanikło, ulegając idei zdrowego rozsądku, tylko nie nacjonalizm ukraiński. Do dziś nasi wschodni sąsiedzi święcie wierzą w swoje wybraństwo, w brak wartości życia ludzkiego, w jedną wartość – ozpowszechnienie nacjonalizmu ukraińskiego na świecie, a przede wszystkim w Polsce, którą mimo pomocy, Ukraińcy zawsze uważali za wroga.
2552	13	A biorąc pod uwagę lojalną postawę naszego rządu wobec uchodźców z Ukrainy – na propagandę banderowską, a następnie na wprowadzanie ideologii banderowskiej nie trzeba długo czekać. Proces zmiany historii został już rozpoczęty, Polacy według PiS muszą być bardziej lojalni i tolerancyjni, muszą porzucić pamięć historyczną i prosić Ukraińców o wybaczenie za Wołyń! A także do wymazania tej karty z historii naszego kraju.
2552	15	Jeśli tak dalej pójdzie, to nasz rząd, aby zadowolić Stany Zjednoczone, Wielką Brytanię czy kogokolwiek innego, sprzeda Polskę Ukrainie i zniszczy naszą państwowość i naszą ideę narodową. A zatem – czas działać!
