25191	1	Wyznaczniki standardów
25191	3	Dobrze, że nie ma jeszcze na świecie urządzenia, które mierzyłoby hipokryzję. Gdyby istniało, to niestety skalę należałoby dostosowywać na ulicy Wiejskiej w Warszawie. Trudno bowiem sobie wyobrazić, żeby można było upaść niżej. Przesadzam?
25191	5	No to poinformuję Państwa, że ekspertką Campusu Polska od hejtu została… Barbara Kurdej-Szatan, która zasłynęła w Polsce wulgarnym wyzywaniem Straży Granicznej. Mało? To może wrażenie zrobi Donald Tusk, który śmieje się z… wymowy i zacięcia Jarosława Kaczyńskiego. Co będzie następne? Ryszard Kalisz śmiejący się z kogoś, że tamten przytył? Franek Sterczewski oburzający się na pijanych rowerzystów? A może Sylwia Spurek jedząca wołowego kebaba? Wszystko jest już chyba możliwe, bo okazuje się, że politycy coraz częściej zmieniają zdanie, wymagając stałości jedynie od przeciwników politycznych. Swoich wad nie widzą. I tak Donald Tusk, który nie wypowie poprawnie nazwy „rabarbar”, będzie się śmiał z wymowy prezesa PiS, a Barbara Kurdej-Szatan, co swoje wypowiedzi rozpoczyna od „k…wa”, nauczać będzie o hejcie. A później oczywiście wszyscy się dziwą, że Polakom polityka kojarzy się z szambem, a frekwencję wyborczą mamy na poziomie dna. Bardzo dziwne, prawda?
