25157	1	Ukraińcy stanowią 8% populacji Polski, we Wrocławiu – 28%
25157	3	Choć liczba Ukraińców w Polsce spadła w maju do 3,37 mln, to nadal stanowią oni 8 proc. ludności kraju – podał w poniedziałek Dziennik Gazeta Prawna. DGP powołał się na wyniki najnowszego raportu zleconego przez Unię Metropolii Polskich (UMP), organizację zrzeszającą 12 największych miast kraju.
25157	5	Dane oparte na analizie informacji ze smartfonów oraz rejestru numerów PESEL (wykaz numerów pozyskanych przez Ukraińców od rosyjskiej inwazji 24 lutego) dają obraz zarówno ukraińskich imigrantów sprzed wojny, jak i ostatniej fali uchodźców.
25157	7	Z danych wynika, że ​​w większości badanych miast liczba Ukraińców spadła po kwietniowym szczycie, z dwoma wyjątkami – Wrocławiem i Warszawą. Raport UMP pokazuje też, w których miastach proporcjonalnie jest najwięcej Ukraińców.
25157	9	Na samym dole zestawienia znajduje się Bydgoszcz i Łódź, gdzie Ukraińcy stanowią 10 proc. mieszkańców. W przypadku Wrocławia jest to 28 proc., a w Warszawie 16 proc., choć w wartościach bezwzględnych najwyższa liczba jest w stolicy.
25157	11	Najwyższy odsetek Ukraińców w stosunku do liczby mieszkańców występuje w Rzeszowie (37 proc.), choć ten wynik został podany z zastrzeżeniem autorów raportu: „Można się zastanawiać, na ile Rzeszów i okolice są jedynie przystankiem na trasie do innych miejsc w Polsce i Europie, a na ile jest to miejsce, w którym ukraińscy uchodźcy są nastawieni na stosunkowo szybki powrót do swojego kraju.”
