25164	1	Partia Razem pyta rząd o atom. „Nie ma realnej woli realizacji”
25164	3	Partia Razem złożyła interpelację do premiera w sprawie projektu jądrowego. Zawiera ona pytania o kluczowe kwestie związane z realizacją tego przedsięwzięcia.
25164	5	Grupa polityków partii Razem w składzie Maciej Konieczny, Magdalena Biejat, Daria Gosek-Popiołek, Paulina Matysiak, Adrian Zandberg, Marcelina Zawisza przesłała do premiera interpelację w sprawie polskiego projektu jądrowego. „Program polskiej energetyki jądrowej" jest jednym z największych projektów infrastrukturalnych w Polsce, niezbędnym do przeprowadzenia transformacji energetycznej i odejścia od paliw kopalnych. Jego sprawna realizacja, wraz z rozwojem odnawialnych źródeł energii, jest konieczna, by Polkom i Polakom zapewnić tanią energię elektryczną oraz zmniejszyć zależność Polski od importu nośników energii. Jednocześnie, mimo jego bezalternatywności, wydaje się, że nie ma realnej woli jego realizacji. Można mieć wątpliwości, czy w ogóle jest on prowadzony w sposób przemyślany i planowy” - piszą parlamentarzyści.
25164	7	„Można zaobserwować niepokojący chaos wewnątrz Rady Ministrów, brak współpracy pomiędzy Ministerstwem Klimatu i Środowiska a pełnomocnikiem rządu do spraw strategicznej infrastruktury energetycznej i podległą mu spółką Polskie Elektrownie Jądrowe sp. z o.o., a także próby uruchomienia przez Ministerstwo Aktywów Państwowych planu budowy reaktorów konkurencyjnego względem Programu polskiej energetyki jądrowej, opartego na niezbudowanych nigdzie na świecie konstrukcjach” - dodają.
25164	9	Parlamentarzyści stawiają w interpelacji szereg pytań o realizację projektu jądrowego. „Dlaczego nie przeprowadzono konkurencyjnego procesu wyboru dostawcy konstrukcji bloków jądrowych w formie np. zapytania ofertowego z określonymi warunkami, tylko zamiast tego zdano się na niewiążące i wobec braku wytycznych, nieporównywalne oferty ze strony dostawców? Jakie ryzyko niesie to w postępowaniu zmierzającym ku zgodzie Komisji Europejskiej na pomoc publiczną? Dlaczego raport o oddziaływaniu na środowisko, złożony do Generalnej Dyrekcji Ochrony Środowiska, a opracowany przez spółkę Polskie Elektrownie Jądrowe sp. z o.o. dla lokalizacji Lubiatowo-Kopalino i Żarnowiec jest oparty wyłącznie na technologii Westinghouse AP1000, mimo że nie wybrano jeszcze dostawcy?” - to tylko niektóre z łącznie 14 zagadnień, jakie zostały poruszone przez Partię Razem.
