243	1	Зеленскому пророчат судьбу афроамериканца Флойда. В США уверены: Образ героя скоро рухнет
243	3	Американская журналистка сообщила, какое будущее ждёт украинского президента в ближайшее время. По её словам, Зеленскому недолго осталось быть героем западных СМИ.
243	5	Не всё спокойно в западном мире, даже отношение к лидеру Незалежной уже не столь однозначно. Если ранее Владимира Зеленского все американские СМИ без исключения считали мучеником и героем, то нынче всё изменилось. Накануне ведущая Daily Wire Кэндис Оуэнс заявила, что вскоре героический образ политика рухнет. 
243	7	По её словам, Зеленскому уготована роль афроамериканца Джорджа Флойда, убитого полицией. Изначально страна восстала, но потом люди вспомнили, что и сам Флойд был преступником.
243	9	Оуэнс отметила, что в американских СМИ разошёлся ненормальный шаблон "или - или": "Или вы говорите, что президент Зеленский герой, или вы пропутинская марионетка".
243	11	"То, что Россия ввела войска на Украину, - прискорбно и неправильно, но это не исключает того, что президент Зеленский коррумпирован. Он коррумпирован, и он повязан с нашим действующим президентом Байденом и интересами его семьи. Тут всё гораздо сложнее, чем кажется на первый взгляд, и я такую свою позицию буду отстаивать, не уступая ни пяди", - заявила Кэндис Оуэнс.