24153	1	Байден пообещал американским мужчинам, что они на себе ощутят последствия решения суда об абортах - Президент США Байден: мужчины ощутят последствия решения Верховного суда об абортах 
24153	3	Решение Верховного суда об абортах ужасно. Не только женщины, но и американские мужчины на себе ощутят его последствия, заявил президент США Джо Байден на виртуальной встрече с губернаторами. Его выступление процитировало РИА «Новости».
24153	5	«Это ужасное, экстремальное решение, на мой взгляд, переворачивающее жизни и влияющее на здоровье миллионов женщин. Я разделяю общественное негодование из-за этого экстремистского суда, который откатит Америку назад к меньшим правам, меньшей автономии», — заявил Байден.
24153	7	Решение Верховного суда об абортах — это вторжение в личные права женщин, отметил глава Белого дома и добавил, что оно отразится и на мужчинах.
24153	9	Американцы не поддержали отмену права на аборт. Несколько штатов уже ввели запрет на искусственное прерывание беременности. В стране начались массовые протесты, на улицы городов вышли женщины и даже мужчины. Полиция жестко разгоняла демонстрантов.
