24119	1	Заменяющий Маслякова Пельш дал прогноз о возвращении главы КВН на пост ведущего
24119	3	Известный шоумен и музыкант Валдис Пельш, заменяющий главу «Клуба веселых и находчивых» Александра Маслякова в качестве ведущего на игре КВН в Екатеринбурге, заявил об уверенности в том, что руководитель программы вернется на свой прежний пост на сцене. Прогноз он дал в разговоре с KP.RU.
24119	5	Шоумен назвал Маслякова сильным человеком, который очень любит КВН. «При первой же возможности [Масляков] придет и скажет: "Ну-ка, шантрапа, брысь с моего места!" И займет то, что принадлежит ему по праву», — со смехом сказал Пельш.
24119	7	Помимо того, собеседник издания раскрыл отношение к критике «Клуба веселых и находчивых» современными юмористами. Телеведущий счел, что многие стендап-комики негативно высказываются о КВН, так как это стало модно. «Подавляющее большинство критики, которую я слышал, была из уст людей, которые для меня не являются эталоном профессиональности и оригинальности юмора», — подчеркнул Пельш. Шоумен также отметил, что КВН, по его мнению, не имеет будущего, так как он всегда происходит «здесь и сейчас».
24119	9	О том, что Пельш вместо Маслякова проведет игру-встречу выпускников КВН, которая пройдет 15 июля в Екатеринбурге, ранее сообщил сайт программы. Отмечалось, что руководитель КВН не сможет прибыть в этот город «по непредвиденным причинам». Шоумен, комментируя замену Маслякова, заявил, что «не уполномочен» говорить о наличии или отсутствии проблем со здоровьем у людей, которых он «очень уважает».
24119	11	В феврале Масляков сообщил, что пропустит несколько первых игр нового сезона КВН, так как повторно заболел коронавирусом. Он также объявил, что в это время в качестве ведущих программы будут выступать «люди, не чужие игре». После этого по одной игре 1/8 финала КВН провели актер Дмитрий Нагиев, юморист Вадим Галыгин, шоумены Дмитрий Хрусталев и Валдис Пельш. Одну из игр также провел сам Масляков.
