2425	1	 Эмбарго на торговлю с Россией поможет спасти тысячи жизней, - Тимченко 
2425	3	Международный бизнес имеет на корпоративном уровне признать недопустимым сотрудничество и торговлю с такими странами как Россия, которая всем нормам международного права развязала кровавую войну и занимается убийством и террором мирного населения.
2425	5	Об этом сообщает РБК-Украина со ссылкой на генерального директора ДТЭК Максима Тимченко на форуме Atlantic Council Global Energy Forum. 
2425	7	"Каждый доллар выплачен России сегодня за газ, за нефть, каждая единица оборудования, доставленная России, автоматически конвертируется в пули, которые убивают украинцев. Может ли быть выше цена за 137 детских жизней, которые оборвались из-за российской агрессии. Какое оправдание может быть для этих компаний, которые до сих пор сотрудничают с Россией", - сказал Тимченко.
2425	9	Глава ДТЭК поблагодарил компании, которые уже прекратили сотрудничество с Россией, а также за помощь, которую Украина получает от своих европейских партнеров и за введение санкций.
2425	11	"Я убежден, что уже сейчас частью корпоративной политики западных компаний должно стать уважение к свободе, в корпоративных ценностях должен быть прописан запрет сотрудничества со странами-агрессорами, такими, какой сегодня является Россия", - подчеркнул Тимченко.
