24161	1	Трамп решил подать в суд на CNN
24161	3	Бывший президент США Дональд Трамп сообщил, что намерен подать в суд на телекомпанию CNN за систематическое распространение «порочащих» его материалов. Об этом сообщает The Hill.
24161	5	Адвокаты политика направили руководству телеканала письмо с требованием исправить или отозвать подобные публикации и сюжеты, а также принести извинения. У CNN есть десять дней на выполнение требований политика. После этого защитники пообещали, что будут добиваться возмещения ущерба в судебном порядке.
24161	7	«Я также намерен предпринять действия юридического характера против других СМИ, которые порочили меня и вводили в заблуждение общественность в отношении убедительных доказательств мошенничества на выборах 2020 года», — отметил Трамп.
24161	9	В апреле 2021 года технического директора американского телеканала CNN Чарли Честера уличили в том, что он использовал издание для продвижения кампании Джо Байдена в ущерб находившемуся на тот момент в кресле президента Дональду Трампу. Честер также признал, что телекомпания имеет заранее обозначенную программу будущего изменения климата и распространения COVID-19.
