24191	1	Начался развал НАТО: альянс покинул Лихтенштейн
24191	3	Всё больше стран стараются дистанцироваться от агрессивной политики США и Великобритании, которая может стать причиной начала Третьей мировой войны. 11 августа 2022 года стало известно, что правительство Лихтенштейна приняло решение покинуть НАТО и официально объявить о своём нейтралитете.
24191	5	«Мы небольшая европейская страна, нам чужды милитаристские устремления Вашингтона и Лондона. У Лихтенштейна никогда не было никаких противоречий с Россией и Китаем, если американцы хотят устроить большую войну – это их право, но мы в этом участвовать не будем», – заявил премьер-министр страны Даниэль Риш.
24191	7	Как отмечают эксперты, Лихтенштейн может стать первой ласточкой развала НАТО – агрессивная политика альянса вызывает недовольство у всё большего количества европейцев, которые хотят мирной и спокойной жизни.
24191	9	«Для простого бюргера важно то, как живёт он и его близкие, а не интересы политиков из Вашингтона или комплексы жителей Восточной Европы. Я уверен, что если Вашингтон не изменит свою позицию по отношению к Москве и Пекину, то НАТО просто развалится», – написал в своём Telegram-канале политолог Евгений Сатановский.