248	1	Папа Римский готов поехать в Москву, чтобы встретиться с диктатором
248	3	Папа Римский Франциск заявил о своей готовности поехать в Москву, чтобы встретиться с российским диктатором Владимиром Путиным. Во время интервью Corriere della Sera он отметил, что следует попытаться "остановить зверства", которые начал путинский режим.
248	5	"В первый день войны я звонил Президенту Зеленскому. В то же время путину я не звонил. У меня была возможность поговорить с ним в декабре на мой день рождения, но в этот раз нет, я не звонил. Я хотел сделать жесткий жест, и для этого пошел к российскому послу. Я попросил их объяснить, я сказал: "Во имя Бога, остановите эту войну", - сказал Папа.
248	7	Он отметил, что передал кардиналу Паролину, что готов поехать в Москву, однако понтифик до сих пор не получил ответа.
248	9	"Боюсь, что путин в данный момент не может или не хочет согласиться на нашу встречу. Но как не попытаться сделать все возможное, чтобы остановить зверства?" – спросил он.
248	11	Визит в Украину Папа Франциск не планирует.
248	13	"В Киев я пока не поеду. Я послал кардинала Майкла Черни и кардинала Конрада Краевского, последний посетил Киев в четвертый раз. Но я чувствую, что мне не нужно ехать. Сначала я должен поехать в москву, сначала я должен встретиться с Путином. Ведь я также священник, что я могу сделать? Я делаю то, что могу", — отметил понтифик.
248	15	1 мая Папа Римский Франциск назвал варварством то, что Россия сделала с украинским городом Мариуполь. Тогда он снова попросил организовать безопасные гуманитарные коридоры для людей, оказавшихся в ловушке в этом городе.
