24173	1	Оскандалившаяся Трасс дала ряд обещаний избирателям ради кресла премьера
24173	2	Глава МИД Лиз Трасс пообещала нанести поражение России в кресле премьера Британии
24173	4	Глава британского МИД Лиз Трасс, с чьим именем связан целый ряд громких скандалов, сделала целый ряд обещаний для избирателей после того, как объявила о намерении побороться за кресло премьер-министра Соединенного Королевства. Для этого она написала колонку в газете The Telegraph.
24173	6	Трасс уделила немало внимания отношениям с Россией: с одной стороны, она назвала Москву одной из главных современных угроз Лондону наряду с Пекином, с другой — пообещала «обеспечить Украине победу в войне». Кроме того, министр пообещала «сразу взяться за дело» на своем посту и заняться восстановлением экономики страны, пострадавшей от последствий пандемии COVID-19 и обратного эффекта антироссийских санкций. Наконец, немаловажным пунктом «программы» Трасс стало обещание снизить налоги.
24173	8	Глава МИД Великобритании объявила о своем выдвижении на пост премьера 11 июля, спустя несколько дней после отставки экс-главы правительства Бориса Джонсона. Он подал в отставку из-за скандала, вызванного пьяными домогательствами заместителя координатора парламентской фракции Консервативной партии Криса Пинчера. По словам политика, выбор нового главы Консервативной партии должен начаться незамедлительно.