2411	1	Есть только два варианта того, как закончится война: начальник разведки уверен, что Украина победит
2411	3	Он не исключает того варианта, что российский диктатор может не остаться в живых после этой войны. 
2411	5	Начальник ГУР МО Кирилл Буданов рассказал о двух возможных вариантах окончания войны в Украине: либо Россия распадется на две или больше частей, либо там сменится власть. Во время интервью НВ он рассказал о своей уверенности в той, что Украина победит.
2411	7	"Эта война закончится. Есть всего два варианта, как она может закончиться... Первый – разделение России на три и более частей. И второй – относительное сохранение территориальной целостности РФ при смене руководства страны. В последнем случае новый руководитель скажет, что РФ ни при чем во всех этих процессах, это был больной диктатор, а страна здесь ни при чем. В этом случае Россия отдаст все оккупированные ею территории — от островов Японии до Кенигсберга, нынешний Калининград, принадлежащего Германии", - считает Буданов.
2411	9	Глава разведки, отвечая на вопрос о том, останется ли Путин живым после нашей победы, отметил, что диктатор "сам себя загнал в тупик".
2411	11	"Оставить ему путь для отступления – это одна из стратегий, но это почти нереально. Он военный преступник для всего мира. Это его конец, он сам себя загнал в тупик", — отметил Буданов.
2411	13	Относительно применения ядерного оружия Россией, он отметил, что такой риск есть всегда, но это лишь ускорит конец РФ.
2411	15	Напомним, российская война против Украины, по мнению многих экспертов, должна была длиться меньше недели. Но вот она длится уже третий месяц. Для США и их союзников сейчас хороший момент, чтобы оценить все, чего удалось достичь, а также составить план, что делать дальше. Издание Washington Post пишет, что Штатам придется долго поддерживать наше государство, но победа над Владимиром Путиным стоит того.
