24177	1	Дугин впервые прокомментировал убийство дочери
24177	2	Философ Александр Дугин назвал терактом гибель его дочери Дарьи при взрыве автомобиля на Можайском шоссе
24177	4	Философ Александр Дугин назвал терактом гибель его дочери Дарьи при взрыве автомобиля на Можайском шоссе. Заявление Дугина опубликовал в своем Telegram-канале бизнесмен Константин Малафеев.
24177	6	Дугин написал, что происшествие осуществил «нацистсткий украинский режим». По его словам, Дарья Дугина никогда не призывала к насилию и войне, пишет НСН.
24177	8	«Она была восходящей звездой в начале своего пути. Враги России ее подло, исподтишка убили. Но нас, наш народ не сломить даже такими невыносимыми ударами. Они хотели подавить нашу волю кровавым террором против самых лучших и самых уязвимых из нас. Но они своего не добьются. Наши сердца жаждут не просто мести или возмездия. Это слишком мелко, не по-русски. Нам нужна только наша Победа. На ее алтарь положила свою девичью жизнь моя дочь. Так победите, пожалуйста! Мы хотели воспитать ее умницей и героем. Пусть и сейчас она вдохновляет сынов нашей Отчизны на подвиг», — подчеркнул Дугин.
24177	10	Филосов добавил, что гражданская панихида по его дочери начнется в 10:00 23 августа в московском телецентре Останкино.
24177	12	Ранее в Следственном комитете России заявили, что убийство Дарьи Дугиной было заказным и спланировали заранее. Сам Александр Дугин рассказал, что они получали множество угроз от украинских националистов.