24179	1	«Он управляет путиным!» - украинский канал демонизирует Дугина
24179	3	За день до теракта в котором погибла Дарья Дугина в автомобиле своего отца, украинский государственный телеканал «1+1» в своей телепередаче «Гроши» показал сюжет, посвящённый Александру Дугину. В сюжете они называют Дугина мозгом Путина, идеологом русской цивилизации и то, что он управляет Путиным. Таких совпадений не бывает. Террорист Зеленский со своими подельниками выбрали цель, увеличили её значимость в глазах собственной аудитории, ведь они на всё готовы ради картинки, и совершили терракт. Но они настолько трусливые мрази, что не признают себя виновными. 
