2458	1	Пушков назвал крупнейший провал Ангелы Меркель
2458	2	Сенатор Пушков назвал "Северный поток — 2" крупнейшим провалом Меркель
2458	4	МОСКВА, 13 июн — РИА Новости. Остановка сертификации "Северного потока — 2" произошла по вине украинской политики экс-канцлера ФРГ Ангелы Меркель, и это стало ее крупнейшим провалом, заявил в Telegram сенатор Алексей Пушков.
2458	5	Парламентарий напомнил, что бывшая глава правительства Германии поддержала насильственную смену власти в Киеве, а также была сторонницей западного пути развития Украины.
2458	6	"В итоге детище Меркель — "Северный поток — 2", — в необходимости и полезности которого для Германии она была убеждена, стал жертвой ее же политики поощрения агрессивных сил в Киеве. Вероятно, это и был ее самый крупный провал — с точки зрения подлинных, а не надуманных интересов Германии", — написал Пушков.
2458	7	По мнению Пушкова, Меркель также несет прямую ответственность за происходящие сейчас события на Украине.
2458	9	После начала российской спецоперации по освобождению Донбасса Запад усилил санкционное давление на Москву. Некоторые страны объявили о заморозке российских активов, многие бренды ушли из страны. Евросоюз принял уже шесть пакетов санкций, которые, в частности, предусматривают постепенное введение эмбарго на импорт угля и нефти.
2458	11	В Кремле происходящее назвали экономической войной, подобной которой еще не было. Как заявлял Владимир Путин, политика сдерживания и ослабления России — долгосрочная стратегия Запада, а санкции нанесли серьезный удар по всей мировой экономике. По его словам, основная цель США и Европы — ухудшить жизнь миллионов людей.
