24180	1	Перечень недружественных России стран пополнился пятью государствами
24180	2	В черный список правительства РФ вошли Греция, Дания, Словения, Хорватия и Словакия
24180	4	Российское правительство обновило перечень иностранных государств, совершающих недружественные действия, направленные против российских дипломатических и консульских представительств за рубежом.
24180	6	Как сообщает пресс-служба кабинета министров, в список вошли Греция, Дания, Словения, Хорватия и Словакия. В перечне, утверждаемом правительством, помимо названий стран указывается количество находящихся на территории РФ граждан, с которыми дипломатические миссии недружественных стран и их консульские учреждения могут заключать трудовые договоры. Так, согласно новому распоряжению, за Грецией закреплен лимит в 34 человека, за Данией – 20, за Словакией – 16. Словения и Хорватия не смогут нанимать сотрудников в свои дипмиссии и консульские учреждения.
24180	8	Это распоряжение принято в рамках реализации указа президента Владимира от 23 апреля «О применении мер воздействия (противодействия) на недружественные действия иностранных государств». Указ предполагает ограничение вплоть до полного запрета для недружественных стран возможности нанимать в посольства, консульства и представительства государственных органов сотрудников из числа лиц, находящихся на территории России.
24180	10	«Утвержденный правительством перечень не является окончательным и с учетом продолжающихся враждебных действий иностранных государств, направленных против российских представительств за рубежом, может расширяться», - отметили в пресс-службе.
24180	12	В мае 2021 года ограничения были введены в отношении дипломатических миссий США и Чехии.