2470	1	"Два комика". Британцы высмеяли встречу Зеленского с Беном Стиллером
2470	3	Читатели Daily Mail высмеяли встречу Зеленского и Бена Стиллера
2470	5	МОСКВА, 20 июн — РИА Новости. Читатели британской газеты Daily Mail высмеяли встречу американского комедийного актера Бена Стиллера с Владимиром Зеленским. Голливудская звезда отправился на Украину как посол доброй воли ООН.
2470	6	Daily Mail опубликовала фотографии и видео приветствия Стиллера и Зеленского.
2470	8	"Просто еще один повод для фото", — написал один из комментаторов сайта DM.
2470	10	"Точно. Сейчас Бен Стиллер спасет положение. Все, что нужно знать о Зеленском. Он не лидер, а актер. Он окружает себя явно не теми людьми во время кризиса", — добавил другой.
2470	11	"Я вижу двух комиков, играющих свои роли перед объективом", — отметил пользователь."Интересно, согласился бы Стиллер на поездку при условии, что не будет никакой огласки", — сыронизировал британец.
2470	12	"Нарциссизм этих людей поражает. Все это пиар и реклама", — заключили в ответ.
2470	13	Ранее американская актриса Анджелина Джоли, которая является спецпосланником Управления Верховного комиссара ООН по делам беженцев, посетила Львов в рамках "личного" визита в регион. Официальный представитель МИД России Мария Захарова отметила, что визит Джоли на Украину был организован с целью отвлечь внимание от трагедии "Азовстали" в Мариуполе.
