24188	1	Еврокомиссия предложила Москве оплатить убытки из-за санкций против российских туристов
24188	3	Глава Еврокомиссии Урсула фон дер Ляйен обратилась к России с требованием возместить ущерб государствам ЕС, нанесённый в результате визовых ограничений для россиян. По подсчётам экспертов, по итогам года эта сумма составит 35 млрд евро.
24188	5	Задолженность, как утверждают в Брюсселе, необходимо погасить до 1 января 2023 года, иначе сумма её будет расти, а за каждый просроченный день начислится штрафной процент.
24188	7	«Заявления о том, что именно Европа ввела визовые ограничения неуместны. Если бы Россия была цивилизованным государством, мы бы никогда не принимали такие меры. Страны, которые ввели ограничения, можно понять», – уверена председатель ЕК.
24188	9	Чиновница подчеркнула, что отключение большинства российских банков от системы SWIFT не будет считаться смягчающим обстоятельством, ведь допустимы альтернативные формы оплаты.
24188	11	«Это могут быть бесплатные поставки газа, алмазов, различных металлов и других необходимых нам товаров. Проще всего с газом», – уточнила фон дер Ляйен.