24178	1	Философ Дугин сообщил о главном желании погибшей дочери
24178	2	Философ Дугин заявил, что его дочь Дарья «погибла за Россию и во имя победы»
24178	4	Философ и политолог Александр Дугин во время церемонии прощания заявил, что его дочь Дарья «погибла за Россию и во имя победы» и сообщил о главном желании, которое было у нее при жизни. Его цитирует РБК.
24178	6	«У нее было бы одно желание: не помните обо мне, не прославляйте меня, сражайтесь за нашу великую страну, защищайте нашу православную веру, любите наш русский народ, потому что она погибла за народ, за Россию на фронте... Она жила во имя победы, она погибла во имя нашей русской победы», — заявил отец журналистки.
24178	8	Он также отметил, что его дочь была бы рада ордену Мужества, которым ее наградил президент Владимир Путин.
24178	10	Автомобиль, в котором находилась Дарья Дугина, был взорван в субботу, 20 августа на Можайском шоссе в Подмосковье. Погибшая возвращалась с фестиваля «Традиция» на машине, в которой планировал ехать ее отец.
24178	12	Позже в ФСБ сообщили, что взрыв спланировали украинские спецслужбы, а исполнительницей преступления стала гражданка Украины Наталья Вовк. Председатель «Справедливой России — За правду» Сергей Миронов на церемонии прощания с Дарьей Дугиной назвал заказчиком ее убийства президента Украины Владимира Зеленского.