2439	1	Лукашенко: наши ценности и идеалы были и останутся незыблемыми
2439	3	28 января, Минск /Корр. БЕЛТА/. Наши ценности и идеалы были и останутся незыблемыми. Об этом Президент Беларуси Александр Лукашенко заявил сегодня в Послании белорусскому народу и Национальному собранию, передает корреспондент БЕЛТА.
2439	5	"Некоторые эксперты, анализируя события августа 2020-го, допускают, что к ним могли привести внутренние причины - недовольство общества, системные ошибки и тому подобное. Но давайте масштабируем историческую карту и внимательно взглянем на периоды до и после. Что мы увидим? Длительное время Беларусь выстраивала собственную независимую политику, находясь в центре Европы. Мы были открыты во всем. И заимствовали у них все, что приемлемо для нас. Кроме единственного пункта - наших ценностей и идеалов. Они были и останутся незыблемыми", - сказал Александр Лукашенко.
2439	7	Президент подчеркнул, навязывать нам чужой путь категорически недопустимо.
2439	9	"Свободная и суверенная Беларусь не вписывалась в планы многих геостратегов на Западе. Поэтому нас неустанно пытались шатать через "цветные сценарии". Вспомните 2006 год. Помните эти палатки вот здесь. Палаточный город, когда загадили здесь все и центр Минска (тогда я видел много тут таких людей просвещенных) застонал и взвыл: а где Президент? Почему порядок не наводит? И я его навел в течение одного утра. Вспомните 2010 год, вспомните штурм Дома правительства. Это мы пережили. Перевернутые автомобили милиции, бойня на улицах. Каждый электоральный год это происходило. Все эти натиски белорусский народ решительно отбивал и становился только крепче", - отметил белорусский лидер.