24121	1	Раскрыта позиция G20 по санкциям против России
24121	3	Глава дипломатии Евросюза Жозеп Боррель заявил, что позиция организации и государств G7 о спецоперации России на Украине пока не является ключевой среди «Большой двадцатки» (G20). Об этом он написал в блоге после саммита на уровне министров стран G20, состоявшегося в Индонезии.
24121	5	Боррель раскрыл позицию G20 по санкциям против России и подчеркнул, что антироссийские не преобладают среди стран-участниц «Большой двадцатки».
24121	7	«Глобальная битва нарративов в самом разгаре, и пока мы не в выигрыше. Как ЕС, мы должны продолжать работу по опровержению российской лжи и военной пропаганды, разъясняя, кто несет ответственность за агрессию и, следовательно, за ее последствия», — подчеркнул дипломат ЕС.
24121	9	Боррель добавил, что в марте 140 стран, включая участниц G20, выступили против спецоперации России на Украине. Однако мнения о допустимых мерах и последствиях кризиса расходятся, отметил он. «И многие остаются неопределенными и не хотят принимать чью-либо сторону, потому что это поставит под угрозу их геополитические интересы», — добавил Боррель.
24121	11	Ранее глава МИД России Сергей Лавров сравнил введение санкций с объявлением войны. По его мнению, Запад неоправданно критикует действия Москвы.
