2436	1	Как избежать продовольственного кризиса в мире: в ОП назвали три шага
2436	3	Эту ситуацию РФ создает искусственно, но это можно остановить. Что нужно? 
2436	5	Глава офиса президента Украины Андрей Ермак назвал три шага, которые помогут избежать продовольственного кризиса в мире. На своем Телеграмм-канале он рассказал, что основные усилия должны касаться конвоев для сопровождения украинского зерна, санкций и оружия.
2436	7	"Продовольственный кризис создается Россией искусственно...РФ блокирует наши порты, обстреливает зерновые терминалы и ворует зерно. Она заняла часть наших территорий, помешав там посевную. Сейчас необходимо сделать несколько важных шагов", - написал Ермак.
2436	9	Шаг №1 – военные конвои. Они должны сопровождать украинские танкеры, чтобы вывезти зерно из портов.
2436	11	Шаг №2 – работа над усилением санкций. Она должна быть оперативной. Речь идет как об индивидуальных ограничениях против российских элит, так и о мерах по энергетическому сектору и банковской системе РФ. Приоритетом остается газовое эмбарго.
2436	13	Шаг №3 – увеличение военной помощи. Украина должна получить больше оружия, с помощью которого мы сможем освободить свои территории и остановить планы агрессора по продвижению дальше.
2436	15	Напомним, РФ блокирует вывоз из украинских портов зерна и между тем сама разворовывает элеваторы на оккупированных территориях.
2436	17	Под давлением мирового общества для разблокирования морских путей из нашей страны стало известно, что Анкара и Москва достигли предварительной договоренности по поставкам украинской сельскохозяйственной продукции через Черное море. При этом с Киевом эти государства вопросы не согласовывали, а непосредственно Турция является одной из стран, покупающих зерно, украденное россиянами в Украине.