2452	1	США тайно поощряют компании закупать удобрения из России, сообщили СМИ
2452	2	Блумберг: США тайно поощряют компании наращивать закупку удобрений из России
2452	4	МОСКВА, 13 июн — РИА Новости. Правительство США тайно поощряет сельскохозяйственные и транспортные компании наращивать закупку российских удобрений на фоне санкций и резкого роста цен на продовольствие, передает агентство Блумберг со ссылкой на источники.
2452	5	По данным издания, вышеупомянутые действия Вашингтона — "часть сложных и трудных переговоров, проводимых с участием ООН по увеличению поставок удобрений, зерна и другой сельскохозяйственной продукции из России и Украины".
2452	7	Отмечается, что в этом году экспорт удобрений из России на Запад сократился на 24 процента.
2452	9	На прошлой неделе санкционный координатор Госдепа Джим О'Брайен заявил, что США настроены в ручном режиме устранять препятствия для поставок продовольствия и удобрений из России в страны "глобального юга" и не видят для этого санкционных помех.
2452	11	В ООН не раз заявляли об угрозе продовольственного кризиса. Запад обвинял Россию в противодействии поставкам украинского зерна на мировые рынки — Москва это категорически отвергала. При этом киевские власти сами создали множество препятствий для вывоза зерна на экспорт: помимо вскрывшегося поджога продовольствия в Мариупольском порту, ВСУ провели минирование акватории Черного моря, что не позволяет везти зерно на мировые рынки судами.
2452	12	Как подчеркнул Владимир Путин, проблем с вывозом с Украины не существует и Россия не препятствует этому. По его словам, если Киев разминирует порты, корабли смогут выходить оттуда без всяких проблем.