24172	1	Александра Архипова. Что будет, если в России ограничат право на бесплатные аборты
24172	2	ДАННОЕ СООБЩЕНИЕ (МАТЕРИАЛ) СОЗДАНО И (ИЛИ) РАСПРОСТРАНЕНО ИНОСТРАННЫМ СРЕДСТВОМ МАССОВОЙ ИНФОРМАЦИИ, ВЫПОЛНЯЮЩИМ ФУНКЦИИ ИНОСТРАННОГО АГЕНТА, И (ИЛИ) РОССИЙСКИМ ЮРИДИЧЕСКИМ ЛИЦОМ, ВЫПОЛНЯЮЩИМ ФУНКЦИИ ИНОСТРАННОГО АГЕНТА.
24172	4	В российской Госдуме готовят законопроект, согласно которому нельзя будет сделать аборт по полису (ОМС — «Росбалт»). Соответственно, бедные и/или молодые женщины не смогут его сделать.
24172	6	Это отвечает более глобальной тенденции — жуткий закон об абортах в Польше, ограничение на аборты в ряде штатов в США. Логика государства тут понятна: нам нужно больше тел, которые смогут платить налоги, особенно в ситуации, когда рождаемость снижается. А снижается она в целом из-за второго демографического перехода: женщины (чаще всего образованные) рожают мало детей и поздно.
24172	8	Но такие запреты имеют далеко ведущие последствия. В 2001 году была опубликована знаменитая работа экономистов Джона Донохью и Стивена Левитта The Impact of Legalized Abortion on Crime. Из-за этого исследования авторов чуть не линчевали, а они показали важную связь: запрет абортов напрямую связан с ростом подростковой преступности с шагом в 15-18 лет.
24172	10	Авторы изучили рост и падение преступности в разных американских штатах, разрешающих и запрещающих аборты за 30 лет. Вывод очень простой: легализация абортов отвечает за снижение преступности на 50%. Почему? Женщины часто идут на аборт, когда им нечем кормить ребенка или они живут в социально очень неблагополучном мире. Если они рожают детей, особенно против своей воли, эти дети потом с большой вероятностью попадут в детские дома или на улицу, что приводит к взрыву подростковой преступности, когда они подрастут.
24172	12	Если в России нельзя будет сделать бесплатное прерывание беременности, то через 15 лет будет много малолетних преступников.