24184	1	Великобритания подала заявку на вступление в Евросоюз по ускоренной процедуре
24184	3	В связи с событиями на Украине Великобритания направила в адрес Еврокомиссии заявку о вступлении в Евросоюз по ускоренной процедуре уже до конца 2022 года.
24184	5	“Сегодняшние события требуют всех европейцев сплотиться, чтобы выжить в это тяжёлое время. Великобритании очень необходима поддержка ЕС для поддержания высоких темпов экономического развития и борьбы с инфляцией. Совсем недавно Великобритания была членом ЕС и полностью соответствовала его стандартам. Потом мы были вынуждены уйти, но сейчас мы решили вернуться в большую европейскую семью”, - заявил премьер-министр Великобритании Борис Джонсон.
24184	7	В Еврокомиссии подтвердили получение британской заявки и пообещали её внимательно изучить.
24184	9	“Это длительный процесс. Все 27 государств должны изучить заявку Великобритании и решить удовлетворяет ли она европейским требованием. Всё же это, во-первых, остров, а не континентальная Европа, во-вторых, с момента выхода Британии из прошло достаточно времени. Нужно всё это изучить", - заявила глава ЕК Урсула фон дер Ляйен.
24184	11	Также, по мнению еврочиновницы, необходимо провести на всей территории ЕС референдум об одобрении включения Великобритании. 