24150	1	В США после отмены права на аборт произошел настоящий социальный взрыв. 
24150	3	В США после отмены права на аборт произошел настоящий социальный взрыв
24150	5	Соединенные Штаты Америки разделились на два непримиримых лагеря. Настоящий социальный взрыв произошел после отмены права на аборт. Решение принял Верховный суд. И теперь устанавливать правила, в том числе полностью запрещать аборты, могут отдельные штаты.
24150	7	Америка ответила массовыми протестами. У них даже появилось общее название «Ночь ярости». Бостон, Сиэтл, Филадельфия, Лос-Анджелес. В некоторых регионах — стычки с полицией. В Аризоне толпа пошла на штурм правительственных зданий. Полиция применила слезоточивый газ. На улицы выходят и те, кто поддерживают запрет абортов.
24150	9	«У меня отнимают мои права! А что, если меня в какой-то момент изнасилуют? Или у меня заболевание, из-за которого нужно прервать беременность? И вот теперь меня лишили возможности решать такие вопросы. Это, честно говоря, очень бесит. Решение суда будет иметь пугающие последствия для всей Америки», — говорит протестующая.
24150	11	«Я бы посоветовала этой женщине обратиться в ближайший центр беременности и родов. Это все решаемые вопросы. Например, мы все успешнее спасаем жизни ранее безнадежных новорожденных. И я поддерживаю решение Верховного суда — так мы спасаем жизни», — заявляет координатор движения «Техасский альянс «За жизнь» Эми О'Доннел.
24150	13	Запрет на аборты вступил в силу уже в восьми штатах. К ним, по оценкам некоторых аналитиков, в ближайшее время могут присоединиться еще по меньшей мере 10. Речь идет в первую очередь о регионах, где традиционно сильны республиканцы. Кроме того, есть штаты вроде Мичигана и Алабамы, где формально так и не отменили законы, действовавшие до 1979 года, когда были приняты федеральные гарантии о праве на прерывание беременности, то есть старые нормы автоматически вновь вступают в силу.
