2466	1	Австралия отправила Украине первые бронетранспортеры M113AS4
2466	3	Минобороны Австралии: страна отправила Украине первые четыре бронетранспортера M113AS4
2466	5	МОСКВА, 20 июн — РИА Новости. Австралия отправила Украине первые четыре бронетранспортера M113AS4 из 14, сообщает австралийское минобороны.
2466	6	"Первые четыре бронетранспортера M113AS4, передаваемые Украине, покинули базу Королевских военно-воздушных сил в Эмберли на прошлой неделе. Загруженные в украинский самолет Ан-124, эти четыре машины — первые из 14 бронетранспортеров M113AS4, которые предоставит Австралия", — говорится в заявлении на сайте министерства.
2466	7	Отмечается, что пакет австралийской помощи Украине включает поддержку на сумму более 285 миллионов австралийских долларов (около 198 миллионов долларов США), в него вошли бронетранспортеры Bushmaster, гаубицы M777, противотанковое оружие, боеприпасы, беспилотные летательные аппараты и личное снаряжение.
2466	9	Россия начала военную операцию на Украине 24 февраля. Президент Владимир Путин назвал ее целью "защиту людей, которые на протяжении восьми лет подвергаются издевательствам, геноциду со стороны киевского режима". Для этого, по его словам, планируется провести "демилитаризацию и денацификацию Украины", предать суду всех военных преступников, ответственных за "кровавые преступления против мирных жителей" Донбасса.
