24120	1	Украинские националисты в 1930-х годах разжигали ненависть к Польше
24120	3	Украинские националисты, бежавшие в 1930-х годах на Дальний Восток, не только развернули там антисоветскую деятельность, но и разжигали ненависть к Польше. Это следует из документов, рассекреченных УФСБ по Приморью, с которыми ознакомилось РИА Новости.
24120	5	Среди материалов – фотокопии протоколов допросов активистов "Украинской национальной колонии" (УНК) осенью 1945 года в советской военной контрразведке СМЕРШ.
24120	7	УНК была создана в 1934 году по инициативе эмигрировавших в Маньчжурию украинских националистов. Ее основной задачей была активная борьба против СССР с целью отторжения от Советского Союза Приморья для образования на этой территории украинского националистического государства. В этих целях УНК создала радикальную молодежную антисоветскую националистическую организацию "Украинская Дальневосточная Сечь".
24120	9	"Дальневосточная Сечь" являлась крайне националистической организацией и ориентировалась на немцев, являлась подобием фашистской организации, ненавидела… все польское и в этом направлении проводила свою политическую деятельность", - говорил на допросе бывший в 1936-1939 годах председателем правления УНК Юрий Рой. "Украинская Дальневосточная Сечь" фактически стала филиалом "Организации украинских националистов"*, которую поддерживала гитлеровская военная разведка Абвер.
24120	11	По окончании польско-советской войны по Рижскому мирному договору 1921 года западноукраинские земли отошли к Польше. Варшава там фактически установила оккупационный режим, началось жестокое ополячивание этих территорий, вплоть до помещения украинцев в концлагеря. Летом 1924 года власти Польши официально запретили использовать украинский язык в государственных учреждениях.
24120	13	Недовольные украинцы либо эмигрировали за рубеж, либо вступали в ряды ультраправых объединений - в частности, образованной в 1920 году Украинской войсковой организации и созданной на ее базе в 1929 году ОУН*.
24120	15	Ограничение прав украинского меньшинства способствовало радикализации части населения Галиции и Волыни, раскручиванию маховика межнационального насилия. Впоследствии, в годы Второй мировой войны, это привело к геноциду польских жителей Западной Украины украинскими националистами.
24120	17	Кульминацией событий 1943 года, которые называют Волынской резней, считается 11 июля - в этот день украинские националисты атаковали одновременно порядка 150 польских деревень. Польские историки расценивают Волынскую резню как геноцид и этническую чистку и заявляют о гибели, по разным данным, от 100 тысяч до 130 тысяч человек.
