24132	1	Политолог предрек «зиму недовольства» в Европе
24132	3	Страны Европы должны подготовить ресурсы для «зимы недовольства». Об этом заявил финский политолог Мика Аалтола (Mika Aaltola) в Twitter.
24132	5	По его словам, цены на бензоколонках являются «лишь прелюдией к дефициту энергоносителей и росту цен».
24132	7	Политолог также выразил мнение, что спецоперация России на Украине представляет собой «масштабную войну на истощение» между Россией и Евросоюзом (ЕС). «Стратегическое оружие [президента России Владимира] Путина — энергетическая зависимость Европы от России — перетягивает на себя внимание с конфликта [на Украине] на противоречия между внутренней политикой стран и ЕС», — заявил Аалтола.
24132	9	Эксперт отметил, что многие страны сталкиваются с все более сложными политическими вызовами. В свою очередь, это сказывается на их решениях в отношении России. В то же время Аалтола убежден, что сложившаяся ситуация также бьет по способности России «финансировать свою политику расширения за счет западных покупателей энергоресурсов». «"Зима неудовлетворенности" станет изнурительной и для самой России», — предрек он.
24132	11	Ранее журнал Forbes предупредил, что Германию ждут суровые последствия в случае, если газопровод «Северный поток» не будет запущен после остановки на плановое обслуживание. Издание отмечает, что основной удар придется на промышленный сектор из-за нормирования потребления электричества. Это повлечет за собой сокращения рабочих мест и ограничения производства.
