2462	1	Эксперт предсказал реакцию России на попытки НАТО захватить Калининград
2462	2	Эксперт Евсеев: попытки НАТО захватить Калининград вынудят Россию применить ядерное оружие
2462	4	МОСКВА, 20 июн — РИА Новости. Гипотетические попытки НАТО вторгнуться в Калининградскую область могут спровоцировать Россию на применение ядерного оружия, предположил в беседе с "Украиной.ру" военный эксперт Института стран СНГ Владимир Евсеев.
2462	5	По его словам, вероятность вооруженного конфликта на Балтике не очень большая, но она существует.
2462	7	"Я не исключаю, что в какой-то момент Польша будет обострять ситуацию на границе с Калининградской областью. Но надо понимать, что если у России будут хоть малейшие сомнения в том, что Калининград будет захвачен странами НАТО, то Россия применит ядерное оружие и создаст наземный коридор через территорию Литвы. Если Запад готов к этому, то пусть обостряет ситуацию", — заявил Евсеев.
2462	8	Аналитик считает, что эффективность военной спецоперации на Украине приведет к тому, что желание Североатлантического альянса вступать в боевые действия с российской армией ослабнет.
2462	10	Россия с 24 февраля проводит военную операцию на Украине. По заявлению Минобороны, российская армия уже выполнила основные задачи первого этапа — существенно снизила боевой потенциал Украины. Главной целью в ведомстве назвали освобождение Донбасса.
