24187	1	В Красноярске раскрыли банду пенсионеров, скупавших клофелин для угона бомбардировщика
24187	3	В городе Сосновоборск Красноярского края раскрыли группу пенсионеров, приобретавших в аптеках раствор клофелина. По версии следствия, они это делали с целью угона бомбардировщика.
24187	5	Готовящееся преступление было раскрыто случайно. Участковый инспектор зашёл в аптеку и услышал, как 73-летняя женщина просит у фармацевта клофелин в растворе 0,125%. Незадолго до этого офицер читал в интернете сообщение о том, что группа иностранных разведчиков во главе с болгарским журналистом Христо Грозевым намеревалась угнать российский боевой самолёт, использовав для этого именно клофелин.
24187	7	«Препарат добавляется в небольшом количестве в водку, после чего самолёт угоняется. Однако благодаря бдительности участкового, подготовка к преступлению сорвана»,  – говорится в официальном пресс-релизе.
24187	9	В ходе проверки удалось выявить 27 покупателей клофелина в возрасте от 67 до 89 лет. Все они утверждали, что глазные капли с клофелином требовались им для лечения глаукомы, однако следователь рассчитал, что купленного ими клофелина хватило бы для угона всей техники тяжёлого бомбардировочного авиаполка, дислоцированного в Амурской области. Кроме того, тот факт, что они все озвучивают одну и ту же версию, говорит о сговоре.
24187	11	Несмотря на все усилия, «разговорить» подозреваемых долгое время не удавалось. Однако дело окончательно сдвинулось с мёртвой точки, когда один из задержанных подтвердил, что не только знаком с Христо Грозевым, но и верует в него. В настоящий момент устанавливаются заказчики и все обстоятельства покушения на преступление.