2464	1	Военный аналитик допустил применение Россией ядерного оружия при провокации НАТО
2464	3	Аналитик Евсеев заявил, что попытка НАТО захватить Калининград вынудит РФ на ядерный удар
2464	5	Военный аналитик Института стран СНГ Владимир Евсеев в беседе с «Украиной.ру» допустил применение Россией ядерного оружия при провокации НАТО. Он заявил, что гипотетическая попытка захватить Калининградскую область вынудит Москву нанести удар.
2464	7	Он отметил, что вероятность вооруженного конфликта на побережье Балтийского моря невелика, но она существует, поскольку Польша в какой-то момент может начать обострять ситуацию на границе.
2464	9	«Но надо понимать, что если у России будут хоть малейшие сомнения в том, что Калининград будет захвачен странами НАТО, то Россия применит ядерное оружие и создаст наземный коридор через территорию Литвы. Если Запад готов к этому, то пусть обостряет ситуацию», — подчеркнул Евсеев.
2464	11	По словам военного эксперта, эффективное проведение спецоперации на Украине ослабит желание Североатлантического альянса вступать в конфронтацию с Москвой.
2464	13	Ранее директор Департамента по вопросам нераспространения и контроля над вооружениями МИД России Владимир Ермаков призвал Запад задуматься об угрозе ядерного оружия США в Европе. Он добавил, что участие неядерных европейских стран в совместных ядерных миссиях НАТО «противоречит их базовым обязательствам» по ДНЯО.