24131	1	Украина обвинила крупнейшие западные банки в пособничестве военным преступлениям
24131	3	Правительство Украины потребовало от руководства крупнейших американских и европейских банков прекратить сотрудничество с Россией в сфере торговли нефтью.
24131	5	Письмо об этом, как сообщает The Financial Times, советник президента Украины Олег Устенко направил в американские JPMorgan Chase, Citigroup, британскую HSBC и французскую Credit Agricole.
24131	7	В своих посланиях советник заявил, что предоставляя кредиты компаниям, которые занимаются поставками российской нефти, банки «продлевают войну». Усенко пригрозил финансовым организациям, что они не будут допущены к участию в послевоенном восстановлении Украины.
24131	9	В интервью The Financial Times Устенко рассказал, что украинские спецслужбы собирают информацию о подобном сотрудничестве с Россией, а после окончания войны Минюст Украины собирается обращаться по этому поводу в Международный уголовный суд (МУС).
24131	11	«С моей точки зрения, они совершают военные преступления, потому что помогают режиму Путина этим особенным образом и поддерживают режим», — сказал Устенко газете, отметив, что Россия использует доходы от нефти и газа для ведения войны.
24131	13	В JPMorgan, комментируя письмо Устенко, заявили The Financial Times, что активно участвуют в применении антироссийских санкций. В Citigroup и Credit Agricole повторили заявления о сворачивании деятельности в РФ, а в HSBC не стали комментировать ситуацию.