24174	1	В Донецке заявили о целенаправленной атаке ВСУ на пивзавод
24174	3	Вооруженные силы Украины (ВСУ), по предварительной версии, целенаправленно стреляли по пивоваренному заводу в Донецке, сообщили в представительстве ДНР в Совместном центре по контролю и координации (СЦКК) режима прекращения огня.
24174	5	«Предположительно, били снарядами 152 мм, потушат пожар, зафиксируют, будут более точные данные. Судя по тому, как это произошло, по предварительной версии, били целенаправленно [по пивзаводу]», – сообщил источник ТАСС.
24174	7	Как сообщили в МЧС ДНР, во время обстрела ВСУ пивзавода в Донецке на его территории находились 32 человека, предварительно, один погиб, двое пострадали. Площадь пожара, возникшего после обстрела, составляет 600 кв. метров.
24174	9	Ранее сообщалось, что вооруженные силы Украины обстреляли Донецкий пивоваренный завод, в результате чего произошла утечка аммиака. МЧС ДНР просит жителей «принять меры для дополнительной герметизации своих квартир (домов), помещений». В ведомстве указали, что необходимо «дышать через ватно-марлевые повязки, смоченные пятипроцентным раствором лимонной или уксусной кислоты».
