24143	1	Жители США подняли на смех нового транс-сотрудника Минэнерго
24143	3	Сотрудник Минэнерго США подвергся насмешкам после фото в Twitter в женской одежде
24143	5	Граждане США с юмором отнеслись к новому фото сотрудника Министерства энергетики Сэма Бринтона, который позиционирует себя как транс-персону. Они оставили шутливые комментарии под его постом в Twitter.
24143	7	Бринтон сообщил читателям своего аккаунта, что 19 июня он официально приступил к исполнению обязанностей в Минэнерго США. Он занял должность заместителя советника главы ведомства по вопросам утилизации ядерных отходов. К обращению Бринтон прикрепил фото, на котором он предстал в красном комбинезоне, туфлях на каблуке и с нанесенным макияжем.
24143	9	«Эта страна катится вниз так быстро. Невероятно», — написал один из комментаторов.
24143	11	Другой пользователь k Close отметил, что американским политикам стоило бы заняться прямыми обязанностями, а не отстаиванием личных предпочтений.
24143	13	«Купите деловой костюм: вы на работе, а не на дискотеке 80-х», — подытожил the Hierophant HildegardP.
24143	15	Бринтон начал работу в Минэнерго Штатов еще в феврале этого года. Он также является квир-активистом и требует обращаться к нему «они». Такое пожелание связано с самоидентификацией Бринтона: он ощущает себя «небинарной гендерфлюидной персоной». Ранее он был советником правительства экс-президента США Барака Обамы. Он давал рекомендации по работе с сообществом ЛГБТК+ и работал с конгрессом по ядерной политике.
24143	17	Новый замсоветника министра энергетики отличился не только в отстаивании своего мировоззрения: у него есть две степени магистра в области ядерной энергетики и машиностроения в Массачусетском технологическом институте.
