2410	1	 Лукашенко признал, что он диктатор - но Беларуси от этого хорошо 
2410	3	Президент Беларуси Александр Лукашенко считает, что без диктатуры в стране белорусы "ходили бы голытьбой". Он также раскритиковал западную демократию, остановившись на якобы преимуществах белорусского режима. Об этом 29 апреля сообщает "БЕЛТА".
2410	5	В частности, Лукашенко сравнил белорусский с режим с демократической Польшей, Литвой и Латвией, заявив, что в этих странах якобы нет соли, поэтому людей не пускают в Беларусь.
2410	7	- Вот и вся демократия! Слава богу, что у нас диктатура. Вы все меня критиковали: диктатура, диктатура. Так зато порядок есть при этой диктатуре. Не было бы диктатуры, так ходили бы голытьбой, - добавил он.
2410	9	Кроме того, белорусский президент отметил, что санкции, которые были введены в отношении Москвы и Минска из-за войны в Украине, не сломят страну, наоборот - заставляют искать новые возможности.
2410	11	- Рынок открыт, надо шевелиться, а не плакаться, - сказал диктатор.
2410	13	Лукашенко подчеркнул, что не удастся поставить на колени за счет санкций Беларусь и Россию, поскольку эти "страны обладают достаточными ресурсами, технологиями и интеллектом".
2410	15	Ранее он отмечал, что РБ и РФ пытаются выстроить единое Союзное государство на новых принципах, "чтобы никто не был в обиде". К такому союзу, уверен Лукашенко, будут подключаться и другие республики бывшего Советского Союза.