2419	1	СНБО назвал имена западных "экспертов", продвигающих нарратив Кремля о "неизбежной победе РФ" 
2419	3	Кремль на этой неделе активно распространял нарратив о "неизбежной победе России" и необходимости Украине идти на уступки. Для этого страна-агрессор использует "лояльных западных экспертов".
2419	5	Об этом сообщает РБК-Украина со ссылкой на Telegram-канал Центра противодействия дезинформации при СНБО Украины.
2419	7	Так, французский центр исследований в сфере разведки опубликовал аналитическую сводку, в котором частично продвигаются кремлевские нарративы о "неопытных украинских солдатах" и "профессиональную российскую армию".
2419	9	Кроме того, экс-сенатор США Р. Блэк в интервью англоязычным медиа рассказывал о неизбежной победе России, поскольку "РФ не может себе позволить проиграть из-за угрозы расширения НАТО".
2419	11	Также итальянский генерал Л. Трикарико призвал ЕС отказаться от "безумной идеи выиграть войну в Украине" и склонить Украину к капитуляции, чтобы не провоцировать Россию на применение оружия массового поражения
2419	13	При этом немецкий Институт Шиллера провел международную дискуссию на тему угрозы Третьей мировой войны, участники мероприятия пришли к выводу, что "конфронтация с Россией губительна для Германии и ЕС".
2419	15	Как поясняют в СНБО, все эти заявления - попытка России навязать миру необходимую РФ точку зрения. Напомним, президент Владимир Зеленский заявил, что некоторые геополитики предлагают Украине пойти на уступки России и отдать территории ради иллюзии мира.
2419	17	На что украинская сторона заявляет, она никогда не пойдет на уступки по одному из вопросов и это касается именно территориальной целостности нашей страны.