245	1	Порошенко: сегодня мы снова на передовой, и мы победим путинский рашизм 
245	3	Путинская Россия сегодня - как гитлеровская Германия 80 лет назад, а Путин - то же самое, что Гитлер.
245	5	Об этом сообщает РБК-Украина со ссылкой на видеообращение Петра Порошенко по случаю Дня памяти и примирения.
245	7	Порошенко также подчеркнул, что мир должен был сдержать российского фюрера еще тогда, когда он только подал первые намеки на свои реваншистские планы.
245	9	"Никогда снова не должны повториться ужасы Второй мировой войны, уничтожение невинных людей, разрушение самих основ цивилизации. "Никогда снова" раздавалось снова и снова. Уже после нападения на Грузию, после захвата Крыма, после агрессии на востоке нашего государства. Но повторение слов не могло заменить действий в защиту мира. Не один год шло ползучее умиротворение агрессора, который на "Никогда снова" отвечал - "можем повторить", - заявил Порошенко.
245	11	Теперь российская агрессия распространилась на всю территорию Украины, добавляет он.
245	13	"Снова агрессор отрицает наше право на существование, объявляет о своем праве силой перекраивать границы. А у нас, украинцев, отбирает право на жизнь. При этом он использует весь инструментарий нацизма: бомбардировки городов и сел, геноцид мирного населения, тотальную ложь в медиа", - заявил Порошенко.
245	15	Порошенко отмечает, что уничтожение учебных заведений, библиотек и музеев скопированное с гитлеровского плана "ОСТ", который предусматривал превращение Украины в источник сырья и рабской рабочей силы. А вывоз с оккупированных территорий - повторение Голодомора.
245	17	"Сегодня, как и во времена Второй мировой, мы - на передовой. Сегодня снова свободный мир - перед смертельной опасностью. Непреодолимое зло не остановится в Украине. Это очень хорошо понимают народы, которые внесли решающий вклад в победу во Второй мировой войне. Именно эти народы и правительства и теперь поддерживают нас и дальше разворачивают поддержку Украины, оформили уже юридически мощную антипутинскую коалицию. Оружие, санкции, противостояние российской пропаганде, гуманитарная помощь, приют беженцам, укрепление единства НАТО и ЕС - это уже не лозунги, это конкретные действия. Победили нацизм и фашизм - победим и рашизм", - резюмирует он.
