2429	1	 Глава Минобороны Словакии заявил, что Путин равен Гитлеру 
2429	3	Президент России Владимир Путин "равен Гитлеру". Политика нужно остановить прежде, чем он сможет двигаться на Запад. Такое мнение министр обороны Словакии Ярослав Надь выразил в интервью The New York Times.
2429	5	- Украина буквально борется за наше будущее, — подчеркнул Надь, слова которого цитирует «Украинская правда».
2429	7	Министр также отметил, что до вторжения России для его страны было немыслимо отправить через восточную границу большое количество даже самого простого оружия, не говоря уже о системах советского производства.
2429	9	- Но это новая мировая реальность. Мы прифронтовое государство. У нас война на границе и более 330 000 украинцев приезжают в нашу страну. Сейчас парадигма совершенно другая, - отметил он.
2429	11	Война в Украине длиться 51 день. Все это время украинские военные защищают нашу страну, не давая врагу захватить новые территории. По словам президента Украины Владимира Зеленского, скорее всего в ближайшее время будут тяжелые бои на Донбассе. Исход этой битвы повлияет на ход всей войны.