2443	1	В международной системе первой жертвой коронавируса стал распавшийся Евросоюз
2443	3	Европейская солидарность в момент испытаний обернулась фарсом
2443	5	«Коронавирус разоблачил лицемерие. Вот истинное лицо Европы» – под таким заголовком итальянская газета «Джорнале» опубликовала 14 марта на первой полосе статью, упрекающую Евросоюз в предательстве за то, что ЕС не оказал помощи Италии, ставшей жертвой эпидемии.
2443	7	 «Настоящим врагом Европейского союза, – пишет газета, – оказался сам Европейский союз, который в течение немногих дней распался, словно никогда не существовал. Нам годами говорили, что единая Европа – наша настоящая цель, что Брекзит – символ предательства, что наше сияющее будущее – это Брюссель, что настоящие европейские лидеры –  это те, кто сидят в Париже и Берлине и знают, как сплоченной Европе идти к сияющему будущему. Однако хватило всего нескольких дней тревоги, чтобы самые горячие сторонники европейской конструкции лишились всякой уверенности. Никто в Евросоюзе не ответил на отчаянные запросы о передаче новой аппаратуры для вентиляции лёгких, никто не прислал на помощь медиков и санитаров, никто не подумал приказать своим «инвесторам» прекратить спекуляции на бирже, которая рушилась, нанося удар стратегическим резервам Италии. Закрытые границы, остановленные заводы, телефонные запросы без ответов…»
2443	9	Рушится не только глобализация, отмечает «Джорнале». «Зараза нанесла удар по уверенности безудержного либерализма в рынке, все победы которого были перечёркнуты в один миг. Уолл-стрит охвачена беспрецедентным кризисом, сотни миллиардов евро испарились лишь за один день работы биржи. Вера в финансы погасла… За эти немногие недели Европа исчезла, повернувшись спиной к тем, кто нуждается в помощи».
2443	11	Италия стала в Европе главной жертвой вспыхнувшей пандемии. Число заражённых составляет уже около 18 тысяч, а умерли от коронавируса на Апеннинах, по последним данным, 1266 человек, причём 250 из них – только за последние сутки. Однако вместо европейской солидарности соседи по ЕС стали закрывать с Италией границы, как это уже сделали Австрия и Словения.
2443	13	Сегодня производство масок, необходимых для борьбы с пандемией, сосредоточено в Китае (до 90%), и оказалось, что в Европе средств защиты остро не хватает. Как заявил Альберто Спашани, представитель фирмы,  производящей противогазы и защитные очки для итальянской армии, правительство должно было бы немедленно созвать производителей защитных материалов, чтобы организовать выпуск масок по доступным ценам, оказать предпринимателям экономическую помощь. Однако ничего сделано не было. В результате спекулянты стали взвинчивать цены на маски. Правительство заявило о намерении закупить 34 миллиона масок, но их сейчас не найти на рынке. 
2443	15	Не готова к борьбе с вирусом и Национальная служба здравоохранения Италии. Как пишет еженедельник «Эспрессо», «наше издание задало этот вопрос врачам… экономистам, учёным, экспертам, членам муниципалитетов. Единогласный ответ  – нет. Мы не готовы!»