24165	1	В Запорожской области заявили, что регион навсегда уходит с Украины
24165	3	СИМФЕРОПОЛЬ, 8 авг — РИА Новости. Член главного совета администрации Запорожской области Владимир Рогов заявил, что регион навсегда уходит из состава Украины, и призвал киевские власти отождествлять область исключительно с Россией.
24165	4	Владимир Зеленский в своем последнем видеообращении, опубликованном в его Telegram-канале, заявил, что проведение референдумов в южных регионах, освобожденных Вооруженными силами России, закроет для России любую возможность переговоров с Украиной и свободным миром.
24165	5	"Запорожская земля навсегда уходит из состава Украины. Запорожская область взяла курс на воссоединение с Россией и обратного пути не будет. Поэтому режиму Зеленского советую уже сейчас привыкать и начинать воспринимать и отождествлять Запорожскую область исключительно с Россией", — сказал РИА Новости Рогов.
24165	7	По его словам, в Киеве знают настроение людей на освобожденных территориях и их стремление вернуться в Россию, поэтому разводят истерику и пытаются угрожать мирному населению, осуществляя обстрелы гражданской инфраструктуры.
24165	9	"Как бы киевские власти и их западные кураторы ни бесновались, но им придется свыкаться с мыслью, что жители Запорожской области не изменят своего выбора", — заявил Рогов.
24165	11	В ходе спецоперации российские военные взяли под контроль Херсонскую область и приазовскую часть Запорожской области. В обоих регионах сформированы новые администрации, идет вещание российских телеканалов и радиостанций, восстанавливаются торговые связи с Крымом. Регионы объявили о планах войти в состав России.
