24142	1	 России заявили о признаке окончания пандемии COVID-19
24142	3	Иммунолог Жемчугов назвал подвид омикрон-штамма «кентавр» признаком окончания пандемии
24142	5	Специалист по особо опасным инфекциям, врач-иммунолог, доктор медицинских наук Владислав Жемчугов заявил, что появление в России нового подвида омикрон-штамма коронавируса ВА.2.75, более известного как «кентавр», свидетельствует об окончании пандемии. Его слова приводит ТАСС.
24142	7	Жемчугов назвал появление «кентавра» признаком окончания пандемии COVID-19 и подчеркнул, что не следует возвращаться к ранее вводившимся ограничительным мерам.
24142	9	«Текущий всплеск "омикрона" --это "хвост" пандемии, окончание эпидемии коронавируса. Никаких ограничений и масочно-перчаточных мер возобновлять не нужно», — добавил он.
24142	11	При этом эксперт призвал носить маски в общественных местах пациентов с тяжелыми заболеваниями, людей, принимающих иммуносупрессивную терапию, и лиц старше 80-90 лет. По его мнению, «кентавр» не имеет принципиальных отличий от таких вариантов омикрон-штамма, как ВА.4 и ВА.5.
24142	13	Ранее врач-инфекционист, главный врач «Инвитро-Сибирь» Андрей Поздняков спрогнозировал будущее подварианта омикрона «кентавр» в России. По его мнению, он может стать доминирующим в России.