24105	1	Daily Mail: Болсонару сомневается в честной победе Байдена на выборах
24105	3	Президент Бразилии Жаир Болсонару выразил свои сомнения касательно честности в победе Джо Байдена на выборах в США, передает британская газета Daily Mail.
24105	5	"Я не буду обсуждать суверенитет другой страны. Но у Трампа дела шли действительно хорошо", - заявил Болсонару, комментируя "кражу второго президентского срока" у прежнего президента США Дональда Трампа.
24105	7	Ранее Вашингтон обнародовал список приглашенных на Саммит Америк лидеров государств, отметив, что ни один из глав государств трех стран "Северного треугольника" (Гватемалы, Гондураса и Сальвадора - прим.ред.) не будет присутствовать лично. Как заявила пресс-секретарь Белого дома Карин Жан-Пьер, Байден не желает присутствия на саммите "диктаторов".