246	1	Вы говорите "никогда снова"? Расскажите об этом Украине: Зеленский записал обращение из Бородянки 
246	3	Президент Владимир Зеленский в День памяти и примирения обратился к украинцам. Свое обращение глава государства записал из разрушенной Бородянки, что в Киевской области.
246	5	Об этом сообщает РБК-Украина со ссылкой на Офис президента.
246	7	"В этом году мы говорим "никогда снова" иначе. Мы слышим "никогда снова" иначе. Это звучит болезненно, жестко. Без восклицания, а с вопросительным знаком. Вы говорите "никогда снова"? Расскажите об этом Украине. 24 февраля слово никогда стерли, расстреляли и разбомбили. Сотнями ракет в 4 утра, которыми разбудили всю Украину. Мы услышали жуткие взрывы. Мы услышали снова", - сказал Зеленский.
246	9	Президент отметил, что после 77 лет по окончанию Второй мировой войны "зло возродилось".
246	11	"К сожалению, есть те, кто пережив все эти преступления, потеряв миллионы людей, которые боролись за победу и одержали ее, сегодня осквернили память об их подвигах. Тот, кто разрешил обстреливать со своей земли города Украины. Тот, кто плюнул в лицо своему "Бессмертном полку", поставив рядом с ним палачей из Бучи и бросил вызов всему человечеству, но забыл о главном: любое заканчивается одинаково - оно заканчивается", - добавил гарант.
246	13	Зеленский призвал украинцев сегодня почтить память всех борцов с нацизмом и жертв, погибших во время Второй мировой.
246	15	Напомним, сегодня, 8 мая, Украина отмечает День памяти и примирения.
