2417	1	Запад готовит сделку с российскими олигархами. Пронько рассказал о сумме
2417	3	То, что российская так называемая элита имеет дуализм сознания, мы с вами знали давно. То, что они готовы продать "свою маму" по выгодной цене, тоже ни для кого не секрет. Однако впервые им предложена сделка, которая будет иметь конкретный финансовый эквивалент. И у меня нет уверенности, что эта публика не продаст, а фактически не предаст Россию. Западные чинуши и политики решили разыграть "козырную карту" – предоставить возможность российским олигархам откупиться от санкций.
2417	5	Идея "индульгенций" для тех, кто разворовывал Россию и выводил из неё деньги на Запад, как оказалось, активно обсуждалась на встрече министров финансов G7 в Германии. Активный лоббист этой идеи  – Канада, которая действует заодно с киевским режимом. По их логике, олигархи из России, у которых сейчас "нет денег на уборщиц и такси", но у которых на счетах в западных банках миллиарды долларов, евро, фунтов и франков, могут откупиться – заплатить за свое российское происхождение.
2417	7	По логике авторов, сделка убивает сразу двух зайцев: олигархи дистанцируются от Кремля, а вырученные деньги пойдут киевскому режиму на восстановление Украины. По данным западных медиа, канадская новелла уже заинтересовала евробюрократию.
2417	9	Нынешнее законодательство европейских стран не позволяет быстро конфисковать активы выходцев из России, которые уже под санкциями. Речь как минимум уже идёт о сумме в 10 млрд евро. Евробюрократия пытается признать нарушение антироссийских санкций уголовным преступлением, но это долгий и очень затратный процесс. Добровольный же откуп снимает эти препятствия и спасает еврочинуш от возможных судебных процессов, которые скорее всего они проиграют.
2417	11	По мнению аналитиков, речь может идти о сумме в $300 млрд, которая сопоставима с суммой замороженных валютных резервов России. В качестве доказательной базы приводится доклад Национального бюро экономических исследований США, в котором дана оценка выведенным в офшоры активам российских олигархов – это $800 млрд. Что, кстати, сопоставимо с активами всех остальных жителей России.
2417	13	Пойдут ли на эту подлую сделку российские толстосумы, пока вопрос. Однако, надеюсь, что ошибаюсь, в той или иной версии индульгенции будут покупаться. Вся жизнь этой публики вне России. Для них наша страна – источник денежного потока. Все их активы за пределами России, там же их семьи и дети. Поэтому всего один шаг их отделяет от продажного предательства России. Надеюсь, но не факт, что в стране будут сделаны соответствующие выводы, если эта подлая сделка состоится.  