24164	1	Запад дал на помощь Украине меньше, чем заплатил России за газ, пишет FP
24164	3	Запад выделил на помощь Украине 11 миллиардов долларов, что меньше выплат за российские энергоресурсы, пишет журнал Foreign Policy.
24164	4	Издание привело подсчеты Кильского института мировой экономики, согласно которым западные партнеры пообещали Киеву 31 миллиард долларов. Но, несмотря на рост финансовой поддержки в конце июня — начале июля, украинский бюджет получил лишь треть от обещанной суммы.
24164	5	"На сегодняшний день общий объем оказанной помощи составляет около 11 миллиардов долларов, что по-прежнему на порядок меньше той суммы, которую получила Россия за свои углеводороды за тот же период", — говорится в статье.
24164	7	На фоне российской военной спецоперации западные страны продолжают накачивать Украину оружием. Так, в июле Вашингтон объявил об очередном пакете военной помощи на 820 миллионов долларов, который включает дополнительные боеприпасы для РСЗО HIMARS, два норвежских ЗРК NASAMS, до 150 тысяч 150-миллиметровых артиллерийских снарядов, а также четыре контрбатарейных радара.
24164	9	Москва, в свою очередь, не раз заявляла, что поставки вооружений только затягивают конфликт, а транспорт с оружием становится законной целью для российских ВКС. Как подчеркивал пресс-секретарь президента Дмитрий Песков, действия Запада не способствует успеху российско-украинских переговоров и будет иметь негативный эффект.
