2421	1	Под дулами автоматов. Под Херсоном оккупанты "готовятся" к туристическому сезону 
2421	3	В оккупированном Геническе Херсонской области оккупанты пытаются начать туристический сезон. Для большей убедительности используют автоматы.
2421	5	Об этом сообщает РБК-Украина со ссылкой на сообщение уполномоченной Верховной рады Украины по правам человека Людмилы Денисовой.
2421	7	"Вооруженные российские военнослужащие ворвались в частные базы отдыха "Белый Лебедь" и "Arabatka.club" в селе Геническая Горка на Арабатской Стрелке", - рассказала она.
2421	9	По ее словам, оккупанты запретили местным охранникам впускать в базы людей, угрожая тем, что "уже в ближайшее время эти территории станут российской собственностью".
2421	11	При этом, как говорит Денисова, сами оккупанты в военной форме выставляют на своих страницах в социальных сетях посты о том, как они греются под солнцем на берегу Азовского моря.
2421	13	Напомним, Арабатская Стрелка граничит с оккупированным Крымским полуостровом, используемым агрессором как военная база для нападения на материковую часть Украины.