24123	1	Боррель заявил, что ЕС не выигрывает в "битве нарративов" по Украине
24123	3	Глава дипломатии ЕС Боррель: "глобальная битва нарративов" по Украине "в самом разгаре"
24123	5	Глава дипломатии Евросоюза Жозеп Боррель после встречи министров иностранных дел стран G20 заявил, что "глобальная битва нарративов" по Украине "в самом разгаре", а позиция ЕС по этому вопросу не является преобладающей.
24123	7	Боррель, слова которого приводятся на сайте внешнеполитического ведомства ЕС, отметил, что в марте 140 государств поддержали в Генеральной ассамблее ООН резолюцию с осуждением российской спецоперации на Украине. Против резолюции не проголосовала ни одна из стран "Большой двадцатки", помимо РФ, напомнил Боррель.
24123	9	Однако мнения по поводу того, как двигаться дальше, "резко расходятся", продолжает глава европейской дипломатии. В то время как страны G7 (Великобритания, Германия, Италия, Канада, Франция, Япония и США) и их единомышленники "едины в осуждении России и введении против нее санкций", другие страны "часто придерживаются иной точки зрения", признал Боррель.
24123	11	По его мнению, многие по разным причинам придерживаются сдержанной позиции: одни "больше обеспокоены последствиями войны для себя", другие сетуют на "двойные стандарты" или хотят сохранить хорошие отношения с РФ - либо "не хотят принимать чью-либо сторону, потому что это поставило бы под угрозу их геополитические интересы".
24123	13	"Глобальная битва нарративов в самом разгаре, и на данный момент мы не побеждаем", - заявил Боррель.
24123	15	По его словам, глава МИД РФ Сергей Лавров покинул заседание G20 сразу после своего выступления и "даже не потрудился выслушать, что говорили другие". "Это решение говорит все, что нужно знать о том, насколько Россия действительно заинтересована в многосторонних форумах. Я надеюсь, что некоторые члены G20, которые занимают выжидательную позицию в отношении войны на Украине, приняли это к сведению", - заключил Боррель.
24123	17	Россия начала специальную военную операцию на Украине 24 февраля. Президент Владимир Путин назвал ее целью "защиту людей, которые на протяжении восьми лет подвергаются издевательствам, геноциду со стороны киевского режима".
