24190	1	«Газпром» вынесет вопрос о возобновлении работы «Северного потока» на всероссийский референдум
24190	3	30 августа в России состоится онлайн-референдум по вопросу запуска газопровода «Северный поток» после завершения плановых ремонтных работ. В случае, если россияне выскажутся против, поставки газа в Европу возобновлены не будут.
24190	5	Как пояснил генеральный директор ПАО «Газпром» Алексей Миллер, газовый концерн является национальным достоянием, и поэтому вопрос об экспорте должен решать российский народ. Миллер напомнил, что итоги референдума имеют более высокий приоритет, чем международный договор на поставку голубого топлива в страны ЕС – это прямо следует из поправок в Конституцию.
24190	7	Проголосовать можно будет на сайте Госуслуг или лично, для чего необходимо прийти 30 августа в офис «Газпрома» по месту регистрации. При себе необходимо иметь паспорт и справку об отсутствии задолженности за газ.
24190	9	«У многих жителей России есть мечта – чтобы мы перестали поставлять газ Европе, и она там наконец-то замёрзла к чёртовой матери, – рассказал Алексей Миллер. – Лозунг нашей компании – «мечты сбываются». Поэтому мы выясним, хотят ли россияне покончить с этими поставками, или же им нравится продавать газ по рыночной цене в Европу»