2454	1	Германия тайно обратилась к России по вопросу Украины, пишет FP
2454	2	Foreign Policy: ФРГ не хочет унизить Россию и ведет с ней тайные переговоры по Украине
2454	4	МОСКВА, 20 июн — РИА Новости. Германия выступает против "унижения" России и готова для этого пренебречь помощью Украине, написал в статье для журнала Foreign Policy эксперт Института Хадсона в Вашингтоне Питер Раф.
2454	5	По его мнению, об этом свидетельствуют "тайные переговоры", которые, как утверждается, Берлин ведет с Москвой.
2454	6	"Тот факт, что Берлин наводнен слухами о тайных переговорах с Россией, говорит о том, что Германия предпочла бы разочаровать Украину, нежели унизить Россию — что бы это ни значило", — рассказал Раф.
2454	7	Аналитик считает, что канцлер Германии Олаф Шольц, вероятно, разделяет позицию президента Франции Эммануэля Макрона по дипломатическому урегулированию конфликта.
2454	9	"Конечно, Шольц не пошел так далеко, как Макрон, который предложил Украине отказаться от части территории и предостерег Запад от "унижения" России. Однако немецкая реакция на эскалацию в виде строительства дипломатических развязок говорит сама за себя", — отметил эксперт.
2454	10	Раф обратил внимание на незначительность военной помощи, которую Берлин оказывает Киеву.
2454	12	"Как сообщается, Шольц также отказывается от своего обещания разместить дополнительные войска в Литве в рамках стратегии НАТО по сдерживанию России в Прибалтике", — подчеркнул автор статьи.