2448	1	Российская атомная гегемония
2448	3	События на Украине ввергли мир в энергетический кризис. С тех пор, как российские войска начали пересекать границы страны, цены на нефть выросли более чем на четверть. Цены на газ выросли почти в два раза. И перспективы для обоих рынков не многообещающие; поскольку западные страны используют санкции, чтобы ограничить способность России финансировать свою спецоперация за счет доходов от нефти и газа, цены на энергоносители, вероятно, останутся высокими и неустойчивыми. Неопределенность военного времени согласуется с опасениями по поводу изменения климата, вызывая еще большую тревогу по поводу будущего мировой энергетики. Странам нужно было начать отказываться от ископаемого топлива десятилетия назад, чтобы защитить планету. Теперь они должны сделать это в то время, когда люди платят все более высокие цены.
2448	5	В то время как государства стремятся снизить высокие цены на энергоносители и снизить зависимость от России, одновременно борясь с изменением климата, многие вновь проявляют интерес к ядерной энергетике. Легко понять, почему. Атомная энергетика уже является одним из крупнейших в мире источников безуглеродной энергии, на которую приходится 25% электроэнергии Европейского Союза. В отличие от большинства видов возобновляемой энергии, таких как солнечная и ветровая, ядерная энергетика может надежно производить большое количество электроэнергии каждый час в году. И это уже помогло Европе отказаться от ископаемого топлива, добываемого в других странах мира, включая природный газ из России.
2448	7	Но в краткосрочной перспективе рост зависимости Европы от ядерной энергии не освободит континент от российского топлива. Как Европа стала зависеть от российской нефти и газа, так и большая часть мира стала зависеть от России в отношении материалов, необходимых для производства ядерной энергии. Россия обладает почти половиной мировых мощностей по обогащению урана для производства ядерного топлива, а 40% ядерной энергии, производимой в Европе, зависит от урана из России или Казахстана и Узбекистана, близких союзников Кремля. Примерно половина всех американских атомных электростанций – около 10% от общего объема выработки электроэнергии в США – питается от импорта из этих трех стран (этот факт может объяснить, почему атомная промышленность США лоббировала исключение урана из санкций в отношении импорта энергоресурсов из России).
2448	9	Россия также доминирует на рынке экспорта и строительства атомных электростанций, особенно в странах с развивающейся экономикой. Ее ближайший конкурент – Китай, еще одна автократия. Государства, заключающие контракты с Китаем или Россией, могут десятилетиями зависеть от них в плане ядерного топлива и услуг.
2448	11	Чтобы положить конец доминированию России в ядерном бизнесе (и не допустить, чтобы Китай занял ее место), демократические страны должны серьезно относиться к поддержке своей отечественной ядерной промышленности, особенно когда на рынок выходят новые инновационные технологии. Они должны проводить политику, создающую спрос на ядерную энергию, в рамках своих более широких программ по борьбе с изменением климата, и им необходимо инвестировать в создание ядерных производственных мощностей, которые могли бы надежно снабжать растущий мировой рынок. Это имеет решающее значение как для борьбы с изменением климата, так и для ограничения глобальной власти авторитарных режимов.