24148	1	В США отменили исторически важное решение, которое давало право на аборты
24148	3	Верховный суд США отменил решение по делу "Роу против Уэйда" 1973 года, которое давало женщинам конституционное право на аборт.
24148	5	Об этом сообщает РБК-Украина со ссылкой на Reuters.
24148	7	Отменив аборт как конституционное право, постановление суда восстановило способность штатов запрещать его.
24148	9	Отмечается, что 26 штатов либо уверены, либо считают, что могут запретить аборты. Сообщается, что 13 штатов могут запретить аборт в течение 30 дней из-за принятых ранее законов об их запрете.
24148	11	При этом, постановление не позволяет штатам запрещать жителям ездить в другой штат, чтобы сделать аборт, или задним числом наказывать людей за предыдущие аборты.
24148	13	Отмечается, что в результате этого женщины с нежелательной беременностью в крупных районах Америки могут столкнуться с выбором: уехать в другой штат, где процедура остается законной и доступной, купить таблетки для прерывания беременности в Интернете или сделать потенциально опасный нелегальный аборт.
24148	15	Президент США Джо Байден осудил это решение, назвав его "печальным днем" для Америки. Он заявил, что его администрация сделает все, что в его силах, чтобы бороться с усилиями по ограничению поездок женщин в другие штаты, чтобы сделать аборт.
24148	17	Напомним, в 2021 году в США отменили запрет финансирования программы абортов. Центры планирования семьи могут направлять женщин на аборты и получать на это финансирование из федерального бюджета.
