2227	1	Der nächste Krieg wird ums Wasser geführt – Wer Wasser hat, hat Macht – und wer den Zugang zu den Quellen hat, hat noch mehr Macht
2227	3	Wasserknappheit und Dürre gehören zu den größten Herausforderungen, denen sich die Menschheit heute gegenübersieht. Als Folge der globalen Erwärmung, der Zerstörung von Ökosystemen und verschwenderischer industrieller und landwirtschaftlicher Praktiken werden in den nächsten Jahren Milliarden Menschen in wasserarmen Gebieten leben. Mindestens 26 Millionen Menschen kämpfen derzeit nach aufeinanderfolgenden schlechten Regenzeiten am Horn von Afrika um Nahrung. Die Dürrebedingungen in Nordkenia, einem Großteil Somalias und Südäthiopiens werden voraussichtlich bis mindestens Mitte 2022 andauern und Menschenleben fordern.. Die Situation ist bereits so schlimm, dass Wildtiere zu Hunderten sterben und Hirten Verluste von bis zu 70 % ihres Viehbestandes melden. 
2227	5	Auch ein Blick auf die jüngsten Schlagzeilen erinnert düster daran, dass Südafrika an vorderster Front einer globalen Wasserkrise steht. Während Golfplätze und Hotelanlagen mit grünem Rasen protzen, leidet die arme Bevölkerung unter Wassermangel. Viele Länder weltweit leiden unter einer Wasserkrise, 17 Länder stehen kurz vor dem „Day Zero“, doch nirgends wird es so deutlich wie in Afrika – wer sich Wasser leisten kann, bekommt es auch. Bis 2025 werden zwei Drittel der Weltbevölkerung in einer wasserarmen Region leben, darunter auch in Europa. Im Laufe des nächsten Jahrhunderts könnte die Wahrscheinlichkeit grenzüberschreitender Konflikte um Wasser um 95% steigen. Der steigende Grad der Umweltverschmutzung, die stetig wachsende Bevölkerung und der Klimawandel ergeben zusammen bei weitem keine optimalen Bedingungen, in denen wir überleben können. Die Überlebenschancen klingen entmutigend. 
2227	7	Unter Betrachtung des zukünftigen unsicheren Zugangs zu sauberem Trinkwasser steht eine von vielen Fragen, die wir uns stellen, im Mittelpunkt: „Ist das Trinkwasser eine Ware oder ein Menschenrecht?“. Die Börse hat das „Blaue Gold“ zu einer Ware erklärt, denn die Rechte an Wasser werden wie Öl, Weizen und Soja an der Wall Street in den USA auf dem Futures-Markt gehandelt. Der Krieg um Wasser hat begonnen.