22111	1	Kämpfst du noch? Die neue Kriegs-Rhetorik der Medien
22111	3	Die Zeitenwende scheint in den Medien noch nicht verstanden. Nein, nicht DIE Zeitenwende samt Sondervermögen für die Bundeswehr (für dessen Verwendung bitte ein ständiger Untersuchungsausschuss jede Beschaffung, Provision und jedes vage Versprechen, was die Waffen leisten können, prüfen möge), sondern eine Zeitenwende, die gerade vor unseren Augen abläuft, weil wir von der Halluzination befallen sind, dass das elende 20. Jahrhundert sich rückwärts rasend zu wiederholen droht. Nun kamen zuerst die Seuchenwellen, ihnen folgt das Sterben auf den Schlachtfeldern. Bald folgen massenhafte Hungertode, wie sie Stalin vor knapp hundert Jahren billigend in Kauf genommen hatte.
22111	5	Die Halluzination gelangt als Tonspur zu Gehör. In deutschen Zeitungsredaktionen landeten in den ersten Kriegswochen 1914 täglich 50.000 Kriegsgedichte. Vor lauter Gegenwart schien das Bürgertum den Verstand verloren zu haben. Für Ernst Bloch war das Anfang der 70er Jahre der Vergleichsmaßstab für Reaktionen auf die Ölkrise. Heute nun aber geht es nicht um die politische Rhetorik, wer sich wie an die Seite von wem stellt oder hinter den Rücken der ukrainischen Verteidiger duckt, auch nicht um die Frage, wie viele mehr oder weniger leichte Waffen durch wen und wann geliefert werden. Es geht um die Deutung von Symptomen.
22111	7	In der FAZ war jüngst in einem Artikel von Michael Hanfeld zu lesen: „Während sich im deutschen Fernsehen Defätisten und Kriegsmüde ein Stelldichein geben, geht der russische Vernichtungskrieg in der Ukraine weiter. Reporter ohne Grenzen zählt die getöteten Journalisten.“ Defätisten waren einst Elisabeth von Thadden, Daniil Charms, Hans von Sponeck, die Mitglieder der Weißen Rose, Wolfgang Borchert, Ezra Pound und viele andere.
22111	9	Stellvertreterkrieg der Deutschen gegen sich selbst
22111	11	Hanfeld bezieht sich auf die im Leerlauf, aber mit hoher Schlagzahl um sich selbst drehenden TV-Talkshows, die bei dem Versuch zu verstehen, was gerade passiert, so viel Ehre sei ihnen zugestanden, in fast identischen Wiederholungsschleifen zu ergründen versuchen, was tatsächlich passiert. Defätisten wird Mutlosigkeit und Schwarzsehen vorgeworfen. Wer kann es ihnen angesichts der Bilder und Töne von den Schlachtfeldern verargen?
22111	13	Der Mut an den Fronten aber unterscheidet sich von dem Fern-Mut des Kommentators. Er schlüpft rhetorisch in die Robe des Richters, befehligt aber kein Standgericht und verfügt über kein Fallbeil, auch kein Erschießungskommando, tut aber mit seinen Worten so, als sei das der Fall. Hoppla!
22111	15	Sigmund Freud hat diese Symptomatik präzise beschrieben. Auch Feuilletontexte lassen sich als Ersatzhandlung verstehen. Das gilt ebenso für offene Briefe jedweder Art, die ihren Unterzeichnenden zu schalem Ruhm verhelfen. (Recht gehabt – ja oder nein?). Was will der Autor mit dem Vorwurf der Mutlosigkeit ersetzen? Das Lob für die Opfer unter den Kriegsreportern? Den eigenen Marschbefehl an die Front? Das wäre im Angesicht der ernsten Lage zu billig. Ähnlich wirkt ein Leitartikel von Ullrich Fichtner im aktuellen Spiegel („Drückeberger Deutschland“). Bei beiden Autoren dräut hinter der pompösen Rhetorik die Sehnsucht danach, endlich einmal auf der richtigen Seite der Geschichte zu stehen. So wirkt das wie ein Stellvertreterkrieg der Deutschen gegen sich selbst. „Nun siegt mal schön!“, sagte 1958 der damalige Bundespräsident Theodor Heuss zu Soldaten der Bundeswehr.
