2293	1	Allahu akbar! 92 Prozent mehr Asylanträge – aber kaum Ukrainer
2293	3	Die Umvolkung dieses Kontinents läuft auf Hochtouren und kann einen Zuwanderungsrekord nach dem anderen vermelden: Bereits jetzt wurden 92 Prozent mehr Asylanträge im EU-Raum gestellt als im Vorjahreszeitraum. Darunter aber so gut wie keine Ukrainer. Zielland für das islamische Migrantenheer: Nach wie vor Deutschland.
2293	5	Die EU-Asylagentur EUAA kann den Machthabern in Brüssel wieder einmal einen neuen Zuwanderungsrekord vermelden: Bis zum 14. Juni haben bereits 339.984 Menschen in der EU einen Asylerstantrag gestellt. Jedoch befinden sich unter dem Migratenheer trotz des angeblich tobenden Ukraine-Kriegs unter den Asylbewerbern nur ein kleiner Bruchteil von Menschen, die aus dem osteuropäischen Land stammen. Mit 22.700 stellen sie gerade einmal 6,7 Prozent der Anträge. Via Sonderregel können Ukrainer ohne jegliches Asylverfahren, ohne Prüfung direkt als Bürgerkriegsflüchtlinge anerkannt werden.
2293	7	Die meisten Asylbewerber kommen nach wie vor aus islamischen Ländern. 42.900 Afghanen und 34.900 Syrer begehrten in den ersten fünfeinhalb Monaten des Jahres Asyl in der EU. Sie ziehen laut der EUAA – bis auf die rund 23.000 Venezolaner, die lieber in Spanien verbleiben – bevorzugt gleich nach Deutschland weiter.
2293	9	Damit Deutschland unwiderruflich durch Migration verändert werden kann, gibt die Ampelkoalition Gas. Mehr doppelte Staatsbürgerschaften, Familienzusammenführungen für Migranten, schnelle Einbürgerung bereits nach drei Jahren, in Deutschland geborene Kinder ausländischer Eltern werden mit ihrer Geburt automatisch Deutsche und mehr Visamöglichkeiten, so wie schnelle – und natürlich für den Migranten positiv beschiedene Asylverfahren.
2293	11	Das ist nur eine kleine Auswahl aus dem linksgrünen Zauberkasten, das unter dem Motto „Deutschland den Migranten“ dieses Land nun final verändern soll. 
