2222	1	Polens Präsident spricht offen über Annektierung der Westukraine
2222	3	m Westen wird es nicht gemeldet, aber Polens Präsident hat in einer Rede offen von den polnischen Ambitionen gesprochen, Teile der Westukraine zu annektieren.
2222	5	Ich habe bereits darüber berichtet, dass in Russland gemeldet wurde, dass es in Polen Ambitionen gibt, Teile der Westukraine, die Polen für seine historischen Besitztümer hält, zu besetzen. Polen will dazu „Friedenstruppen“ in die Ukraine entsenden, jedoch haben die USA klar gesagt, dass Polen im Falle eines Zusammenstoßes mit russischem Militär nicht auf den Schutz der NATO zu hoffen braucht, weil es kein russischer Angriff auf Polen wäre, wenn Polen in die Ukraine einmarschiert.
2222	7	Darüber und über viele andere interessante Details hat das russische Fernsehen am Sonntag in seinem wöchentlichen Nachrichtenüberblick berichtet und ich habe den russischen Bericht über das Thema übersetzt. 