2211	1	Welche Krise ?
2211	3	Der folgende Aufsatz stammt von Dr. Lee Gerhard, einem pensionierten Geologen der Universität von Kansas (B.S. in Geologie 1958, M.S. in Paläontologie im Nebenfach 1961, und Ph.D. in Geologie 1964). Dr. Gerhard ist der Ansicht, dass der Klimawandel seit 4,5 Milliarden Jahren ein natürliches Phänomen ist, das von natürlichen Prozessen angetrieben wird, dass aber jetzt kultureller Druck besteht, eine menschliche Ursache für die aktuellen Trends zu finden.
2211	5	„Ich habe das Konzept der anthropogenen globalen Erwärmung nie vollständig akzeptiert oder geleugnet, bis die wilden Behauptungen von James Hansen von der NASA in den späten 1980er Jahren für Furore sorgten. Ich habe mich mit der [wissenschaftlichen] Literatur befasst, um die Grundlagen dieser Behauptung zu untersuchen, angefangen bei den ersten Prinzipien. Meine Studien führten mich dann zu der Überzeugung, dass die Behauptungen falsch waren.“ – Dr. Lee Gerhard
2211	7	Es ist erschreckend, dass so viele Wissenschaftler absichtlich ihre Prinzipien aufgegeben haben, um eine Theorie des Klimawandels (anthropogene Erwärmung) voranzutreiben, die bereits durch empirische Daten widerlegt wurde. Sie ziehen es vor, ihren Computermodellen zu glauben, die aufgrund der darin enthaltenen Annahmen darauf ausgelegt sind, ihre Überzeugungen zu unterstützen. Dass es seit der zweiten Hälfte des 20. Jahrhunderts eine Erwärmung gegeben hat, ist unbestreitbar. Diese winzige Erwärmung dem vom Menschen verursachten Kohlendioxid zuzuschreiben und zu prophezeien, dass sie für die Menschheit gefährlich ist, ist entweder bösartig und zeugt entweder von vorsätzlicher Verkennung der Klimageschichte oder von Unwissenheit.
2211	9	Die Rekonstruktion der Eiskerntemperatur ist empirisch, reproduzierbar und zugänglich. Die Erde ist seit mehr als 4000 Jahren kälter geworden (Davis und Bohling, 2000). Die „Abkühlung“ war episodisch, sicherlich auf einer Jahrtausendskala, mit warmen Spitzen, die unterschiedlich als minoisch, römisch, mittelalterlich und vermutlich modern bezeichnet werden (Alley, 2000; Cuffey und Clow, 1997).
2211	11	Es gibt weitere Datensätze, die nicht empirisch sind, sondern menschliche Aktivitäten und Artefakte mit der Temperatur in Verbindung bringen. Die umfassenden Daten, die von Lamb (1996) veröffentlicht wurden, dokumentieren und veranschaulichen die Beziehung zwischen Temperaturen und menschlichen Aktivitäten, indem sie Bodensequenzen, aufgezeichnete Geschichte wie die Weinproduktion in England, Steueraufzeichnungen des Römischen Reiches und ähnliches interpretieren. Die Menge der Daten ist fast überwältigend und zeigt die großen Schwankungen der globalen Temperaturen in den Jahrhunderten und Jahrtausenden vor den letzten 50 Jahren, lange bevor der Mensch in nennenswertem Umfang Kohlendioxid zugesetzt hat. Lamb veranschaulicht, dass die menschliche Zivilisation während aller warmen Perioden florierte; in der dazwischen liegenden kalten Zeit wüteten Pestilenz und Armut.
2211	13	Der Zwischenstaatliche Ausschuss für Klimaänderungen (IPCC) der Vereinten Nationen wird von den Medien und Regierungen als maßgebliche Instanz für den Zustand und die Zukunft des Weltklimas angesehen, ist aber keine wissenschaftliche Gruppe. Obwohl ihm eine Gruppe von Wissenschaftlern angehört, ist er politisch, nicht wissenschaftlich. Ihr Auftrag ist eine politische Agenda: „Die Auswirkungen des Menschen auf das globale Klima dokumentieren“. Es handelt sich weder um eine wissenschaftliche Untersuchung noch um einen Test ihrer Annahme, dass vom Menschen ausgestoßenes Kohlendioxid die globale Temperatur steuert.
2211	15	Nun, da die globale Temperatur nicht gestiegen ist, um eine „Krise“ auszulösen, werden Wissenschaftler, die es wagen, sich zu den Daten zu äußern und damit die IPCC-Hypothese in Frage zu stellen, von der Kirche der sozialen Medien und der akademischen Welt exkommuniziert. Sie haben ihr Einkommen, ihren Arbeitsplatz und ihre Akzeptanz verloren. In der heutigen Zeit ist es nicht einfach, ein echter Wissenschaftler zu sein.
2211	17	Die Erwärmung der letzten Jahrzehnte war vorteilhaft und hat Hunderttausenden von Menschen das Leben gerettet und dazu beigetragen, eine wachsende Weltbevölkerung zu ernähren. Es ist bedauerlich, dass dieser Klimazyklus offenbar zu Ende ist. Werden Pestilenz und Hunger überhand nehmen?
2211	19	Das ist die wahre Krise.