2288	1	„Energiewende“ ist wie gebratene Weihnachtsgans zum Tierarzt bringen
2288	3	Ist die Summe der Förderung für erneuerbare Energien von etwa 100 Mrd. Euro pro Jahr für alle Subventionen, EEG-Umlagen, CO2-Steuer, Steuererleichterungen, Kaufprämien für E-Autos, staatliche Förderprogramme für alles Mögliche nicht jetzt schon viel zu hoch für unsere Volkswirtschaft? Nach den Plänen der Regierung werden diese Ausgaben noch gewaltig steigen.
2288	5	Ist es wahr, dass bis 2030 mehr als 2 Billionen Euro benötigt werden auf dem Weg zur Klimagerechtigkeit, wie Sie es nennen? Ist es nicht ein Taschenspielertrick, den Sie zusammen mit Herrn Lindner machen, wenn Sie die EEG-Umlage von der Stromrechnung auf die Steuerzahlung verschieben?
2288	7	„Der Mangel an Kompetenz, Wissen und Bildung gibt sich durch nichts deutlicher zu erkennen als durch falsche Verwendung von Begriffen und Einheiten.“ Ein Basiswissen in Physik und Mathematik ist in der Politik und den ÖR-Medien nicht vorhanden. Leistung und Energie werden ständig falsch verwendet. Bei Kapazität, Wirkungsgrad und den Hauptsätzen der Thermodynamik herrscht Ahnungslosigkeit. Mega, Giga oder Tera: alles egal. Was für ein Unsinn dabei herauskommt zeigt sich an diesen Beispielen:
2288	9	„Ein Windrad erzeugt 5 Megawatt Strom (ARD). Die Sonne schickt keine Rechnung (GRÜNE). Atom- und Kohlestrom blockieren die Leitungen (Professorin C. Kemfert). Im Stromnetzt sind viele Gigabyte (Cem Özdemir). Kühltürme rauchen (WDR). Die FFF-Bewegung: Wenn das Eis am Nordpol geschmolzen ist, steigt der Meeresspiegel.“ Die Kinder wären besser freitags in die Schule gegangen und hätten etwas von Archimedes gelernt.
2288	11	Daniel Günther, MP von Schleswig-Holstein, hat unlängst in der Welt behauptet, dass seine 1,9 GW Windkraftleistung mehr Strom erzeugt hat als das KKW Brokdorf mit 1,4 GW. In Wahrheit hat das KKW 3,5-mal so viel Strom, Einheit: GWh, erzeugt. Wer ist hier dümmer, was meinen Sie? Der Politiker ohne Basiswissen oder die Zeitung, die keine Ahnung vom Thema hat und nichts korrigiert?
2288	13	Wissen Sie, dass es „Erneuerbare Energie“ eigentlich gar nicht gibt? Man kann Energie weder erzeugen noch vernichten oder verbrauchen oder erneuern. Energie lässt sich immer nur umwandeln oder speichern. Am Ende aller Prozesse ist immer nur Wärme da. Die Sonne schickt unablässig Strahlungsenergie. Die lässt sich in elektrischen Strom umwandeln über die PV und den Wind. In Kohle, Öl und Gas ist Sonnenenergie chemisch gespeichert. Im Uranatomkern sind nukleare Bindungskräfte freisetzbar, die Wärme erzeugen. Wenn man Physik in der Schule abgewählt hat, kann man von den Erhaltungssätzen natürlich nichts wissen…
