2292	1	Nächster Inflationsschock! Ein Euro kostet jetzt 117 Cent 
2292	3	Es wird einfach nicht besser: Die Inflation im Euroraum nimmt immer bedrohlichere Ausmaße an. Am Montagmittag kostete ein Euro erstmals 117 Cent. Das ist ein Preissprung von 17 Prozent seit Jahresbeginn. Experten reagieren besorgt.
2292	5	"Dass die Teuerung auch vor dem Euro nicht halt macht, ist eine bedenkliche Entwicklung", so Johannes Nebelsiek vom Institut für Weltwirtschaft. "Bislang galt es als unumstößlich, dass ein Euro stets um die 100 Cent kostet."
2292	7	Die Folgen für Verbraucher und Unternehmer sind schmerzlich spürbar. Dass insgesamt alles teurer wird, erklärt sich dabei von selbst. Neu hinzu kommt der Umstand, dass bei unrunden Beträgen oder der Herausgabe von Rückgeld künftig anders umgerechnet werden muss. Viele Einzelhändler wollen das ihren Kunden sowie dem Kassenpersonal nicht zumuten und haben deshalb alle Warenpreise auf ganze Eurobeträge aufgerundet, was die Teuerung nochmals verstärkt.
2292	9	Besonders betroffen vom Anstieg des Euros auf 117 Cent sind außerdem Arbeitnehmer, die ihr Gehalt bislang in Cent ausgezahlt bekamen. Ihnen wird geraten, schnellstmöglich auf Bezahlung in Euro umzustellen.
2292	11	Angesichts dieser Entwicklungen ist es laut Nebelsiek nun wohl nur noch eine Frage der Zeit, bis auch der Cent stärker von der Inflation betroffen ist. "Wir müssen nun auf alles gefasst sein", erklärt der Experte. "Es würde mich nicht wundern, wenn wir noch vor dem Herbst für einen Cent bis zu zwei Cent bezahlen müssen."
