2241	1	Fachkräfte? Fehlanzeige! 900.000 Merkel-Migranten leben von Hartz IV!
2241	3	„Es wird bunter werden – ja, wie wunderbar ist das?“ – Der frenetische Jubel der Altparteien-Vertreter während der Flüchtlingskrise 2015 wirkt heute wie der blanke Hohn. Denn fast 900.000 der damaligen Merkel-Migranten leben von Hartz IV. Fachkräfte? Fehlanzeige! Nur 460 000 der seinerzeit ins Land gekommenen Syrer, Afghanen, Somalis oder Iraker haben derzeit eine Arbeit, und das zumeist auch nur in unterqualifizierten Jobs. Dies berichtet die AfD unter Berufung auf einen Bericht der "Jungen Freiheit".
2241	5	Weiter berichtet die AfD: "Kein Wunder: Von den 670 000 als arbeitslos und arbeitssuchend gemeldeten Flüchtlingen haben 88 Prozent keinen Berufsabschluss. Und daran hat sich bis heute nichts geändert!
2241	7	All das hat die Antwort der Bundesregierung auf eine Anfrage des AfD-Bundestagsabgeordneten René Springer ergeben. Laut Statistiken würde die Quote der Flüchtlinge in im sogenannten Leistungsbezug je nach Nationalität bei bis zu 60 Prozent liegen. Bei der deutschen Bevölkerung liegt die Hartz-IV-Quote bei 5,6 Prozent. „Trotz aller Beschönigungen vonseiten der Regierung und der etablierten Medien kann die massive Einwanderung in unsere Sozialsysteme nicht mehr geleugnet werden“, resümiert René Springer. All die Steuermilliarden, die bislang für Integrationsmaßnahmen ausgegeben worden sind, seien „ganz überwiegend wirkungslos verpufft“.
2241	9	Zurecht fragt man sich, wie solche Zahlen mit den aktuellen Plänen der Ampelregierung zusammenpassen. Die hat mit Wirkung zum 1. Juni jetzt ukrainische Flüchtlinge sofort in den Hartz-IV-Bezug gesteckt und erwartungsgemäß gibt es bereits Forderungen, das doch mit allen Asylbewerbern zu machen. Währenddessen sollen Eigentumsprüfungen und auch Sanktionen, falls jemand Jobangebote oder Weiterbildungen ablehnt, ersatzlos wegfallen! Es ist der restlose Ausverkauf des deutschen Sozialstaates! Immer weniger Menschen in geregelten Jobs müssen immer länger für immer mehr Menschen schuften, die nicht arbeiten können oder wollen – und sich oft genug auch genau deshalb auf den Weg nach „Germoney“ machen. Währenddessen reicht die Rente schon jetzt bei vielen nicht mehr zum Leben!
2241	11	Mittlerweile drängt sich die Vermutung auf, dass die Ampelregierung ihre Bürger ganz bewusst kaputtspielen will. Denn statt den selbstzerstörerischen Kurs gründlich zu korrigieren, geht es munter weiter mit Deutschland auf Talfahrt. Stoppen kann das nur die Alternative für Deutschland – mit einer Politik, die sich endlich wieder in den Dienst der hier lebenden und arbeitenden Menschen stellt, statt Steuergeschenke an alle und jeden in der Welt zu verteilen!"