2225	1	Putin und George W. Bush: Fake-Cowboys mit False Flags und brutalen Kriegen
2225	3	Ich hatte immer wieder darauf hingewiesen, dass Wladimir Putin große Ähnlichkeiten aufweist zu George W. Bush. Putin war ein mittelprächtiges Licht beim KGB, Bush stammt aus einer CIA-Familie (Skull & Bones). Beide wurden erst populär nach inszenierten Terroranschlägen, beide führten einen brutalen „Krieg gegen den islamischen Terror“. Bush hatte Bin Laden, Putin hatte Schamil Bassajew. Beide ließen sich mit einem Cowboy-Image vermarkten und einem Feldherren-Image. Obwohl Bush damals AWOL war. Putin hat keine Militärerfahrung. Bush hatte den Patriot Act und Military Commissions Act. Unter Putin kam es zu massiven rechtlichen Verschärfungen. Beide hatten etablierte Systeme hinter sich.
2225	5	Es gab „alternative“ Medien, die sich aufwerteten als Antikriegs-Medien gegen Bush und die USA, machten aber gleichzeitig immer mehr Werbung für den Bush-Klon Putin. Die alternativen Medien agierten im Bezug auf Russland ähnlich wie neokonservative Republican-Medien in den USA zugunsten der Bush-Administration agierten. Und jetzt ist der Krieg da. Jetzt klebt das an den alternativen Medien dran. Sie pokerten und verloren.