22184	1	Lösung für Personalmangel an Flughäfen: Festsitzende Urlauber sollen einspringen, weil sie eh gerade Zeit haben
22184	3	Düsseldorf, Frankfurt, Berlin (dpo) - Ist das Chaos an deutschen Flughäfen schon bald Geschichte? Anstatt auf dem leergefegten Arbeitsmarkt oder im Ausland nach Personal zu suchen, gehen jetzt immer mehr Flughäfen dazu über, kurzerhand festsitzende Urlauber anzuheuern, die ohnehin gerade Zeit haben.
22184	5	"Dass wir da nicht früher drauf gekommen sind!", freut sich Hajo Kleibert von der Betreibergesellschaft des Düsseldorfer Flughafens. "Da sitzen tausende Urlauber bei uns am Flughafen rum und haben außer Warten nix zu tun, während wir händeringend nach Personal suchen. Dabei lag die Lösung so nah!"
22184	7	Inzwischen gehen professionelle Anwerber von Urlaubergruppe zu Urlaubergruppe und fragen, wer mitanpacken will. Der Postillon war in Düsseldorf vor Ort und konnte die Praxis live beobachten.
22184	9	"Hallo! Ihr wartet auf den Flug 4103 nach Teneriffa, oder?", spricht Flughafenpersonalanwerberin Tamara Klowanski eine größere Gruppe in bunter Urlaubskleidung an. "Da tut sich heute leider nichts mehr." Allgemeines Stöhnen. "Ja, ist kacke. Ich weiß. Aber: Habt ihr vielleicht Lust, euch ein bisschen was dazuzuverdienen bis morgen? Wir brauchen noch ein paar Leute, die Koffer ausladen, zwei für Security und einen Busfahrer fürs Rollfeld. 13 Euro die Stunde. Wer hat Bock?" Erst melden sich einzelne zögerlich, dann mehr, schließlich fast alle.
22184	11	Im Vertrauen verrät Klowanski uns, worauf zu achten ist. "Also grundsätzlich nehmen wir gerade jeden, aber man sollte schon so'n bisschen aufpassen, wer was macht. Fürs Kofferwuchten eher keine Senioren nehmen. Und so besoffenen Malle-Touristen nie die Flaggen zum Flugzeugeinweisen geben. Das haben wir teilweise schmerzhaft lernen müssen."
22184	13	Die Gründe, warum so viele Urlauber mit anpacken, sind dabei sehr unterschiedlich. Der Postillon hat einige von ihnen gefragt: "Ja, also wenn mein Urlaub hier schon draufgeht, dann will ich wenigstens ein bisschen Geld für meinen nächsten Urlaub verdienen", erklärt Jasmin Streubeck (39) aus Wuppertal. "Ich mach jetzt wohl eine Doppelschicht Check-In-Schalter am Gate oder so. Gleich beginnt die Einweisung."
22184	15	Für Elliot S. (21) aus Köln steht anderes im Vordergrund: "Ich mach Sicherheitskontrolle. Da kriegt man zwar nur Mindestlohn, aber mir wurde gesagt, ich kann alle Drogen behalten, die ich finde. Da sag ich nicht nein."
22184	17	Tatsächlich läuft das Anwerben so gut, dass inzwischen am Düsseldorfer Flughafen kein einziger Urlauber mehr wartet. "Huch! Jetzt haben wir ja überhaupt keine Passagiere mehr, weil die alle für uns arbeiten", stellt Flughafenbetreiber Kleibert fest. "Hmm… Dann werden wir wohl circa die Hälfte wieder entlassen müssen. An der Feinabstimmung arbeiten wir noch."