226	1	WHO-Impfkampagne mit fatalen Folgen: Immer mehr Fälle von „Impf-Polio” in Afrika
226	3	Oftmals liegt der Schlüssel zum Verständnis der Zukunft in der gar nicht allzu fernen Vergangenheit: Als mahnendes Menetekel gegen den allzu blinden Glauben in den „Erfolg” der Corona-Impfungen kann das Scheitern der Impfkampagnen gegen Polio in Afrika gelten. Hier erwies sich das blinde Vertrauen von WHO, Gesundheitsbehörden und Big Pharma am Ende als verheerend: Statt einer Ausrottung ist Polio nun erst recht auf dem Vormarsch.
226	5	Kurz nachdem die Weltgesundheitsorganisation (WHO) im August 2020 das Poliovirus in Afrika für ausgerottet erklärt hatte, meldete die UNO reihenweise neue Polio-Fälle im Sudan – die allerdings durch die Impfungen (!) erst ausgelöst wurden. Die UNO musste in der Folge eine „weite Verbreitung“ dieses Virustyps eingestehen. Weitere Fälle gab es in Äthiopien, in der Zentralafrikanischen Republik und im Tschad. Bis Oktober 2020 wurden mindestens 260 Fälle von derartigem „Impf-Polio” in 15 afrikanischen Staaten gemeldet – wobei es sich nur um die winzige Spitze des Eisbergs handeln dürfte.
226	6	Impfkampagne durch Corona gestoppt
226	8	Zu den Ursachen erklärte der Leiter des Impfprogramms für Subsahara-Afrika: „Es handelt sich um ein Polio-Virus, das aus der Schluckimpfung mit dem abgeschwächten Erreger Typ zwei mutiert ist und aus Nigeria in den Tschad kam. Wegen der Covid-19-Pandemie und den Abstands-Regeln mussten wir alle unsere Aktivitäten im Zusammenhang mit der Impfkampagne stoppen. So konnte sich das Virus im Tschad und bis in den Sudan verbreiten.“ Im August 2021 wurde auch in Uganda ein Polioausbruch gemeldet, der wiederum genetische Ähnlichkeiten mit der im Sudan nachgewiesenen Virusvariante aufwies. Bis heute werden immer mehr vergleichbarer Fälle über ganz Subsahara-Afrika hinweg bekannt.
226	9	Falsche Zuversicht und Verharmlosungen
226	11	In Afrika wurde dabei ein Lebendimpfstoff verwendet, der billig, hitzeresistent und leicht zu verabreichen ist. Dieser erwies sich am Ende nicht nur als untauglich zur Ausrottung der Kinderlähmung auf dem Kontinent, sondern führte sogar zu deren Ausbreitung. Höchst lehr- und aufschlussreich ist hierbei die Tatsache, dass es sich um angeblich einwandfrei getesteten, risikofreie und „sichere“ Vakzine handelte – wohlgemerkt noch nicht einmal experimentelle mRNA-Impfstoffe -, die sich am Ende nicht nur als kontraproduktiv, sondern lebensgefährlich herausstellten.
226	12	Billigimpfstoffe und nicht ausreichend getestet
226	14	Es sind heute dieselben Gesundheitsbehörden, Pharma- und WHO-Vertreter, die weltweit die Unbedenklichkeit und Alternativlosigkeit der Covid-Impfstoffe betonen – obwohl über deren Wirkmechanismen und mögliche Langzeitschäden noch viel weniger bekannt ist als bei den modifizierten Polio-Impferregern. Was von der Zuverlässigkeit der Prognosen dieses Impfkartells zu halten es ist, kann somit auf dem schwarzen Kontinent – einmal mehr – eindringlich „bestaunt” werden. Den medialen Mainstream scheint es nicht weiter zu bekümmern; vielleicht, weil es sich nur um Afrikaner handelt? Das wäre dann wohl ein weiterer Fall von Aufmerksamkeitsrassismus.
