22189	1	Mann lässt Küche mit Gas volllaufen, um Vorrat für den Winter anzulegen
22189	3	München (dpo) - Sicher ist sicher: Weil er fürchtet, dass Deutschlands Gasvorräte im Winter zur Neige gehen werden, hat Markus Patz aus München heute damit begonnen, in seiner Küche selbst Gas einzulagern.
22189	5	"Man weiß ja nie, wie lange das noch aus der Leitung kommt", erklärt der 52-Jährige, während er das Ventil seines Gasherds voll aufdreht. "Darum bunkere ich lieber jetzt schonmal ein bisschen. Allein hier in die Küche passen ja gut und gerne 20 Kubikmeter Gas rein. Damit komme ich durch das Gröbste durch, falls die Versorgung zusammenbricht."
22189	7	Er öffnet einige Küchenschränke und wedelt mit einem Stück Karton in die Regale. "Hier mach ich vorsichtshalber auch mal alles voll. Gas verdirbt ja nicht und viel hilft viel."
22189	9	Nach etwa einer Stunde dreht Patz das Gas wieder ab. "So, das sollte reichen. Mir ist schon ganz schummrig. Vorräte anlegen ist doch recht anstrengend, merke ich grade."
22189	11	Zufrieden steckt er sich eine Zigarette in den Mund. "Jetzt erstmal eine rauchen nach getaner Arbeit."