22197	1	Ist es Magie? Maßnahmengegner und -befürworter sehen sich von Corona-Expertenrat komplett bestätigt
22197	3	Freitag, 1. Juli 2022
22197	4	Ist es Magie? Maßnahmengegner und -befürworter sehen sich von Corona-Expertenrat komplett bestätigt
22197	6	Berlin (dpo) - Endlich geben ihnen die Experten Recht! Nach der Vorstellung der mit Spannung erwarteten Evaluierung der Coronamaßnahmen durch den Sachverständigenrat der Bundesregierung sehen sich sowohl Maßnahmengegner als auch Maßnahmenbefürworter durch den Bericht jeweils komplett bestätigt.
22197	8	"Das lässt sich aus meiner Sicht nur mit Magie oder einem Riss im Raum-Zeit-Kontinuum erklären", so die Medienwissenschaftlerin Martina Engelbert. "Schon wenige Sekunden nachdem die Evaluierung bekannt wurde, erklärten zehntausende Menschen in Medien und sozialen Netzwerken einhellig, dass sie sich in ihren Standpunkten zu 100 Prozent vom Corona-Expertenrat bestätigt sehen."
22197	10	So habe etwa die maßnahmenkritische "Bild"-Zeitung sofort erklärt, dass der Expertenrat alle Maßnahmen für nahezu wirkungslos erklärt hat (Corona-Klatsche für "Team Vorsicht"). 
22197	12	"Wie kann beides zutreffen?", fragt Engelbert. "Da kommen im Endeffekt nur metaphysische Erklärungen in Frage."
22197	14	Die Wissenschaftlerin erwartet, dass sich in Zukunft mehrere Evaluierungs-Glaubensgemeinschaften bilden, die die Aussagen des Gremiums ähnlich der Bibel auslegen und über kurz oder lang Kreuzzüge gegeneinander führen.