22161	1	Umvolkung in Italien und Randale von Ausländern am Gardasee - WELTEXPRESS
22161	3	Peschiera des Garda, Italien (Weltexpress). Wer meint, mit der Germanisation des einen oder anderen Wortes der lateinischen Sprache nicht klarzukommen, dem sei statt Neger Schwarzer geschrieben. Der eine oder andere Schwarze war auf den „Afrika-Feten“ der Nafris und also der Nordafrikaner, vor allem Araber, am Gardasee dabei. Hunderte junge, männliche Ausländer, auch Mohammedaner und Messermänner, trieben sich am Gardasee herum. Sexuelle Belästigungen und allerlei Beleidigungen nicht nur von Frauen waren anscheinend keine Mangelware, sondern die Regel. Das galt auch für Diebstähle.
22161	5	Unter einem Motto der Umvolkung von vielen meinten die Jungmänner aus Afrika „L’Africa a Peschiera“ („Afrika in Peschiera“) zu „feiern“. Zu Ihrer Feier gehörten auch Schlägereien, versuchte Vergewaltigungen und jede Menge Sachbeschädigungen.
22161	7	Unter der Überschrift „Peschiera del Garda – Schlägerei und sexuelle Belästigung nach Trap-Musik-Treffen am Gardasee“ wird in „Kleine Zeitung“ (13.6.2022) mitgeteilt, daß „eine Versammlung Hunderter Jugendlicher, die zu einem Fest mit Trap-Musik (ein Subgenre von Hip-Hop) auf einem Strand in Peschiera del Garda am südöstlichen Ufer des Gardasees in Norditalien zusammengekommen waren“ und diese „vor einigen Tagen in eine riesige Schlägerei und danach zu Tumulten ausgeartet“ sei. Dabei handelte es sich um „den Strand von Campanello-Pioppi zwischen Castelnuovo und Peschiera del Garda“.
22161	9	Daß die Polizei eingreifen und das Areal räumen mußte und zwar unter Einsatz von Schlagstöcken, das wird nicht verschweigen. In „Der Standard“ (13.6.2022) wird zwar über die Umvolkung so wenig mitgeteilt wie in „Kleine Zeitung“, doch Dominik Straub teilt aus Rom unter dem Titel „Peschiera del Garda – Randale und sexuelle Belästigungen durch junge Nordafrikaner in Italien“ mit, daß „etwa 2.500 Personen – vorwiegend junge Männer mit nordafrikanischem Migrationshintergrund“ für die Randale der Ausländer am Gardasee verantwortlich war und diese in Medien in Italien „Afro-Baby-Gang“ genannt werden, aber auch, daß es in einem Video, das seit Freitag im Weltnetz kursiert, heißt: „Peschiera war nur der Vorgeschmack, wir sehen uns in Riccione.“ Daß „auf dem Video … marokkanische Fahnen und der Schriftzug ‚Peschiera ist Afrika, Riccione ist Marokko'“ zu sehen seien, das wird nicht verschwiegen.
22161	11	Zu einer erneuten Zusammenrottung von Ausländern kam es nicht, denn in Riccione wurden frühzeitig jede Menge Polizisten aufgeboten, die in Peschiera del Garda anfangs schmerzlich vermißt wurden.
22161	13	In den meisten Hauptabflußmedien des Apartheidstaates BRD, der seit Bestehen ein Vasallenstaat der VSA mit dem VK im Beiboot ist, sei mit Lücken gelogen worden, meinen Kenner und Kritiker. Bernhard Zimniok (AfD) teilt im Fratzebuch genannten „Facebook“ (14.6.2022) mit: „Am Gardasee randalierten vor wenigen Tagen 2.000 Afrikaner, es gab Schlägereien, Messerstechereien und sexuelle Übergriffe. Die zur Neutralität und Objektivität verpflichteten ARD und ZDF verweigerten ihren indoktrinierten Zuschauern jede Berichterstattung darüber. Stattdessen berichteten sie über die Legalisierung von Cannabis in Thailand – oder eine Meisterschaft im Pizzabacken in Argentinien. Der Konsument der zwangsgebührenfinanzierten Propaganda soll bloß nicht mit der Realität konfrontiert werden. Daher: Rundfunkbeitrag abschaffen!“
22161	15	In Italien sind viele Personen in Politik und Presse schon einen Schritt weiter. Matteo Salvini (Lega), ein ehemaliger Stellvertretender Ministerpräsident, teilt mit: „Gewalt und Drohungen sind nicht willkommen, wenn es diesen ‚guten Jungs‘ hier nicht gefällt, können sie Italien genauso gut verlassen, zusammen mit den mitschuldigen oder abgelenkten ‚Eltern‘.“ Mitglieder der Lega erreichten bei den letzten Wahlen zum angeblichen Europaparlament 34 Prozent der Stimmen und wurde stärkste politische Partei in Italien.
22161	17	Bei den Kommunalwahlen am vergangenen Sonntag schnitten die ihre und andere Kandidaten, welche die Umvolkung nicht nur beenden wollen, sondern auch umkehren, Unkenrufen ihrer Gegner in Politik und Presse gut ab.
