22145	1	Fjodor Lukjanow: „Warum es dem Westen nicht gelungen ist, die Welt auf eine Konfrontation mit Rußland einzustimmen“
22145	3	In einem Meinungsbeitrag schreibt auf RT Deutsch, Fjodor Lukjanow, Chefredakteur von Russia in Global Affairs, Vorsitzender des Präsidiums des Rates für Außen- und Verteidigungspolitik und Forschungsdirektor des Internationalen Diskussionsclubs Waldai:
22145	5	„Die kollektive westliche Gemeinschaft hat jetzt ihre maximale Kapazität erreicht, mit ihrer europäischen Flanke bestehend aus den Mitgliedern der EU und der NATO sowie der Ukraine und Moldawien, mit ihrem asiatischen Klub bestehend aus Südkorea, Japan und Singapur, der aufgehört hat zu hadern und die „richtige“ Seite wählte, mit der ozeanischen Paarung und natürlich mit Nordamerika. Die „freie Welt“ war noch nie so ausgedehnt. Dies wirft jedoch eine ernsthafte Frage auf: Hat der Westen seine maximalen Grenzen erreicht, über die hinaus keine Expansion mehr möglich ist? Und wenn ja, was bedeutet das?
22145	7	Tatsächlich entspringt die Theorie über die Grenzen des westlichen Einflusses dem berüchtigten Begriff des „Endes der Geschichte“, der bereits so abgenutzt ist, dass es sogar unbequem geworden ist, ihn auszusprechen.“
