2238	1	 Davos: „Klima-Schützer“ fliegen mit 1.500 (!) Privatjets ein 
2238	3	Die politisch-korrekte Show auf dem World Economic Forum (WEF) in Davos. Während die Weltführer über Klima schwafeln, das angeblich durch CO2 bedroht ist, sind sie selbst über zig-Tausende Kilometer aus aller Welt mit Privatjets eingeflogen.
2238	6	DAVOS – „Klimaschützer“ David Attenborough hat zwar die Staats- und Regierungschefs in Davos aufgefordert, dringend Maßnahmen gegen den Klimawandel zu ergreifen, aber anscheinend hat niemand zugehört. Während er sprach, sagten Experten voraus, dass diese Woche bis zu 1.500 (!) Privatjets von und zu den Flugplätzen des Schweizer Skiortes Davos fliegen werden.
2238	8	Privatjet immer größer
2238	10	Politiker, Wirtschaftsführer und Lobbyisten entscheiden sich für immer größere und teurere Flugzeuge, so eine Analyse des Air Charter Service, der feststellte, dass die Zahl der Privatjetflüge im vergangenen Jahr um 11 % gestiegen ist.
2238	12	 Am Montag warnte der CO2-Papst und selbsternannte Naturforscher (eigentlich ist er Rundfunksprecher in GB) David Attenborough, dass „der Garten Eden nicht mehr existiert“, und forderte die politischen und wirtschaftlichen Führer auf, sich erneut für die Bekämpfung des Klimawandels einzusetzen.