2276	1	Skandal: Linksregierung will den Bürgern weiterhin schrottreife Masken andrehen!
2276	3	Berlin – Jetzt wissen wir endlich, warum sich das Virus – trotz Maskenterror – so wunderbar verbreiten konnte:
2276	5	Die Marktüberwachungsstellen der Länder haben 2020 und 2021 bei bis zu 70 Prozent der importierten Masken, Schnelltests und Corona-Schutzausrüstungen teils schwere Mängel festgestellt. Das berichtet „Business Insider“. Demnach wurden tonnenweise Produkte eingeführt, die minderwertig waren und nicht ausreichend Schutz vor mit dem Coronavirus bieten konnten.
2276	7	Hintergrund ist, dass die Bundesregierung im Frühjahr 2020 die Import-Auflagen für Masken und andere Schutzgüter herabsetzte. Weil Deutschland keine eigene Produktionsstätten zum Beispiel für FFP2-Masken hatte, sollten Hersteller auch Produkte, die nicht nach europäischen Qualitätsstandards zertifiziert sind, auf den deutschen Markt einführen dürfen. Die übliche Prüfung vor der Einführung entfiel.
2276	9	Doch die Umfrage unter den Behörden zeigt, dass offenbar Hersteller und Importeure diese Freiheit in hohem Maße ausnutzten. Nach Angaben der Prüfer wurden häufig gefälschte und unvollständige Dokumente vorgelegt. Zudem war vielfach die Nachverfolgung der Lieferkette eine Herausforderung für die Prüfer.
2276	11	Zum Teil weigerten sich die Händler, nach einer mangelhaften Beurteilung freiwillige Maßnahmen zu ergreifen. Manchmal konnten die Überwachungsbehörden nicht einmal den Importeur ausfindig machen, der für die Einfuhr in Deutschland verantwortlich war. „In den meisten Fällen waren die Wirtschaftsakteure uneinsichtig und argumentierten mit der vermeintlichen technischen Wirksamkeit der Masken, der Mangelsituation und den negativen wirtschaftlichen Folgen“, sagt ein Sprecher der Darmstädter Behörde.
2276	13	Neben der hohen Mängelquote besonders brisant: Bis heute sind Schrott-Masken ohne das Produktsicherheits-Gütesiegel „CE“ oder anderweitige Überprüfungen in Umlauf. Denn obwohl die Einfuhr von Masken und anderen Schutzgütern ohne Extra-Untersuchung zum 1. Oktober 2020 verboten wurde, können Importeure, die vor dem Stichtag bei den Herstellern eingekauft haben, diese noch weiter in den Handel bringen. Eine Nutzung ist bis zum 31. Mai 2022 erlaubt, so das Bundesministerium für Arbeit und Soziales.
2276	15	Trotz Omikron-Welle und obwohl es längst nicht mehr den Notstand bei den Produkten wie zu Beginn der Pandemie gibt, will das Ministerium die Regel nicht früher außer Kraft setzen, sagte ein Sprecher zu „Business Insider“.
2276	17	Der eindeutige Beweis, dass es auch beim Maskentragen nicht um die Gesundheit geht, sondern nur um Unterwerfung.
2276	19	Eigentlich müsste man die Bundesregierung verklagen, wenn man trotz Masketragen Corona kriegt. (Mit Material von dts)