22181	1	Schwerbewaffnete Migranten zeigen wie fahrlässig und verantwortungslos die ÖVP-Asyl-Propaganda ist!
22181	3	„Welche brandgefährlichen Auswüchse die ausufernde illegale Masseneinwanderung annimmt, zeigt der Aufgriff von vierzig über beide Ohren schwer bewaffneter Migranten kurz vor der ungarischen Grenze“, zeigte sich heute FPÖ-Sicherheitssprecher NAbg. Hannes Amesbauer besorgt über dementsprechende Medienberichte und sagte weiter: „Es macht deutlich wie fahrlässig und verantwortungslos die ‚ÖVP-Asyl-Propaganda‘ ist. Einerseits die Schlagzeilen ständig mit kantigen aber substanzlosen Aussagen zu fluten und andererseits den Kopf in den Sand stecken und sich hinter der krachend gescheiterten EU-Migrationspolitik und dem Unionsrecht zu verstecken geht sich angesichts der dynamischen Entwicklungen einfach nicht mehr aus. Entweder der derzeit amtierende ÖVP-Innenminister Karner macht endlich seine Arbeit oder er nimmt den Hut.“
22181	5	„Was muss eigentlich noch passieren, damit die schwarz-grüne Bundesregierung endlich kapiert, dass es so wie jetzt keinesfalls weitergehen kann?,“ fragte sich Amesbauer. „Wir haben heuer schon deutlich über 30.000 Illegale ins Land gelassen. Mittlerweile gibt es Schätzungen, dass es 70.000 oder noch mehr bis Jahresende werden. Das sind Dimensionen wie im Schreckensjahr 2015,“ betonte der freiheitliche Sicherheitssprecher, der auch daran erinnerte, dass damals sogar unter Rot-Schwarz eine Obergrenze von 37.500 Asylanträgen im Jahr eingeführt wurde, um die Aufrechterhaltung der öffentlichen Sicherheit und Ordnung sowie des sozialen Friedens gewährleisten sowie das Funktionieren der staatlichen Einrichtungen sicherstellen zu können. „Diese ohnehin schon sehr hohe Obergrenze wurde bereits im Jahr 2021 mit fast 40.000 Asylanträgen überschritten und wird heuer förmlich pulverisiert,“ so Amesbauer.
22181	7	„Es ist bekannt, dass im Zuge dieser Migrationswellen auch Schwerkriminelle, islamistische Extremisten und Jihadisten nach Europa und Österreich kommen. Mittlerweile auch ganze Truppen mit einem Waffenarsenal. Hier kann es kein warten mehr auf die EU geben, so wie sich Innenminister Karner zuletzt aus seiner Verantwortung herausargumentieren wollte. Grenzen dicht machen und das Asylrecht für illegale Einwanderer aus aller Herren Länder aussetzen, Zurückweisungen durchführen und abschieben, abschieben, abschieben. Es geht um unsere Sicherheit“, so Amesbauer abschließend.