2266	1	Medwedew denkt laut nach: In zwei Jahren keine Ukraine mehr „auf der Weltkarte“?
2266	3	Im Windschatten des derzeitigen Waffenganges in der Ukraine wird auch über die Zukunft des Landes kräftig spekuliert. So beförderte Polen zuletzt Planspiele über eine formelle Föderation beider Länder (die für Polen auf eine Rückgewinnung der ehemaligen polnischen Ostgebiete in der Westukraine hinausliefe). Moskau steht solchen Überlegungen nicht prinzipiell ablehnend gegenüber und stellt das erhebliche Konfliktpotential zwischen polnischen und ukrainischen Nationalisten in Rechnung.
2266	5	Nun hat auch die russische Seite die Spekulationen über die Zukunft der Ukraine weiter befeuert. Der russische Ex-Präsident Medwedew, derzeit Vorsitzender des Sicherheitsrates der Russischen Föderation, stellte auf Telegram den Fortbestand einer selbständigen Ukraine kurzerhand in Frage. Er habe gelesen, die Ukraine wolle Verträge über die Lieferung von US-amerikanischem Flüssiggas für zwei Jahre abschließen, schrieb Medwedew, und fügte hinzu: „Nur eine Frage: Wer hat denn gesagt, daß die Ukraine in zwei Jahren überhaupt noch auf der Weltkarte existieren wird?“
2266	7	Der Kreml kommentierte Medwedews Aussagen nicht direkt. Sprecher Dmitri Peskow sagte auf Nachfrage von Journalisten lediglich: „Wir wissen, daß die Ukraine große Probleme hat.“ Das Land weigere sich weiterhin, „nationalistische Einheiten“ in den eigenen Reihen zu „zügeln“, meinte Peskow. „Und deshalb verspricht das natürlich nichts Gutes für die Ukraine.“
2266	9	Erst am Montag hatte der Chef der russischen Raumfahrtbehörde, Dmitri Rogosin, geäußert: „Das, was in der Ukraine gewachsen ist, ist eine existenzielle Bedrohung für das russische Volk, die russische Geschichte, die russische Sprache und die russische Zivilisation.“ Dann schrieb er: „Deshalb laßt uns all dem besser ein Ende bereiten. Ein und für allemal.“ 