2259	1	Endlich mit dem Virus leben lernen
2259	3	Was bitte schön, kommt als Nächstes? Maskentragepflicht beim Sex? Diese Regierung, die Neuwahlen wie der Teufel das Weihwasser scheut, ist nicht nur inkompetent, wie die Mehrheit der Österreicher schon zu glauben scheint, sondern vor allem peinlich.
2259	5	Die hilflose und falsche, weil kaum Evidenz basierte Corona-Bekämpfungspolitik von Nehammer & Co. wird immer mehr zu einem schrillen Durchhaltekampf, der dem Volk im Endeffekt mehr schaden als nutzen könnte. Denn wenn alles so organisiert wird wie die Einführung des Impfzwangs, der – wie man nun hört – technisch gar nicht so schnell in Angriff genommen werden kann, ist auch zu befürchten, dass die Auswirkungen des erzwungenen Nadelstichs im Vorfeld nicht wirklich durchdacht worden sind.
2259	6	Die Zwangs-Maßnahmen endlich abblasen
2259	8	Wie bei so vielen Maßnahmen dürfte auch dabei nur Wunschdenken im Spiel gewesen sein. Noch ist es Zeit, die Zwangsimpfung abzublasen wie auch alle anderen nicht mehr nachvollziehbaren “Schutzmaßnahmen” der Regierung, die diese fortan jedem einzelnen Bürger selbst überlassen sollte. Diese wissen nämlich längst, was die Regierung offenbar noch immer nicht begreifen möchte, nämlich: dass es künftig auch ohne ständigen Ausnahmezustand mit dem Virus wird leben müssen!