22188	1	"Mein Flugzeug wird durch Windräder angetrieben!" – Merz weist Klimakritik von sich
22188	3	Arnsberg (dpo) - Nach Kritik an seinem Privatflug aus dem Sauerland zu Christian Lindners Hochzeit auf Sylt setzt sich Friedrich Merz nun zur Wehr: Von Umweltschädigung und Kraftstoffverschwendung könne keine Rede sein, so der CDU-Chef.
22188	5	"Vielleicht hätten sich all die Kritiker einfach meine DA62 mal genauer ansehen sollen", erklärte Merz gegenüber dem Postillon. "Die wird nämlich von zwei Windrädern angetrieben, die sich während der ganzen Flugreise irre schnell drehen."
22188	7	Er habe immer gedacht, Grüne würden auf sowas total abfahren, so Merz. "Und jetzt soll das auch wieder nicht richtig sein?"
22188	9	Um derartiger Kritik künftig aus dem Weg zu gehen, werde er zur nächsten Hochzeit auf Sylt jedoch nicht mehr fliegen, sondern sicherheitshalber mit seinem Privatkreuzfahrtschiff anreisen.