2249	1	Bilderberg-Firmen hatten Russland aufgebaut 
2249	3	Die Bilderberg-Gruppe, deren jährliches Geheimtreffen vor einigen Tagen in den USA stattfand, wirkt aktuell wie ein Kriegskabinett und vermarktet sich gegenüber manchen der eigenen Teilnehmer als traditionelles, transatlantisches Bündnis, um die Bedrohung durch den Ostblock zu konfrontieren.
2249	5	Das amerikanische Verteidigungs-Establishment ist zu Gast, Geheimdienst-Chefs, Vertreter der neuen NATO-Mitglieder Schweden und Finnland, Experten für China und Russland, sowie manche Personen, die quasi als Agenten in der Ukraine tätig waren.
2249	7	Bilderberg-Konzerne verkauften Russland ganze Schlüssel-Industrien. Die Chef-Bilderberger Kissinger und Rockefeller pflegten die intimsten, exklusivsten Verbindungen zum Kreml. So hatten Konzerne aus dem Umfeld von Bilderberg dermaßen umfassend den kommunistischen Ostbock aufgebaut, das man wahrlich von einer globalen Organisation sprechen kann.(Konspiratives Bilderberg-Treffen von „Spionen, Kriegsfalken und Weltführern“ entzieht sich der Medienbeobachtung (Videos)(link is external))
2249	9	Das Ausmaß ist verblüffend und steht diametral dem damaligen und heutigen Ost-West-Denkmuster gegenüber. 