22194	1	"So, jetzt reicht's!": Queen führt wieder absolute Monarchie ein
22194	3	Donnerstag, 7. Juli 2022
22194	4	"So, jetzt reicht's!": Queen führt wieder absolute Monarchie ein
22194	6	London (dpo) - Genug ist genug! Angesichts der chaotischen Zustände in der britischen Politik hat Königin Elisabeth II. heute ein Machtwort gesprochen: Wie die 96-Jährige in einer TV-Ansprache bekanntgab, wird die parlamentarische Monarchie mit sofortiger Wirkung wieder in eine absolute Monarchie umgewandelt.
22194	8	"Ich habe mir diesen lächerlichen Demokratiezirkus jetzt lange genug mitangesehen und ich bin not amused", so die sichtlich verärgerte Queen in ihrer Rede an ihre Untertanen. "Skandale, unzählige Rücktritte, Kabinettsumbildungen, Brexit, Misstrauensanträge, vorgezogene Wahlen… Es reicht!"
22194	10	Künftig werde daher wieder die sichere Hand der Königin über alle politischen Fragen bestimmen – das Parlament ist damit vollständig entmachtet. Der bisherige Premierminister Boris Johnson sowie zahlreiche andere Politiker und Minister wurden von Mitgliedern der Queen's Guard in den Kerker geworfen.
22194	12	Rechtlich abgesichert ist die Wiederherstellung der absoluten Monarchie durch einen Zusatzartikel der Magna Carta. Die entsprechende Passage besagt: "(...) if þe Pryme Ministre fucketh uppe majorly, þe Kynge or Qween shall regaine thereupon His or Her powre and rule as in olde tymes (...)"
22194	14	Die Antrittsrede der frischgebackenen Alleinherrscherin offenbarte zahlreiche Neuerungen in der politischen Ausrichtung des Vereinigten Königreiches: So soll als neues außenpolitisches Hauptziel gelten, die im Hundertjährigen Krieg zwischen 1337 und 1453 an Erzfeind Frankreich verlorenen Gebiete wieder zurückzuerlangen – notfalls auch mit Waffengewalt.
22194	16	Auch die ehemalige Kolonie USA soll schnellstmöglich in den Schoß der Monarchie zurückkehren. Insidern zufolge laufen bereits Verhandlungen mit US-Präsident Joe Biden, der ebenfalls seit einiger Zeit die Kontrolle über sein Land verloren hat.