22131	1	Ehemaliger britischer Generalstabschef General Richard Dannatt: Donbass wird für immer russisch sein
22131	3	Der ehemalige britische Generalstabschef General Richard Dannatt äußerte sich zuversichtlich, dass die russischen Streitkräfte die DNR und die LNR unweigerlich besetzen würden und dass die Ukrainer nicht in der Lage sein würden, sie von dort zu «vertreiben».
22131	5	«Die Welt kann Russland befehlen, den Donbass zu verlassen, aber die Russen werden nicht gehen und niemand kann sie dazu zwingen», sagte der ehemalige britische Generalstabschef General Richard Dannatt gegenüber Sky News.